<h3>Order to refund</h3>
<div style='border:3px black solid'>
<%= render :partial=>'/orders/full_order', :locals=>{:order=>@original_order}%>
</div>
<h3>Additional Instructions</h3>
<div style='border:3px black solid'>

<%= error_messages_for :order %>

<%-case-%>
<%-when @original_order.status != Order::PROCESSED -%>
  <h3>Can only refund orders in the Processed state.</h3>
<%-when @original_order.payments.count != 1 -%>
  <h3>Can only refund orders with only 1 payment</h3>
<%-when @original_order.payments.first.class == CreditCardPayment -%>
  <h3>Please fill in the information for the card ending <%=@original_order.payments.first.card_last_four%>.</h3>
  <%= form_for [:admin,@original_order,@refund_order], :url=>admin_order_refund_orders_path(@original_order) do |order_form| -%>
    <%- order_form.fields_for :credit_card_payments do |credit_card_payment_form| -%>
	<p>
	<%= credit_card_payment_form.label :card_number %>
	<%= credit_card_payment_form.text_field :card_number %>
	</p>
  <%- end -%>
    <p>
	    <%= order_form.label :notes %>
	    <%= order_form.text_field :notes %>
    </p>
    <p>
      <%= order_form.submit 'Process Refund', :disable_with => 'Processing...'%>
    </p>
  <% end -%>
<%-when @original_order.payments.first.class == CashPayment -%>
  <h3>Render <%=@original_order.payments.first.amount%> in cash and then press 'Process Refund' button.</h3>
  <%= form_for [:admin,@original_order,@refund_order], :url=>admin_order_refund_orders_path(@original_order) do |order_form| -%>
    <p>
      <%= order_form.submit 'Process Refund', :disable_with => 'Processing...'%>
    </p>
  <% end -%>
<%-else -%>
  <h3>Can't refund this order.</h3>
<%-end-%>



</div>
