<h3>Order to refund</h3>
<div style='border:3px black solid'>
<%= render :partial=>'/orders/full_order', :locals=>{:order=>@original_order}%>
</div>
<h3>Additional Instructions</h3>
<div style='border:3px black solid'>

<%= error_messages_for :order %>

<%-case-%>
<%-when (!@original_order.refundable?) -%>
  <h3>This order can't be refunded, as it hasn't been processed.</h3>
<%-when @original_order.payments.count != 1 -%>
  <h3>Can only refund orders with only 1 payment</h3>
<%-when @original_order.payments.first.class == CreditCardPayment -%>
  <h3>Note the reason for the refund and press "Process Refund"</h3>
  <%= form_for [:admin,@original_order,@refund_order], :url=>admin_order_refund_orders_path(@original_order) do |order_form| -%>
    <p>
	    <%= order_form.label :notes %>
	    <%= order_form.text_field :notes %>
    </p>
    <p>
      <%= order_form.submit 'Process Refund', :disable_with => 'Processing...'%>
    </p>
  <% end -%>
<%-when @original_order.payments.first.class == CashPayment || @original_order.payments.first.class == ExchangePayment -%>
  <h3>Render <%=number_to_currency(@original_order.payments.first.amount)%> in cash and then press 'Process Refund' button.</h3>
  <%= form_for [:admin,@original_order,@refund_order], :url=>admin_order_refund_orders_path(@original_order) do |order_form| -%>
   <p>
	    <%= order_form.label :notes %>
	    <%= order_form.text_field :notes %>
    </p>
    <p>
      <%= order_form.submit 'Process Refund', :disable_with => 'Processing...'%>
    </p>
  <% end -%>
  <%- when @original_order.payments.first.class == MembershipPayment -%>
    <%= form_for [:admin,@original_order,@refund_order], :url=>admin_order_refund_orders_path(@original_order) do |order_form| -%>
      <p>
      <%= order_form.submit 'Cancel Membership reservation', :disable_with=>'Processing...' %>
    </p>
  <%- end %>
<%-else -%>
  <h3>Can't refund this order.</h3>
<%-end-%>



</div>
