<h1>New ticket_class</h1>

<% form_for(@ticket_class) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :class_code %><br />
    <%= f.text_field :class_code %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', ticket_classes_path %>