%div.row
  %div.small-12.medium-6.columns
    %h4
      %i= ticket_order.performance.production.name
    %h5= "#{ticket_order.performance.performance_date.to_s(:long_with_day_of_week)} #{ticket_order.performance.performance_time.to_s(:hour_min)}"
    =render '/admin/addresses/info', :address=>ticket_order.address, :breadcrumb_order=>ticket_order
  %div.small-12.medium-6.columns
    - if ticket_order.exchanged? || !ticket_order.exchange_source_id.nil?
      %div.row
        %div.small-12.columns
          %fieldset
            %legend Exchange History
            - target = ticket_order.exchanged_for
            - unless target.nil?
              %p
                Exchanged for order #
                = link_to target.id, [:admin, target]
            - unless ticket_order.exchange_source.nil?
              %p
                Exchanged from order #
                = link_to ticket_order.exchange_source_id, [:admin, ticket_order.exchange_source]

    = render '/admin/ticket_line_items/table', :order=>ticket_order
    = render '/admin/special_offer_line_items/table', :order=>ticket_order
%div.row
  %div.small-12.columns
    = render :partial => '/admin/orders/payments', :locals=>{:order=>ticket_order}
    - if ticket_order.seatable?
      = render :partial => '/admin/ticket_orders/seating', :locals=>{:ticket_order=>ticket_order}
    = render :partial => '/admin/orders/referral', :locals=>{:order=>ticket_order}
%div.row
  %div.small-12.columns
    - if !ticket_order.marketing_source.blank?
      Heard about the show via
      %b= ticket_order.marketing_source
