= order_form.hidden_field :status
.row
  .small-6.columns
    = order_form.simple_fields_for :address do |address_form|
      = render '/admin/orders/name_form', :f => address_form

      = order_form.input :special_request, :as=>:select, :collection=>TicketOrder::SEATING_REQUESTS + ['See Notes'], :label=>"Special seating requirements?"
      = order_form.input :hold_under, :label=>'Hold reservation under'
  %div.small-6.columns
    = render '/admin/orders/billing_form', :order_form=>order_form
%div.row
  %div.small-12.medium-6.columns
    = order_form.simple_fields_for :address do |address_form|
      = render '/admin/orders/address_form', :f => address_form
  %div.small-12.medium-6.columns
    %fieldset
      %legend Marketing
      = order_form.input :add_to_email_list, :as=>:boolean, :label=>'Add to email list?', :default=>false
      = order_form.input :marketing_source, :collection=>Order::REFERRALS, :label=>"How did you hear about the show?"
.row
  .small-12.columns
    = order_form.input :notes, :input_html => {:rows => 4}
  .small-12.columns
    = render partial:'order_actions', locals:{order_form:order_form}
  .small-12.columns
    = render '/admin/orders/audit_show', :order_form=>order_form.object
