= order_form.simple_fields_for :ticket_line_items do |tlif|
  %div.grid-x
    .small-6.medium-3.cell
      = tlif.label 'Ticket Class'
    .small-6.medium-3.cell
      = tlif.label "\# Tix"
    .small-6.medium-2.cell
      = tlif.label 'Price'
    .small-3.medium-2.cell
      = tlif.label 'Total'
    .small-3.medium-2.cell
      &nbsp;

  = render '/admin/ticket_orders/ticket_line_item_fields', :f=>tlif, :production_selector=>'#ticket_order_production_code', :performance_selector=>'#ticket_order_performance_code',input_html: {'data-auto-focus'=>true}
  .links
    = link_to_add_association 'Add tickets', order_form, :ticket_line_items, :class=>'tiny button', :partial=>'admin/ticket_orders/ticket_line_item_fields', :id=>'add-ticket-line-item'
    %strong Ticket Total:
    %span#order_total $0.00
= content_for :js do
  :javascript
    $("#add-ticket-line-item").click(function() {
      setTimeout(function() {
        $(".recalculate-required").click(function() {
          console.log("attached script running")
          setTimeout(function() {
            recalculate_ga_total()
          },20);
        });
      },0);
    });
