%div.row
  %div.small-12.columns
    %div#note_control
      - unless order.notes.blank? && order.special_request.blank? && order.hold_under.blank?
        %div.row
          %div.small-12.columns
            %fieldset
              %legend Notes/Special Seating
              %p{:class=>'hold-under'}= "Hold under \"#{order.hold_under}\"" unless order.hold_under.blank?
              %p= order.notes unless order.notes.blank?
              %p= order.special_request unless order.special_request.blank?
        %div.row
          %div.small-12.columns
            %a{:href=>'#', :id=>'update_note', :class=>'small button right'} Update Note
      - else
        %a{:href=>'#', :id=>'update_note', :class=>'small button right'} Add note
    %div#update_note_control.hide
      -#
      = form_for( order, :url=>update_notes_admin_ticket_order_path(order), :method=>'post') do |f|
        %fieldset
          %legend Notes
          = render partial:'/admin/ticket_orders/input_notes', locals: {order_form: f}
          = f.submit 'Save update', :class=>'right small button'
