= hidden_field_tag :submit_action, ""
- if can? :fulfill, TicketOrder
  = order_form.submit 'Print Tickets', :class=>'button' if order_form.object.printable?

- if [Order::NEW, Order::HOLD, Order::EXCHANGING, Order::PROCESSING].include? order_form.object.status
  = link_to 'Assign Seats', '#', :class=>'submit-button hide button seating-required order-submit-button', :onclick=>"submitForm('Assign Seats')"
  = link_to 'Place Order', "#", :class=>'submit-button button seating-not-required order-submit-button', :onclick=>"confirmSubmit('Process this order?','Place Order')"

- if ((can?(:hold, TicketOrder) || (can?(:hold_existing, TicketOrder) && !order_form.object.id.nil?)) && order_form.object.unprocessed?)
  = ui_button 'Hold', "#", class: 'submit-button', :onclick=>"submitForm('Hold')", :id=>'hold_button'
  -# = order_form.submit 'Hold', data:{:disable_with => 'Holding...'}, :class=>'button', :id=>'hold_button' if order_form.object.holdable?
- else
  %span#hold_control{:class=>"#{(order_form.object.performance.nil? ? 'hide' : (order_form.object.performance.production.status.eql?(Production::SEASONSEATING)) ? 'show' : 'hide')}"}
    -# = order_form.submit 'Hold', data:{:disable_with => 'Holding...'}, :class=>'button', :id=>'hold_button' if order_form.object.holdable?
- if can?(:cancel, TicketOrder) && (!order_form.object.id.nil? && (order_form.object.held? || order_form.object.processing? || order_form.object.status == Order::EXCHANGING))
  = link_to 'Cancel Order', cancel_admin_order_path(order_form.object), data:{:confirm=>"Are you sure?"}, :method=>:post, :class=>'submit-button button alert'
- elsif can?(:cancel_held_during_seating, TicketOrder) && (order_form.object.held? || order_form.object.processing?)
  = link_to 'Cancel Order', cancel_held_during_seating_admin_ticket_order_path(order_form.object), data:{:confirm=>"Are you sure?"}, :method=>:post, :class=>'button alert'

