/= /admin/ticket_orders/reserved_tickets
= render partial:'/seat_assignments/ticket_class_selector', locals: {order_form: order_form}
#ticket-items{'data-line-items':'[]'}
.grid-x.grid-padding-x
  .cell.small-12.medium-6
    = render partial:'/admin/ticket_orders/reserved_ticket_line_items', locals:{order_form: order_form, show_web_visible_only: false}
    = render partial:'/seat_assignments/non_seat_ticket_picker', locals:{order_form: order_form}
  .cell.small-12.medium-6
    %div#seatmap-area
      - unless order_form.object.performance_id.nil?
        = render partial:"/seat_assignments/available_seatmap", locals:{ticket_order_uuid: order_form.object.uuid, performance: order_form.object.performance}
      - else
        = order_production.seat_map.decorate.base_image_map

= content_for :js do
  = javascript_include_tag 'seat_assignment'
  :javascript
    MutationObserver = window.MutationObserver || window.WebKitMutationObserver;

    var trackChange = function(element) {
      var observer = new MutationObserver(function(mutations, observer) {
        if(mutations[0].attributeName == "value") {
            $(element).trigger("change");
        }
      });
      observer.observe(element, {
        attributes: true
      });
    }

    // Just pass an element to the function to start tracking
    trackChange( $("#performance_id")[0] );

    $(document).ready(function() {
      var original_performance_id=$('#performance_id').val();
      $("#ticket_order_performance_code").on('focusin', function() {

      });
      $("#performance_id").change(function(event, data){
        console.log("DBG: change event registered: updating ticketing panel");
        if ($('#performance_id').val() != original_performance_id) {
          update_ticketing_panel();
          original_performance_id = $('#performance_id').val()
        }
      })
    });

- unless order_form.object.performance_id.blank?
  = content_for :js do
    :javascript
      $(document).ready(function() {
        setTimeout(function() {
          console.log("DEBUG: performance_id set")
          update_ticketing_panel();
        }, 600);
      });
