%figure#seatingmap
  %svg{:version=>"1.1", :xmlns=>"http://www.w3.org/2000/svg", 'xmlns:xlink'=>"http://www.w3.org/1999/xlink", viewBox: "0 0 #{ticket_order.performance.production.seat_map.original_width} #{ticket_order.performance.production.seat_map.original_height}", preserveAspectRatio: "xMinYMin meet"}
    %image{width: "#{ticket_order.performance.production.seat_map.original_width}", height: "#{ticket_order.performance.production.seat_map.original_height}", 'xlink:href': "#{root_url}#{ticket_order.performance.production.seat_map.decorate.base_image_map_url}" }
    - SeatAssignment.available_seat_assignments(ticket_order.performance, ticket_order).each do |sa|
      - state = assignment_keys(sa,ticket_order.uuid)
      - sa_key = "#{sa.id}, #{state}"
      %a{"xlink:href":"#?id=#{sa.seat.location}"}
        %circle{:class=>"seat #{assignment_keys(sa, ticket_order.uuid)}", :cx=>"#{sa.seat.origin_x}", :cy=>"#{sa.seat.origin_y}", :r=>"#{sa.seat.width}", 'data-status': "#{assignment_keys(sa, ticket_order.uuid)}", 'data-assignment-id':"#{sa.id}", 'data-accessible':"#{sa.seat.accessible?}", 'data-location':"#{sa.seat.location}"}