.nested-fields
  %div.row.line_item{ :price=>"#{f.object.ticket_class.try(:ticket_price)}", :ticket_type=>f.object.ticket_class.try(:ticket_type) }
    .small-6.medium-3.columns
      - @it=f.options[:child_index]
      = f.input_field :ticket_class_id, as: :hidden, class: 'ticket_class_ids'
      = f.input_field :ticket_class_code, as: :autocomplete, url: autocomplete_ticket_line_item_ticket_class_code_admin_ticket_orders_path, class: 'code-input', fields: {performance_code: '#ticket_order_performance_code'}, 'data-auto-focus'=>true, id_element: "#ticket_order_ticket_line_items_attributes_#{@it}_ticket_class_id"
    .small-6.medium-3.columns
      = f.input_field :ticket_count, :class=>'ticket_count', :as=>:numeric
    .small-6.medium-2.columns
      %span.price
        = f.object.try(:ticket_class).try(:ticket_type)=='Donation' ? f.input_field(:price_override, :class=>'price_override price', label: 'Override') : f.input_field(:price_override, :class=>'price', :value=>f.object.ticket_class.nil? ? 0.00 : f.object.ticket_class.ticket_price, :disabled=>(f.object.try(:ticket_class).try(:ticket_type)=='Donation' ? nil : 'disabled'))
    .small-3.medium-2.columns
      %div.total{ :style=>'margin-top: .5em' }
        = to_currency f.object.total
    .small-3.medium-2.columns
      = link_to_remove_association "Remove", f, :class=>'tiny alert button right'

