<tr class="line_item" price="<%=f.object.ticket_class.try(:ticket_price)%>" ticket_type="<%=f.object.ticket_class.try(:ticket_type)%>">
  <td width="100em;">
  <%= f.text_field :ticket_class_code, 
                  :class=>'autocomplete_tccode', 
                  :autocomplete_url=>ticket_class_code_admin_auto_complete_index_path,
                   :size=>10 %>
  </td>
  <td width="40em;"><%= f.text_field :ticket_count, :size => 4, :class=>'ticket_count' %></td>
  <td width="60em;">
    <%= f.object.try(:ticket_class).try(:ticket_type)=='Donation' ? 
      f.text_field(:price_override, :class=>'price_override', :size => 6) :
      f.text_field(:price_override, :class=>'price_override', :size => 6, :disabled=>'disabled')
    %>
  </td>
  <td width="80em;" class='total' ><%= to_currency f.object.total%></td>
  <td width="40em;"><%=raw remove_link_unless_new_record(f) %></td>
</tr>
