<%= content_for :jstemplates do -%>
    <%= raw "var ticket_line_item='#{generate_template(order_form, :ticket_line_items, :partial=>'/admin/ticket_orders/ticket_line_item_form')}'" %>
<% end -%>

  <table style="font-size:10px; text-align:left; padding: 0px;">
    <thead>
    <th><%= order_form.label Production %>
    </th>
    <th>
      <%= order_form.label Performance %>
    </th>
    </thead>
    <tr>

      <td valign="top" width="120px">
        <%= order_form.text_field :production_code,
                                  :class=>'autocomplete_prcode',
                                  :autocomplete_url=>production_code_admin_auto_complete_index_path,
                                  :size=>10 %></td>

      <td valign="top" width="120px">
        <%= order_form.text_field :performance_code,
                                  :class=>'autocomplete_pcode',
                                  :autocomplete_url=>performance_code_admin_auto_complete_index_path,
                                  :size=>10 %>

      </td>
    </tr>
  </table>

    <table id="ticket_line_items" style="padding: 0px; text-align: left;">
      <thead>
      <th>Class</th>
      <th>Qty</th>
      <th>Donation</th>
      <th>Total</th>
      </thead>
      <%= order_form.fields_for :ticket_line_items do |ticket_line_item_form| %>
          <%= render :partial => '/admin/ticket_orders/ticket_line_item_form', :locals => {:f => ticket_line_item_form} %>

      <% end %>

     </table>
     <%= link_to 'Add a line item', '#ticket_line_item', :class => "add_nested_item", :rel => "ticket_line_items" %>



