<%= error_messages_for :ticket_order %>

<!-- Initialize the reader -->
<script type="text/javascript">

</script>

<%= semantic_form_for [:admin, @ticket_order], :html=>{:id=>'admin_ticket_order_form'} do |order_form| -%>
  <%= order_form.inputs do %>

    <table width="100%">
      <tr>
        <td valign="top" width="80%">
          <%= render :partial=>'ticket_line_items_form', :locals=>{:order_form=>order_form} %>
        </td>
        <td valign="top" width="20%">
          <p align="right"><b><%= @ticket_order.status %></b></p>
        </td>
      </tr>
    </table>

    <%= render :partial => '/admin/orders/form', :locals=>{:order_form=>order_form} %>

  <%- end -%>

<%- end -%>
