<%= error_messages_for :ticket_order %>

<!-- Initialize the reader -->
<script type="text/javascript">
    jQuery(function () {
        // Create a new reader instance
        var reader = new CardReader();

        // Feed it an object to observe (this could also be a textbox)
        reader.observe($("#ticket_order_credit_card_swipe"));

        // Errback in case of a reading error
        reader.cardError(function () {
            alert("A read error occurred");
        });

        // Callback in case of a successful reading operation
        reader.cardRead(function (value) {
            $('#ticket_order_credit_card_swipe').val(value);
            $('from').submit();
        });
    });
</script>

<%= semantic_form_for [:admin, @ticket_order] do |order_form| -%>
  <%= order_form.inputs do %>

    <table width="100%">
      <tr>
        <td valign="top" width="80%">
          <%= render :partial=>'ticket_line_items_form', :locals=>{:order_form=>order_form} %>
        </td>
        <td valign="top" width="20%">
          <p align="right"><b><%= @ticket_order.status %></b></p>
        </td>
      </tr>
    </table>

    <%= render :partial => '/admin/orders/form', :locals=>{:order_form=>order_form} %>

  <%- end -%>

<%- end -%>
