<%= render :partial=>'/admin/orders/header', :locals=>{:order=>@ticket_order} %>

<%= render :partial=>'detail', :locals=>{:ticket_order=>@ticket_order} %>

<p>
	<% permitted_to? :new, :admin_refund_ticket_orders do %>
    <%= link_to 'Refund Order', new_admin_ticket_order_refund_order_path(@order) if @ticket_order.refundable? %>
  <% end %>
  <% permitted_to? :new, :admin_exchange_ticket_orders do %>
	  <%= link_to 'Exchange Order', new_admin_ticket_order_exchange_ticket_order_path(@ticket_order) if (@ticket_order.exchangeable? && (!current_user.is_theater_user? || (current_user.is_theater_user? && @order.status!=Order::FULFILLED))) %>
  <% end %>
	<%= link_to 'Fulfill Order', fulfill_admin_order_path(@ticket_order) if @ticket_order.fulfillable?  %>
	<% if @ticket_order.status == 'Processing' || @ticket_order.status == 'Hold' || @ticket_order.status == Order::NEW %>
	<%= link_to 'Cancel Order', cancel_admin_order_path(@ticket_order), :confirm => "Are you sure?", :method=>:post %>
	<% end %>
  <% permitted_to? :unclaimed, :admin_orders do %>
    <%= link_to 'Unclaimed', unclaimed_admin_order_path(@ticket_order) if @ticket_order.fulfilled? %>
  <%- end %>
</p>

<%= render :partial => '/admin/orders/audit_show', :locals=>{:order_form=>@ticket_order} %>

