

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-4 columns"%>
          <%= f.input :code %>
        </div>
        <div class="small-4 columns"%>
          <%= f.input :type, :collection=>{"$ Off"=>AmountOffSpecialOffer,"% Off"=>PercentOffSpecialOffer, 'TktClass'=>TicketClassSpecialOffer}, :include_blank=>false %>
        </div>
        <div class="small-4 columns" %>
          <%= f.input :status, :collection=>SpecialOffer::OFFER_STATUSES, :include_blank=>false %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns"%>
          <fieldset>
            <legend>Criteria</legend>
          <%= f.input :limiting_model_type, :label=>"Restrict To", :include_blank=>false, :collection=>[
          	['Any', nil],
          	['Theater', Theater.to_s],
          	['Production', Production.to_s],
          	['Performance', Performance.to_s]
          	] %>

          <%= f.input :limiting_id, :label=>"Limiting Code" %>
          <%= f.input :ticket_class_code, :label=>"To ticket Classes starting with" %>
          </fieldset>
        </div>
        <div class="small-6 columns">
          <fieldset>
            <legend>Action</legend>
            <%= f.input :amount, :label=>"Discount" %>
            <%= f.input :change_ticket_class_code, :label=>"Set ticket class code" %>
          </fieldset>
        </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <fieldset>
          <legend>Use restrictions</legend>

          <div class="small-12 medium-4 columns">
            <%= f.input :number_of_uses, :label=>"Maximum uses" %>
          </div>
          <div class="small-12 medium-4 columns">
            <%= f.input :max_tickets_per_order, :label=>"Max tickets/order" %>
          </div>
          <div class="small-12 medium-4 columns">
            <%= f.input :auto_expire, :as=>:date_picker, :label=>"Expire on" %>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
    <div class="small-12 columns">
      <%= f.button :submit %>
    </div>
  </div>

  </div>
