<h1>Special offers</h1>

<table width="100%" cellspacing="0">
  <thead>
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th># Uses</th>
    <th>Status</th>
    <th>Expires</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <%- rownum = 0
    @special_offers.each do |special_offer|
    rownum += 1 %>
    <tr style="background-color: <%= (rownum % 2 == 0) ? 'lightgray' : 'white' %>;">
      <td><%= special_offer.code %></td>
      <td><%= special_offer.to_s %></td>
      <td align="right"><%= special_offer.number_of_uses %></td>
      <td align="center"><%= special_offer.status %></td>
      <td align="center"><%= unless special_offer.auto_expire.nil?
                special_offer.auto_expire.to_s
              else
                "n/a"
              end%></td>
      <td><%= link_to 'Edit', edit_admin_special_offer_path(special_offer) %></td>
    </tr>
  <%- end %>
</table>

<%= link_to 'Add special offer', new_admin_special_offer_path %>