= content_for :title do
  Special Offers
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: "Special Offers" }]

.grid-x.grid-padding-x
  .small-12.cell
    %table#special_offer_listing{:data=>{:source=>"#{admin_special_offers_path(format: :json)}"}}
      %thead
        %tr
          %th Code
          %th Description
          %th # Uses
          %th Status
          %th Expires
      %tbody

.grid-x.grid-padding-x
  .small-12.cell
    .button-group.small.float-right
      - SpecialOffer::OFFER_TYPES.each do |type, meta|
        = ui_button "Add #{meta[:label]} Offer", new_admin_special_offer_path(type: type)

= content_for :js do
  :javascript
    $(document).ready(function() {
      $('#special_offer_listing').dataTable({
        // dom: 'lf<"toolbar-buttons">rtip',

        "processing": true,
        "serverSide": true,
        "stateSave": true,
        "ajax": $('#special_offer_listing').data('source'),
        "pagingType": 'full_numbers',
        "language": {
          "lengthMenu" : "_MENU_"
        },
        columns: [
          {data: 'code'},
          {data: 'description'},
          {data: 'number_of_uses'},
          {data: 'status'},
          {data: 'expires'},
        ]
      });

      // setupActiveSwitchOnDataTable('#special-offer-listing',3)

    });
