<%= content_for :title do %>Special Offers<% end %>
<% content_for :breadcrumbs do %>
  <ul class="breadcrumbs">
    <li class="current"><a href='#'>Special Offers</a></li>
</ul>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <table id="special-offer-listing" class="hide display">
      <thead>
        <tr>
          <th>Code</th>
          <th>Description</th>
          <th># Uses</th>
          <th>Status</th>
          <th>Expires</th>
        </tr>
      </thead>
      <tbody>
      <% @special_offers.each do |special_offer| %>
        <tr>
          <td><%= link_to special_offer.code, edit_admin_special_offer_path(special_offer) %></td>
          <td><%= special_offer.to_s %></td>
          <td align="right"><%= special_offer.number_of_uses %></td>
          <td align="center"><%= special_offer.status %></td>
          <td align="center"><%= unless special_offer.auto_expire.nil?
                    special_offer.auto_expire.to_s
                  else
                    "n/a"
                  end%></td>

        </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to 'Add special offer', new_admin_special_offer_path, class: 'small button right' %>
  </div>
</div>

<% content_for :js do %>
  <script type="text/javascript">

  $(document).ready(function() {
    $('#special-offer-listing').dataTable({

      dom: 'lf<"toolbar-buttons">rtip',
      stateSave: true,
      pagingType: "foundation",
      columnDefs: [

        {targets: "_all", orderable:false},
        {targets: "0,1", searchable:false},
           ],
      fnInitComplete:function() {
        $("#special-offer-listing").show();
        this.fnAdjustColumnSizing();
      },
    });
    setupActiveSwitchOnDataTable('#special-offer-listing',3)


  });

  </script>
<% end %>
