<%= content_for :title do %>New Special Offer<% end %>
<% content_for :breadcrumbs do %>
  <ul class="breadcrumbs">
    <li><%= link_to 'Special Offers', admin_special_offers_path %></a></li>
    <li class="current"><a href='#'>New Special Offer</a></li>
</ul>
<% end %>

<%= simple_form_for [:admin, @special_offer] do |f| %>
  <%= token_tag %>
  <%= render :partial => '/admin/special_offers/form', :locals=>{:f=>f} %>
<% end %>
