<%= render :partial => 'full_order', :locals=>{:order=>@donation_order} %>

<p>
	<% permitted_to? :new, :admin_refund_orders do %>
    <%= link_to 'Refund Order', new_admin_order_refund_order_path(@donation_order) if @donation_order.refundable? %>
  <% end %>
  <% permitted_to? :new, :admin_exchange_donation_orders do %>
	  <%= link_to 'Exchange Order', new_admin_donation_order_exchange_donation_order_path(@donation_order) if (@donation_order.exchangeable? && (!current_user.is_theater_user? || (current_user.is_theater_user? && @donation_order.status!=Order::FULFILLED))) %>
  <% end %>
	<%= link_to 'Fulfill Order', fulfill_admin_order_path(@donation_order) if @donation_order.fulfillable?  %>
	<% if @donation_order.status == 'Processing' || @donation_order.status == 'Hold' || @donation_order.status == Order::NEW %>
	<%= link_to 'Cancel Order', cancel_admin_order_path(@donation_order), :confirm => "Are you sure?", :method=>:post %>
	<% end %>

</p>

<%= render :partial => '/admin/orders/audit_show', :locals=>{:order_form=>@donation_order} %>

