%div.small-12.cell
  -if address.nil?
    %b UNKNOWN ADDRESS
  - else
    - breadcrumb_order = nil unless (defined? breadcrumb_order)

    %strong= link_to address.full_name, [:admin, address], :breadcrumb_order=>breadcrumb_order
    %br
    - unless address.line1.blank?
      = address.line1
      %br
      - unless address.line2.blank?
        = address.line2
        %br
    - unless address.city.blank?
      = "#{address.city}, #{address.state} #{address.zipcode}"
      %br
    - unless address.email.blank?
      = mail_to address.email, can?(:view_email, Address) ? address.email : "[send e-mail]"
      %br
    - unless address.phone.blank?
      = address.phone
      %br
    - memberships = Membership.where(address_id:address.id, status:RecurringProfile::ACTIVE)
    - unless memberships.count == 0
      
      %i Member ID:
      = memberships.map {|m| m.member_code }.join(',')
      %br
    - if address.vip? || address.placeholder?
      - if address.vip?
        %span.label.info VIP
      - if address.placeholder?
        %span.label.info Placeholder
