= simple_form_for [:admin, address] do |f|
  = token_tag
  .grid-x.grid-padding-x
    .small-12.medium-6.cell
      .grid-x
        .small-12.cell
          = f.input :full_name
          %fieldset.fieldset
            %legend Address
            = f.input :line1, :label=>"Street (line 1)", :required=>false
            = f.input_field :line2, :required=>false
            %div.grid-x
              %div.small-6.cell= f.input :city, :required=>false
              %div.small-3.cell= f.input :state, :required=>false
              %div.small-3.cell= f.input :zipcode, :label=>"Zip Code", :required=>false
        .small-6.cell
          = f.input :vip, :label=>"VIP Customer"
        .small-6.cell
          = f.input :placeholder, :label=>"Not a ticket buyer"
    .small-12.medium-6.cell
      = f.input :email
      = f.input :phone
      = render :partial=>'/admin/addresses/tags', :locals=>{:f=>f}
    .small-12.cell
      = f.button :submit, 'Save Customer', :class=>"button"
