%div.row
  %div.small-12.columns
    %table#order-history-listing.hide.display
      %thead
        Order History
        %tr
          %th Order
          %th Created
          %th Description
          %th Amount
          %th Status
      %tbody
        - total = 0.0
        - orders.sort { |a, b| b.id <=> a.id }.each do |o|
          - amt = o.total
          - total += amt unless amt.nil?
          %tr
            %td= link_to o.id, [:admin, o]
            %td= o.created_at
            %td= o.description
            %td.currency= number_to_currency(amt)
            %td
              %span.label{:class=>order_status_severity_class(o.status)}= o.status
      %tfoot
        %tr.summary
          %th
          %th
          %th
          %th.summary.currency= number_to_currency(total)
          %th

=content_for :js do
  :javascript
    $(document).ready(function() {
      $('#order-history-listing').dataTable({

        dom: 'lf<"toolbar-buttons">rtip',
        stateSave: false,
        order: [[0,"desc"]],
        pagingType: "foundation",
        columnDefs: [
          {targets: "_all", orderable:false},
          {targets: "1,3", searchable:false},
             ],
        fnInitComplete:function() {
          $("#order-history-listing").show();
          this.fnAdjustColumnSizing();
        },
      });


    });
