
.grid-x
  .small-12.cell
    - unless f.object.address_tags.empty?
      = f.simple_fields_for :address_tags do |tag|
        %div.grid-x
          %div.small-6.cell= tag.label :tag_label, 'Tag'
          %div.small-6.cell= tag.label :theater, 'Visibility'
        #address-tags
          = render 'address_tag_fields', :f=>tag
    .small-12.cell
      = link_to_add_association 'add tag', f, :address_tags, :class=>'small button right'
