.grid-x.grid-padding-x.membership_detail
  .small-12.cell
    .grid-x.grid-padding-x
      .small-6.cell
        = link_to membership.membership_offer.name, admin_membership_offer_path(membership.membership_offer.id)


      .small-6.cell
        %span.label.success.right= "Membership #{membership.current_status}"

    .grid-x.grid-padding-x
      .small-6.cell
        %strong Member ID:
        = membership.member_code
      .small-6.cell
        %span.right
          %strong # Tix
          = membership.membership_offer.tickets_per_performance

    %strong Member Since:
    = membership.member_since
    %br
    %strong Next Billing Date:
    = membership.next_billing_date
    - if membership.cancel_at_period_end?
      %span.label.warning= "Cancel pending"

    %br
    %a.button{:href=>PaymentProcessing.subscription_url(membership.profile_id)} Manage Subscription
    %br
    - linked_offers = membership.special_offers
    - codes = []
    - linked_offers.each do |offer|
      - codes << "#{offer.code} (#{offer.to_s})" unless (offer.expired? || offer.exhausted?)
    - unless codes.empty?
      %strong Current Offers:
      = raw codes.join(',')
      