.row.membership_detail
  .small-12.columns
    .row
      .small-6.columns
        = link_to membership.membership_offer.name, admin_membership_offer_path(membership.membership_offer.id)


      .small-6.columns
        %span.label.success.right= "Membership #{membership.current_status}"

    .row
      .small-6.columns
        %strong Member ID:
        = membership.member_code
      .small-6.columns
        %span.right
          %strong # Tix
          = membership.membership_offer.tickets_per_performance

    %strong Member Since:
    = membership.member_since
    %br
    %strong Next Billing Date:
    = membership.next_billing_date
    %br
    %strong Profile ID:
    %a{:href=>"https://www.paypal.com/us/cgi-bin/webscr?cmd=_profile-recurring-payments&encrypted_profile_id=#{membership.profile_id}&mp_id=#{membership.profile_id}&return_to=merchant&flag_flow=merchant#name1"} #{membership.profile_id}
    %br
    - unless membership.failed_payment_count.blank? || membership.failed_payment_count == 0
      %strong Failed Payment Count:
      =  "#{membership.failed_payment_count} (#{number_to_currency(membership.outstanding_balance)})"
      %br
    - linked_offers = membership.special_offers
    - codes = []
    - linked_offers.each do |offer|
      - codes << "#{offer.code} (#{offer.to_s})" unless (offer.expired? || offer.exhausted?)
    - unless codes.empty?
      %strong Current Offers:
      = raw codes.join(',')
    %ul.button-group.right
      - if membership.suspended?
        %li
          =link_to 'Reactivate', reactivate_admin_membership_order_path(@order), class:"tiny button"
      - unless membership.canceled?
        %li
          =link_to 'Cancel', cancel_admin_membership_order_path(@order), class: "tiny button alert", confirm: "Cancel this payment PERMANENTLY?"
