<% title "Admin/Memberships" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for membership in @memberships %>
    <tr>
      <td><%= membership.name %></td>
      <td><%= link_to "Show", [:admin, membership] %></td>
      <td><%= link_to "Edit", edit_admin_membership_path(membership) %></td>
      <td><%= link_to "Destroy", [:admin, membership], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Membership", new_admin_membership_path %></p>
