-unless theater_sales_data&.empty?
  .grid-x.grid-padding-x
    .small-12.cell
      %h5 Rate of Sale: Past Seven Days by Theater
    .cell.small-12.medium-8
      %table
        %thead
          %tr
            %th Theater
            %th Total Tickets
            %th Total Comps
            %th Gross $
            %th Fees
        %tbody
          - theater_sales_data.each_with_index do |theater_sales_data, index|
            %tr{ class: ((index).even? ? 'even' : 'odd') }
              %td= theater_sales_data[:name]
              %td= theater_sales_data[:total_tickets]
              %td= theater_sales_data[:total_comps]
              %td= number_to_currency(theater_sales_data[:total_gross_sales])
              %td= number_to_currency(theater_sales_data[:total_processing_fee])
    .cell.small-12.medium-4
      = bar_chart @theater_sales_data, xtitle: "Gross Sales", ytitle: "Theater", legend: false, stacked:true
