<table width="100%">
  <tr>
    <td width="80%" valign="top"><%= render :partial => '/admin/addresses/address_contact_info', :locals=>{:address=>order.address, :link_to_address=>true} %>
    </td>
    <td align="right" valign="top" width="20%"><i>Order ID <%= h order.id %></i><br/><b><%= order.status %></b></td>
  </tr>
</table>

<%- if !order.check_number.blank? %><p>
  Check Number: <%= order.check_number %>
  </p>
<%- end %>

<%- if !order.marketing_source.blank? %>
  <p>
    Heard about the show via <b><%= order.marketing_source %></b>
  </p>
<%- end %>

<%- if !order.notes.blank? -%>
  <p>
  <fieldset class="fieldset">
    <legend>Notes</legend>
    <%= order.notes %>
  </fieldset>
  </p>
<%- end -%>
