
<%= error_messages_for :flex_pass_order %>

<%= semantic_form_for [:admin, @flex_pass_order] do |order_form| -%>
  <%= order_form.inputs do %>

    <table width="100%">
      <tr>
        <td valign="top" width="80%">
            <%= order_form.semantic_fields_for :flex_pass_line_items do |flex_pass_line_item_form| %>
              <%= render :partial => '/admin/flex_pass_orders/flex_pass_line_item_form', :locals => {:f => flex_pass_line_item_form} %>
            <%- end -%>

        </td>
        <td valign="top" width="20%">
          <p align="right"><b><%= @flex_pass_order.status %></b></p>
        </td>
      </tr>
    </table>


    <%= render :partial => '/admin/orders/form', :locals=>{:order_form=>order_form} %>

  <%- end -%>

<%- end -%>
