= render '/admin/orders/header_bar', :order=>@flex_pass_order

= simple_form_for [:admin, @flex_pass_order], :html=>{:id=>'admin_flex_pass_order_form'} do |order_form|
  = token_tag
  = hidden_field_tag :submit_action, "Place Order"
  .grid-x.grid-padding-x
    .small-12.medium-12.cell
      = order_form.simple_fields_for :flex_pass_line_item do |flex_pass_line_item_form|
        = render '/admin/flex_pass_orders/flex_pass_line_item_form', :f => flex_pass_line_item_form
      = order_form.hidden_field :status
      = order_form.simple_fields_for :address do |address_form|
        = render '/admin/orders/name_form', :f => address_form
      .grid-x.grid-padding-x
        .small-12.medium-6.cell
        .small-12.medium-6.cell
          %h5= @flex_pass_order.flex_pass_line_item.flex_pass_offer.name
          = display_markdown(@flex_pass_order.flex_pass_line_item.flex_pass_offer.description)
    %div.small-12.medium-6.cell
      = render '/admin/orders/billing_form', :order_form=>order_form
    %div.small-12.medium-6.cell
      = order_form.simple_fields_for :address do |address_form|
        = render '/admin/orders/address_form', :f => address_form
  .grid-x.grid-padding-x
    .small-12.cell
      = render partial:'/admin/orders/input_notes', locals:{order_form: order_form}
    .small-12.cell
      = link_to 'Place Order', "#", :class=>'submit-button button order-submit-button', :onclick=>"confirmSubmit('Process this order?','Place Order')"
    .small-12.cell
      = render '/admin/orders/audit_show', :order_form=>order_form.object
