<%= render :partial=>'/admin/orders/header', :locals=>{:order=>@flex_pass_order} %>

<fieldset>
  <legend>Flex Pass</legend>

  <%= render :partial => '/admin/flex_pass_line_items/table', :locals=>{:order=>@flex_pass_order} %>
</fieldset>

<%= render :partial => '/admin/special_offer_line_items/table', :locals=>{:order=>@flex_pass_order} %>
  <%= render :partial => '/admin/orders/payments', :locals=>{:order=>@flex_pass_order} %>
<!-- %= render :partial => 'order_detail', :locals=>{:order=>@order } % -->

<%= render :partial => '/admin/orders/referral', :locals=>{:order=>@flex_pass_order} %>

<p>
	<% permitted_to? :new, :admin_refund_orders do %>
    <%= link_to 'Refund Order', new_admin_order_refund_order_path(@flex_pass_order) if @flex_pass_order.refundable? %>
  <% end %>
  <%= link_to 'Fulfill Order', fulfill_admin_order_path(@flex_pass_order) if @flex_pass_order.fulfillable?  %>
	<% if @flex_pass_order.status == 'Processing' || @flex_pass_order.status == 'Hold' || @flex_pass_order.status == Order::NEW %>
	<%= link_to 'Cancel Order', cancel_admin_order_path(@flex_pass_order), :confirm => "Are you sure?", :method=>:post %>
	<% end %>
</p>

<%= render :partial => '/admin/orders/audit_show', :locals=>{:order_form=>@flex_pass_order} %>
