.grid-x.grid-padding-x
  .small-12.cell
    = render '/admin/orders/header', :order=>@flex_pass_order
.grid-x.grid-padding-x
  .small-12.medium-6.cell
    %fieldset.fieldset
      %legend Holder Info
      =render '/admin/addresses/info', :address=>@flex_pass_order.address, :breadcrumb_order=>@flex_pass_order
  .small-12.medium-6.cell
    %fieldset.fieldset
      %legend Flex Pass
      - if @flex_pass_order.flex_pass_line_item&.flex_pass.present?
        = render :partial => '/admin/flex_pass_line_items/flex_pass_line_item', :locals=>{flex_pass: @flex_pass_order.flex_pass_line_item.flex_pass}
      - else
        %i No associated flex pass
.grid-x.grid-padding-x
  .small-12.cell
    = render '/admin/orders/payments', :order=>@flex_pass_order
    = render '/admin/orders/referral', :order=>@flex_pass_order
.grid-x.grid-padding-x.hide-for-small-only
  .medium-12.cell
    = render '/admin/flex_pass_orders/order_history', :order=>@flex_pass_order

.grid-x.grid-padding-x
  .small-12.cell
    - if can? :new, :admin_refund_orders
      = link_to 'Refund Order', new_admin_order_refund_order_path(@flex_pass_order), :class=>'small alert button' if @flex_pass_order.refundable?
    = link_to 'Fulfill Order', fulfill_admin_order_path(@flex_pass_order), :class=>'small button' if @flex_pass_order.fulfillable?
    - if @flex_pass_order.status == 'Processing' || @flex_pass_order.status == 'Hold' || @flex_pass_order.status == Order::NEW || can?(:cancel, FlexPassOrder)
      = link_to 'Cancel Order', cancel_admin_order_path(@flex_pass_order), :class=>'small alert button', data: { confirm: "Are you sure you want to cancel this FlexPass order? The order will be refunded and any upcoming ticket orders using this flex pass will also be cancelled." }, :method=>:post

.grid-x.grid-padding-x
  .small-12.cell
    = render '/admin/orders/audit_show', :order_form=>@flex_pass_order