#ticket-modal.xlarge.reveal(data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-assignment-id="none")
  %p.lead
    Select the ticket type for seat
    %span#seat-location &nbsp;
  #accessible.hide
    This seat can be utilized by guests with or without a wheelchair.
    %div{style:"display:inline-block; vertical-align:middle;"}
      %label{for:'convert-accessible', style:"word-wrap:break-word"}
        If you utilize a wheelchair and would like to remain in it during the performance, check here:
        &nbsp;
        %input#convert-accessible{type:'checkbox', value:"wheelchair", name:"convert-accessible"}

  .grid-x.grid-padding-x{:style=>'margin-bottom: 8px'}
    .small-6.cell
      %strong Type
    .small-3.cell
      %strong Price/ticket
    .small-3.cell
      &nbsp;
    - if order_form.object.performance.nil?
      #ticket-selector
    - else
      #ticket-selector
        -# Box office staff may sell classes hidden from the public purchase page;
        -# mirrors the ability gate in PerformancesController#ticket_classes.
        - show_backend_classes = can? :view_backend_classes, TicketClassAllocation
        - order_form.object.performance.ticket_class_allocations.each do |tca|
          -if tca.available? && !tca.ticket_class.software_managed? && (tca.ticket_class.web_visible? || show_backend_classes)
            - tc = tca.ticket_class
            .grid-x.grid-padding-x{class: ('front-facing' if tc.web_visible?), "data-ticket-type" => tc.ticket_type, "data-zone-id" => tc.zone_id}
              .small-6.cell.vertical-center

                = tc.class_name
                - unless tc.purchase_page_annotation.blank?
                  %span.ticket_class_annotation
                    = display_markdown(tc.purchase_page_annotation)
              .small-3.cell
                - if tc.software_managed? || tc.hide_pricing?
                  n/a
                - elsif tc.ticket_type == TicketClass::DONATION
                  %input.donation-price-override{type:"number", step:"0.01", min:"0", value: tc.ticket_price, placeholder: number_to_currency(tc.ticket_price)}
                -else
                  %span.ticket_price= number_to_currency(tc.ticket_price)
              .small-3.cell
                %a.button.tiny.ticket-class-select-button{href:'#',"data-ticket-class":tc.id, "data-ticket-type":tc.ticket_type} Select

    #no-ticket-classes-message{style: "display:none"}
      %p No ticket types are available for this seat.

  %button.close-button(data-close aria-label="Close modal" type="button")
    %span(aria-hidden="true") &times;
= render partial: "/seat_assignments/seating_config", locals: {performance_id: order_form.object.performance_id, order_uuid: order_form.object.uuid }

= content_for :js do
  :javascript
    function populate_ticket_selector() {
      data = $.parseJSON($("#ticket-items").data('line-items'))
      $("#ticket-selector").empty()
      $.each( data, function( key, val ) {
        ticket_class_id = val['id']
        var ticket_type = val['ticket_type']
        var visible_style
        if (val['web_visible']) {
          visible_style = "front-facing"
        } else {
          visible_style = ""
        }
        var row = document.createElement("div")
        row.setAttribute("class", "grid-x grid-padding-x " + visible_style)
        row.setAttribute("data-ticket-type", ticket_type || "")
        row.setAttribute("data-zone-id", val['zone_id'] || "*")
        col = create_column("6",val['class_name'])
        if (val['purchase_page_annotation']) {
          span = document.createElement('span')
          span.setAttribute("class","ticket_class_annotation")
          span.appendChild(document.createTextNode(val['purchase_page_annotation']))
          col.appendChild(span)
        }
        row.appendChild(col)
        var price_col = create_column("3", "")
        if (ticket_type === "Donation") {
          var priceInput = document.createElement("input")
          priceInput.setAttribute("type","number")
          priceInput.setAttribute("step","0.01")
          priceInput.setAttribute("min","0")
          priceInput.setAttribute("class","donation-price-override")
          priceInput.setAttribute("value", val['raw_ticket_price'])
          priceInput.setAttribute("placeholder", val['ticket_price'])
          price_col.appendChild(priceInput)
        } else {
          price_col.appendChild(document.createTextNode(val['ticket_price']))
        }
        row.appendChild(price_col)
        button = document.createElement("a")
        button.setAttribute("class","tiny ticket-class-select-button button")
        button.setAttribute("href","#")
        button.setAttribute("data-ticket-class",ticket_class_id)
        button.setAttribute("data-ticket-type", ticket_type || "")
        button.appendChild(document.createTextNode('Select'))
        row.appendChild(create_column("3","",button))

        $("#ticket-selector").append(row)

      });


    }
