<%= f.hidden_field :theater_id %>
<p>
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</p>
<p>
  <%= f.label :number_of_tickets %><br />
  <%= f.text_field :number_of_tickets %>
</p>
<p>
  <%= f.label :payout_per_ticket %><br />
  <%= f.text_field :payout_per_ticket %>
</p>
