<h1>Editing flex_pass_offer</h1>

<%= semantic_form_for ([:admin,@flex_pass_offer]) do |f| %>
  <%= f.inputs do %>

    <%= render :partial => 'form', :locals=>{:f=>f} %>


  <%= f.action :submit, :label => "Update" %>
  <%- end -%>
<%- end -%>

<%= link_to 'Show', [:admin,@flex_pass_offer] %> |
<%= link_to 'Back', admin_flex_pass_offers_path %>
