<h1>Flex pass offers</h1>

<table>
<thead>
<th>Id</th>
<th>Theater</th>
<th>Price</th>
<th>Number of tickets</th>
<th>Payout/Ticket</th>
<th>Created at</th>
<th>Updated at</th>
<th>Actions</th>
</thead>
<%- @flex_pass_offers.each do |flex_pass_offer| -%>
<tr>
<td><%= flex_pass_offer.id %></td>
<td><%= flex_pass_offer.theater.to_s %></td>
<td><%= flex_pass_offer.price %></td>
<td><%= flex_pass_offer.number_of_tickets %></td>
<td><%= flex_pass_offer.payout_per_ticket %></td>
<td><%= flex_pass_offer.created_at %></td>
<td><%= flex_pass_offer.updated_at %></td>
<td><%= link_to 'Create Order', new_admin_flex_pass_offer_order_path(flex_pass_offer) %></td>
</tr>
<%- end -%>
</table>

<br />

<%= link_to 'New flex_pass_offer', new_admin_flex_pass_offer_path %>