= content_for :title do
  Flex Pass Offers
= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li.current
      %a{:href=>'#'} Flex Pass Offers

.row
  .small-12.columns

    %table#flex-pass-offer-listing.display{:data=>{:source=>"#{admin_flex_pass_offers_path(format: :json)}"}}
      %thead
        %th Offer
        %th Price
        %th Qty
        %th Public?
        %th Restrictions
        %th
      %tbody

    = link_to 'New Flex Pass Offer', new_admin_flex_pass_offer_path, :class=>'button' if can? :create, FlexPassOffer


= content_for :js do
  :javascript
    $(document).ready(function() {
      $('#flex-pass-offer-listing').dataTable({
        "processing": true,
        "stateSave": true,
        "serverSide": true,
        "ajax": $('#flex-pass-offer-listing').data('source'),
        "pagingType": 'full_numbers',
        "language": {
          "lengthMenu" : "_MENU_",
          "search": "_INPUT_"
        },
        columns: [
          {data: 'offer'},
          {data: 'price'},
          {data: 'qty'},
          {data: 'public'},
          {data: 'restrictions'},
          {data: 'actions'},
        ]
      });
    });
