<div class="row">
  <div class="small-12 columns">
    <p>
      <b>Theater:</b>
      <%=h @flex_pass_offer.theater %>
    </p>

    <p>
      <b>Price:</b>
      <%=h @flex_pass_offer.price %>
    </p>

    <p>
      <b>Number of tickets:</b>
      <%=h @flex_pass_offer.number_of_tickets %>
    </p>


    <%= link_to 'Edit', edit_admin_flex_pass_offer_path(@flex_pass_offer) %> |
    <%= link_to 'Back', admin_flex_pass_offers_path %>
  </div>
</div>