.grid-x.grid-padding-x
  .small-12.cell
    = content_for :title do
      Flex Pass Offer
    = content_for :breadcrumbs do
      %ul.breadcrumbs
        %li= link_to 'Flex Pass Offers', admin_flex_pass_offers_path
        %li.current= @flex_pass_offer.name

.grid-x.grid-padding-x
  .small-12.cell

    %h2= @flex_pass_offer.name

    %p
      - unless @flex_pass_offer.theater.nil?
        %b Only for Theater:
        =h @flex_pass_offer.theater.name
        %br
      %b Price:
      =h @flex_pass_offer.price
      %br
      %b= "Number of tickets (redeemed as #{@flex_pass_offer.use_ticket_class_code}): "
      =h @flex_pass_offer.number_of_tickets
      %b M
.grid-x.grid-padding-x
  .small-12.cell
    = link_to 'Edit', edit_admin_flex_pass_offer_path(@flex_pass_offer)
  </div>
</div>