.small-12.cell
  - production.errors.each do |e|
    %span.error= "#{e.attribute} #{e.message}"
    %br
  = simple_form_for([:admin, production.theater, production], :html=>{:multipart=>true}) do |f|
    .grid-x.grid-padding-x
      .small-8.cell
        .grid-x.grid-padding-x
          .cell.small-12
            = f.input :name
            %fieldset.fieldset
              %legend Run Dates
              .grid-x.grid-padding-x
                .small-6.cell
                  = f.input :first_preview_at, input_html: {class: 'date_picker'}, as: :string
                  = f.input :press_opening_at, input_html: {class: 'date_picker'}, as: :string

                .small-6.cell
                  = f.input :opening_at, input_html: {class: 'date_picker'}, as: :string
                  = f.input :closing_at, input_html: {class: 'date_picker'}, as: :string
          .cell.small-6
            = f.input :season, :as=>:string
          .cell.small-6
            = f.input :custom_label
      .small-4.cell
        = f.input :production_code
        = f.input :production_class, :collection=>Production::PRODUCTION_CLASSES, :include_blank=>false
        = f.input :status, :as=>:select, :collection=>Production::PRODUCTION_STATUSES, :include_blank=>false
        = f.association :venue, include_blank: false
        = f.association :seat_map, include_blank: true, label_method: :label

      .small-3.cell
        = f.input :promo, :label=>"Production Image", as: :file, direct_upload: true, input_html: { data: { direct_upload_url: rails_direct_uploads_url } }
        = f.object.decorate.promo(Production::THUMB) if f.object.promo.attached?
      .small-9.cell
        = f.input :credit_lines, :input_html=>{rows:3}
      .cell
        = f.input :short_description
        = f.input :show_description, :hint=>"Long description (markdown enabled)" , :input_html=>{rows:4}

      .small-6.cell
        %fieldset.fieldset
          %legend House Management
          = f.input :running_time, :label=>"Running Time", :hint=>"Number of minutes, including intermissions (if any)"
          = f.input :intermission
          = f.input :allow_late_seating
          = f.input :capacity
        %fieldset.fieldset
          %legend Service Fee Overrides
          = f.input :override_service_items, label:"Override Service Template Names", hint:"Comma-separated list of service items to be applied to each ticket order"
          = f.input :override_first_exchange_items, label:"Override First Exchange Service Template Names", hint:"Comma-separated list of service items to be applied to intial ticket exchange"
          = f.input :override_addl_exchange_items, label:"Override Additional Exchange Service Template Names", hint:"Comma-separated list of service items to be applied to each subsequent ticket exchange"

      .small-6.cell
        %fieldset.fieldset
          %legend Sales
          = f.input :additional_information_link, :as=>:url
          = f.input :calendar_callout, :input_html=>{:rows=>4}, :label=>"Calendar Call to Action", :hint=>"Markdown code placed in header of calendar display page for this production"
          = f.input :conversion_pixel_code, :input_html=>{:rows=>4}, :label=>"Ad conversion pixel code", :hint=>"Code Placed in header of order confirmation for ad tracking"

          %div.grid-x.grid-padding-x
            %div.small-6.cell
              - festival_passes = FlexPassOffer.where(treat_as_festival_pass:true).select do |pass|
                - pass.theater_id.nil? || (pass.theater_id == f.object.theater_id && !pass.exclude_theater) || (pass.theater_id != f.object.theater_id && pass.exclude_theater)
              = f.association :flex_pass_offer, :collection=>festival_passes, :label=>"Festival Pass Offer"

              = f.input :myemma_attendee_group, :label=>"MyEmma Group Number"

      .small-12.cell
        %fieldset.fieldset
          %legend Notification
          .grid-x.grid-padding-x
            .cell.small-12.medium-6
              = f.input :survey_link, as: :url, label: "Custom survey link", hint: "Custom survey link for production"
              = f.input :mailing_list_link, as: :url, label: "Custom Mailing List link", hint: "Used when soliciting email list signups"
            .cell.small-12.medium-6
              = f.input :custom1, label: 'Custom field #1', hint: "Custom field for use in communications"
              = f.input :custom2, label: 'Custom field #2', hint: "Custom field for use in communications"
          .grid-x.grid-padding-x
            .cell.small-12
              = f.input :follow_up_message_2, :input_html=>{:rows => 4}, :label=>"Additional follow up message", :hint=>"Markdown-enabled second paragraph follow up email."
              = f.input :confirmation_message, :input_html=>{ :rows=>4}, :label=>"Additional Confirmation Message", :hint=>"Markdown-enabled section to be embedded in receipt."

      .cell
        = f.button :submit
