<table id="performance-listing" class="hide display">
  <thead>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Status</th>
    <th>Code</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @production.performances.sort_by{ |p| [p.performance_date, p.performance_time] }.each do |performance| %>
    <tr>

      <td><%= performance.performance_date %></td>
      <td><%= performance.performance_time.to_s(:hour_min) %></td>
      <td><%= performance.status %></td>
      <td><%= link_to performance.performance_code, admin_theater_production_performance_path(performance.production.theater,
          performance.production, performance), :id=>performance.id %></td>
      <td>
        <%- can? :delete, Performance do %>
          <%= link_to 'Destroy', [:admin, performance.production.theater, performance.production, performance], :confirm => 'Are you sure?', :method => :delete, class: 'tiny alert button' %>
        <%- end -%>
        <%- can? :update, Performance do %>
          <%= link_to 'Edit', edit_admin_theater_production_performance_path(performance.production.theater, performance.production, performance), :id=>"edit_#{performance.performance_code.gsub(' ','_')}", class: 'tiny button' %>
        <%- end -%>
        <%- can? :create, Performance do %>
            <%= link_to 'Duplicate', duplicate_admin_theater_production_performance_path(performance.production.theater, performance.production, performance), :id=>"duplicate_#{performance.performance_code.gsub(' ','_')}", class: 'tiny button' %>
        <%- end -%>
      </td>

    </tr>
  <% end %>
</table>

<% content_for :js do %>
  <script type="text/javascript">

  $(document).ready(function() {
    $('#performance-listing').dataTable({

      dom: 'lf<"toolbar-buttons">rtip',
      stateSave: true,
      pagingType: "foundation",
      columnDefs: [
        {targets: "_all", orderable:false},
        {targets: "1,2,3,4", searchable:false},
           ],
      fnInitComplete:function() {
        $("#performance-listing").show();
        this.fnAdjustColumnSizing();
      },
    });

    setupActiveSwitchOnDataTable('#performance-listing',2)

  });

  </script>
<% end %>
