<% content_for :title do %>Editing <%= @production.name %><% end %>
<ul class="breadcrumbs">
  <li><%= link_to 'Theaters', admin_theaters_path %></li>
  <li><%= link_to @production.theater.name, admin_theaters_path(@production.theater) %></li>
  <li><%= link_to @production.name, admin_theater_production_path(@production.theater, @production) %></li>

  <li class="current"><a href='#'>Edit</a></li>
</ul>

<%= render :partial => '/admin/productions/form', :locals=>{:production=>@production} %>

<%= link_to 'Back', edit_admin_theater_path(@production.theater), class: 'button right' %>
