.grid-x.grid-padding-x
  = content_for :title do
    Editing
    = @production.name

  = content_for :breadcrumbs do
    = render "shared/components/breadcrumb", items: [{ label: 'Theaters', path: admin_theaters_path }, { label: @production.theater.name, path: admin_theater_path(@production.theater) }, { label: @production.name, path: admin_theater_production_path(@production.theater, @production) }, { label: "Edit" }]

  = render :partial => '/admin/productions/form', :locals=>{:production=>@production}
