- content_for :title do
  = @production.name
- content_for :breadcrumbs do
  %ul.breadcrumbs
    %li= link_to 'Theaters', admin_theaters_path
    %li= link_to @production.theater.name, admin_theater_path(@production.theater)
    %li.current
      %a{:href=>"#"}= @production.name
.grid-x.grid-padding-x{data: {theater_id: @production.theater.id, production_id: @production.id}}
  = render :partial=>'/productions/show_detail_column', :locals=>{:production=>@production}
  .small-12.medium-8.cell
    %ul.tabs#prodtabs(data-tabs)
      %li.tabs-title.is-active
        %a{:href=>"#prodpanel-1", 'aria-selected'=>"true"} Performances
      %li.tabs-title
        %a{:href=>"#prodpanel-2"} Settings
      %li.tabs-title
        %a{:href=>"#prodpanel-3"} Custom Notifications

    .tabs-content{'data-tabs-content'=>'prodtabs'}
      #prodpanel-1.tabs-panel.is-active   
        = render :partial => 'performance_listing'
        = link_to('Add performance', new_admin_theater_production_performance_path(@production.theater, @production), class: 'small button right') if can? :create, Performance


      #prodpanel-2.tabs-panel
        .grid-x
          .small-8.cell
            %p
              %b Production code:
              = @production.production_code
            - unless @production.first_preview_at.blank?
              %p
                %strong First preview:
                = @production.first_preview_at.to_s(:long_with_day_of_week)
            - unless @production.press_opening_at.nil?
              %p
                %strong Press opening:
                = @production.press_opening_at.to_s(:long_with_day_of_week)
            - unless @production.opening_at.nil?
              %p
                %strong Opening at:
                = @production.opening_at.to_s(:long_with_day_of_week)
            - unless @production.closing_at.nil?
              %p
                %strong Closing at:
                = @production.closing_at.to_s(:long_with_day_of_week)

          .small-4.cell
            %p
              %strong Status:
              = @production.status
            %p
              %strong Class:
              = @production.production_class
            %p
              %strong Venue:
              = @production.venue.name
            %p
              %strong Capacity:
              = @production.capacity
            - unless @production.additional_information_link.blank?
              %p
                %strong Addl Info:
                = link_to @production.additional_information_link, @production.additional_information_link

      #prodpanel-3.tabs-panel
      
        - no_displayed_confirmation = true
        - unless @production.confirmation_message.blank?
          - no_displayed_confirmation = false
          %h5 Confirmation Message
          = display_markdown(@production.confirmation_message)
        - unless @production.follow_up_message.blank?
          - no_displayed_confirmation = false
          %h5 Followup Message
          = display_markdown(@production.follow_up_message)
        - unless @production.follow_up_message_2.blank?
          - no_displayed_confirmation = false
          %h5 Followup Message #2
          = display_markdown(@production.follow_up_message_2)
        - unless @production.survey_link.blank?
          %h5 Custom Survey Link
          - no_displayed_confirmation = false
          %a{:href=>@production.survey_link}= @production.survey_link
        - unless @production.mailing_list_link.blank?
          - no_displayed_confirmation = false
          %h5 Custom Mailing List Solicitation
          %a{:href=>@production.mailing_list_link}= @production.mailing_list_link
        - if no_displayed_confirmation
          %h5 No custom notifications defined

  .small-12.cell
    - if can? :update, Production
      = link_to 'Edit', edit_admin_theater_production_path(@production.theater, @production), :class=>'button'
    - if can? :read, TicketClass
      %td
        = link_to('Ticket Classes', [:admin, @production.theater, @production, :ticket_classes], class: 'button')
    - if can? :perform_analysis, Analysis
      = link_to 'Audience Analysis', admin_analysis_index_path(target_production_id: @production.id, analysis_type: 'audience'), class: 'button'

= render partial: 'email_attendees_modal' if can? :email_attendees, Performance
