<% content_for :title do %><%= @production.name %><% end %>
<% content_for :breadcrumbs do %>
<ul class="breadcrumbs">
  <li><%= link_to 'Theaters', admin_theaters_path %></li>
  <li><%= link_to @production.theater.name, admin_theater_path(@production.theater) %></li>
  <li class="current"><a href="#"><%= @production.name %></a></li>
</ul>
<% end %>

<div class="row">
  <div class="small-4 columns">
    <%= render :partial=>'/productions/info', :locals=>{:production=>@production} %>
  </div>
  <div class="small-8 columns">
    <div class="row">

      <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#prodpanel-1">Performances</a></li>
        <li class="tab-title"><a href="#prodpanel-2">Settings</a></li>
        <li class="tab-title"><a href="#prodpanel-3">Custom Notifications</a></li>
      </ul>
      <div class="tabs-content">
      <div class="content active" id="prodpanel-1">
          <div class="small-12 columns">
            <h3>Performances</h3>
            <%= render :partial => 'performance_listing' %>

            <% if permitted_to? :create, :performances %>
              <%= link_to 'Add performance', new_admin_theater_production_performance_path(@production.theater, @production), class: 'small button right' %>
            <%- end -%>
          </div>
        </div>
        <div class="content" id="prodpanel-2">
          <div class="small-8 columns">
            <p><b>Production code: </b><%= @production.production_code %></p>
            <% unless @production.first_preview_at.blank? %>
              <p><b>First preview: </b><%= @production.first_preview_at.to_s(:long_with_day_of_week) %></p>
            <% end %>
            <% unless @production.press_opening_at.nil? %>
              <p><b>Press opening: </b><%= @production.press_opening_at.to_s(:long_with_day_of_week) %></p>
            <% end %>
            <% unless @production.opening_at.nil? %>
              <p><b>Opening at: </b><%= @production.opening_at.to_s(:long_with_day_of_week) %></p>
            <% end %>
            <% unless @production.closing_at.nil? %>
              <p><b>Closing at: </b><%= @production.closing_at.to_s(:long_with_day_of_week) %></p>
            <% end %>
          </div>
          <div class="small-4 columns">
            <p><b>Status: </b><%= @production.status %></p>
            <p><b>Class: </b><%=h @production.production_class %></p>
            <p><b>Venue: </b><%= @production.venue.name %></p>
            <p><b>Capacity: </b><%=h @production.capacity %></p>
            <% unless @production.additional_information_link.blank? %>
            <p><%= link_to @production.additional_information_link, @production.additional_information_link %></p>
            <% end %>
          </div>
        </div>
        <div class="content" id="prodpanel-3">
          <div class="small-12 columns">
            <% no_displayed_confirmation = true
              unless @production.confirmation_message.blank?
                no_displayed_confirmation = false %>
              <h5>Confirmation Message</h5>
              <%= display_markdown(@production.confirmation_message) %>
            <% end %>
            <% unless @production.follow_up_message.blank?
               no_displayed_confirmation = false %>
              <h5>Followup Message</h5>
              <%= display_markdown(@production.follow_up_message) %>
            <% end %>
            <% unless @production.follow_up_message_2.blank?
               no_displayed_confirmation = false %>
              <h5>Followup Message #2</h5>
              <%= display_markdown(@production.follow_up_message_2) %>
            <% end %>
            <% if no_displayed_confirmation %>
              <h5>No custom notifications defined</h5>
            <% end %>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>

  </div>
</div>


<%- if permitted_to? :update, :productions %>
    <%= link_to 'Edit', edit_admin_theater_production_path(@production.theater, @production), class: 'button' %>
<%- end -%>


