
<%= render :partial=>'/productions/info', :locals=>{:production=>@production} %>


<p>
  <b>Production code:</b>
  <%=h @production.production_code %>
</p>

<%- if !@production.venue.nil? %>
  <p>
    <b>Venue:</b>
    <%= @production.venue.name %>
  </p>
<%- end %>

<p>
  <b>First preview at:</b>
  <%=h @production.first_preview_at %>
</p>

<p>
  <b>Press opening at:</b>
  <%=h @production.press_opening_at %>
</p>

<p>
  <b>Opening at:</b>
  <%=h @production.opening_at %>
</p>

<p>
  <b>Closing at:</b>
  <%=h @production.closing_at %>
</p>

<p>
  <b>Capacity:</b>
  <%=h @production.capacity %>
</p>

<p>
  <b>Additional information link:</b>
  <%=h @production.additional_information_link %>
</p>

<p>
  <b>Status:</b>
  <%=h @production.status %>
</p>

<p>
  <b>Production Class:</b>
  <%=h @production.production_class %>
</p>

<p>
  <b>Custom Confirmation Message</b><br/>
  <%= @production.confirmation_message %>
</p>

<p>
  <b>Custom Follow up Message</b><br/>
  <%= @production.follow_up_text %>
</p>

<p>
  <b>Ticket classes:</b>
  <%=link_to 'List', admin_theater_production_ticket_classes_path(@production.theater, @production)%>
</p>

<%= render :partial => '/productions/performances' %>

<p>
  <% if permitted_to? :create, :performances %>
     <%= link_to 'Add performance', new_admin_theater_production_performance_path(@production.theater, @production) %>
  <%- end -%>
</p>
<%- if permitted_to? :update, :productions %>
    <%= link_to 'Edit', edit_admin_theater_production_path(@production.theater, @production) %> |
<%- end -%>
<%= link_to 'Back', admin_theater_productions_path(@production.theater) %>