<div class="row">
  <div class="small-4 columns">
    <%= render :partial=>'/productions/info', :locals=>{:production=>@production} %>
  </div>
  <div class="small-8 columns panel">
    <div class="row">
      <div class="small-8 columns">
        <p><b>Production code: </b><%= @production.production_code %></p>
        <p><b>First preview: </b><%= @production.first_preview_at.to_s(:long_with_day_of_week) %></p>

        <p><b>Press opening: </b><%= @production.press_opening_at.to_s(:long_with_day_of_week) %></p>

        <p><b>Opening at: </b><%= @production.opening_at.to_s(:long_with_day_of_week) %></p>

        <p><b>Closing at: </b><%= @production.closing_at.to_s(:long_with_day_of_week) %></p>
      </div>
      <div class="small-4 columns">
        <p><b>Status: </b><%= @production.status %></p>
        <p><b>Class: </b><%=h @production.production_class %></p>
        <p><b>Venue: </b><%= @production.venue.name %></p>
        <p><b>Capacity: </b><%=h @production.capacity %></p>
        <% unless @production.additional_information_link.blank? %>
        <p><%= link_to @production.additional_information_link, @production.additional_information_link %></p>
        <% end %>
      </div>
      <div class="small-12 columns">
        <%=link_to 'Ticket Classes', admin_theater_production_ticket_classes_path(@production.theater, @production), class: 'button' %>
      </div>
      <div class="small-12 columns">
        <% unless @production.confirmation_message.blank? %>
          <h5>Confirmation Message</h5>
          <%= display_markdown(@production.confirmation_message) %>
          <% end %>
          <% unless @production.follow_up_message.blank? %>
          <h5>Followup Message</h5>
          <%= display_markdown(@production.follow_up_message) %>
          <% end %>
          <% unless @production.follow_up_message_2.blank? %>
          <h5>Followup Message #2</h5>
          <%= display_markdown(@production.follow_up_message_2) %>
          <% end %>

      </div>
    </div>
  </div>
</div>

<p>
  <b>Ticket classes:</b>
  <%=link_to 'List', admin_theater_production_ticket_classes_path(@production.theater, @production)%>
</p>

<%= render :partial => '/productions/performances' %>

<p>
  <% if permitted_to? :create, :performances %>
     <%= link_to 'Add performance', new_admin_theater_production_performance_path(@production.theater, @production) %>
  <%- end -%>
</p>
<%- if permitted_to? :update, :productions %>
    <%= link_to 'Edit', edit_admin_theater_production_path(@production.theater, @production) %> |
<%- end -%>
<%= link_to 'Back', admin_theater_productions_path(@production.theater) %>