<p>
  <b>Name:</b>
  <%=h @production.name %>
</p>

<p>
  <b>Production code:</b>
  <%=h @production.production_code %>
</p>

<p>
  <b>Credit lines:</b>
  <%=h @production.credit_lines %>
</p>

<p>
  <b>First preview at:</b>
  <%=h @production.first_preview_at %>
</p>

<p>
  <b>Press opening at:</b>
  <%=h @production.press_opening_at %>
</p>

<p>
  <b>Opening at:</b>
  <%=h @production.opening_at %>
</p>

<p>
  <b>Closing at:</b>
  <%=h @production.closing_at %>
</p>

<p>
  <b>Production Logo:</b>
  <%= @production.logo_url %>
</p>

<p>
  <b>Show description:</b>
  <%=@production.show_description %>
</p>

<p>
  <b>Capacity:</b>
  <%=h @production.capacity %>
</p>

<p>
  <b>Additional information link:</b>
  <%=h @production.additional_information_link %>
</p>

<p>
  <b>Status:</b>
  <%=h @production.status %>
</p>

<p>
  <b>Ticket classes:</b>
  <%=link_to 'List', admin_theater_production_ticket_classes_path(@production.theater, @production)%>
</p>

<%= render :partial => '/productions/performances' %>

<p>
  <% if permitted_to? :create, :performance then %>
     <%= link_to 'Add performance', new_admin_theater_production_performance_path(@production.theater, @production) %>
  <%- end -%>
</p>

<% if permitted_to? :edit, :production %>
    <%= link_to 'Edit', edit_admin_theater_production_path(@production.theater, @production) %> |
<%- end -%>
<%= link_to 'Back', admin_theater_productions_path(@production.theater) %>