<p>
  <%= f.label :class_code %><br />
  <%= f.text_field :class_code %>
</p>
<p>
  <%= f.label :class_name %><br />
  <%= f.text_field :class_name %>
</p>
<p>
  <%= f.label :ticket_price %><br />
  <%= f.text_field :ticket_price %>
</p>
<p>
  <%= f.label :ticketing_fee %><br />
  <%= f.text_field :ticketing_fee %>
</p>
<p>
  <%= f.label :web_visible %><br />
  <%= f.check_box :web_visible %>
</p>
<p>
  <%= f.label :ticket_type %><br />
  <%= f.text_field :ticket_type %>
</p>
<p>
  <%= f.label :minutes_before_show %><br />
  <%= f.text_field :minutes_before_show %>
</p>
<p>
  <%= f.hidden_field :production_id %>
</p>
