= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: "Theaters", path: admin_theaters_path }, { label: @production.theater.name, path: admin_theater_path(@production.theater) }, { label: @production.name, path: admin_theater_production_path(@production.theater, @production) }, { label: 'Ticket Classes', path: admin_theater_production_ticket_classes_path(@theater,@production) }, { label: @ticket_class.class_code }]
.grid-x.grid-padding-x
  .cell.small-12
    = content_for :title do
      Editing Ticket Class
      = @ticket_class.class_code
      on
      = @production.name
    %h3 Editing Ticket Class
    = render :partial => 'form', :locals=>{theater: @theater, production: @production, ticket_class: @ticket_class}
