/ admin/ticket_classes/index.html.erb
= content_for :title do
  = "#{@production.name} Ticket Classes"
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: "Theaters", path: admin_theaters_path }, { label: @production.theater.name, path: admin_theater_path(@production.theater) }, { label: @production.name, path: admin_theater_production_path(@production.theater, @production) }, { label: "Ticket Classes" }]
.grid-x.grid-padding-x
  .small-12.cell
    %h3= "#{@production.name} Ticket Classes"
    %table#ticket-class-listing{:data=>{:source=>"#{admin_theater_production_ticket_classes_path(@production.theater, @production, format: :json)}"}}
      %thead
        %tr
          %th Class code
          %th Class name
          %th Price
          %th Fee
          %th Web Visible?
          %th Type
          %th
      %tbody


    = ui_button 'Back', [:admin, @production.theater, @production]
    - if can? :create, TicketClass then
      = ui_button 'New Ticket Class', new_admin_theater_production_ticket_class_path(@theater,@production), class: 'right'

= content_for :js do
  :javascript
    $(document).ready(function() {
      $('#ticket-class-listing').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": $('#ticket-class-listing').data('source'),
        "pagingType": 'full_numbers',
        "language": {
          "lengthMenu" : "_MENU_",
          "search": "_INPUT_"
        },
        columns: [
          {data: 'class_code'},
          {data: 'class_name'},
          {data: 'ticket_price'},
          {data: 'ticketing_fee'},
          {data: 'web_visible'},
          {data: 'ticket_type'},
          {data: 'actions'},
        ]
      });
    });