= content_for :title do
  Festival
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: 'Festivals', path: admin_festivals_path }, { label: @festival.name }]

.grid-x.grid-padding-x
  .small-8.cell
    %h2= @festival.name
    %p
      %b Status:
      = @festival.status
      %br
      %b Landing page:
      = @festival.landing_page_enabled? ? 'Enabled' : 'Disabled'
      %br
      %b Dates:
      = @festival.formatted_date_range || 'No member productions with dates yet'
    - if @festival.landing_page_enabled? && @festival.url_name.present?
      - landing_url = festival_url(@festival.url_name)
      %p
        %b Landing page URL:
        = link_to landing_url, landing_url, target: '_blank', rel: 'noopener'
        %button.tiny.button.copy-landing-url{ type: 'button', data: { url: landing_url } } Copy
        - unless @festival.active?
          %em (returns 404 to the public while the festival is Inactive)
      :javascript
        document.querySelector('.copy-landing-url').addEventListener('click', function () {
          var button = this;
          navigator.clipboard.writeText(button.dataset.url).then(function () {
            button.textContent = 'Copied!';
            setTimeout(function () { button.textContent = 'Copy'; }, 2000);
          });
        });

    - if @festival.short_description.present?
      %p= @festival.short_description
    - if @festival.description.present?
      .cell= display_markdown(@festival.description)

  .small-4.cell
    = @festival.decorate.box_office_image if @festival.box_office_image.attached?

.grid-x.grid-padding-x
  .small-12.cell
    %h3 Member Productions
    - if @festival.productions.any?
      %table
        %thead
          %tr
            %th Production
            %th Theater
            %th Status
        %tbody
          - @festival.productions.each do |production|
            %tr
              %td= link_to production.name, [:admin, production.theater, production]
              %td= link_to production.theater.name, admin_theater_path(production.theater)
              %td= production.status
    - else
      %p No productions are assigned to this festival yet.

.grid-x.grid-padding-x
  .small-12.cell
    = link_to 'Edit', edit_admin_festival_path(@festival), class: 'button'
