<p>
	Billing Address:
</p>

<p>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
</p>
<p>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
</p>
<p>
<%= f.label :email %>
<%= f.text_field :email %>
</p>

<p>
<%= f.label :line1, 'Address Line1' %>
<%= f.text_field :line1 %>
</p>
<p>
<%= f.label :line2, 'Address Line2' %>
<%= f.text_field :line2 %>
</p>
<p>
<%= f.label :city, 'City' %>
<%= f.text_field :city %>
</p>
<p>
<%= f.label :state, 'State/Province/Region' %>
<%= f.text_field :state %>
</p>
<p>
<%= f.label :zipcode, 'ZIP/Postal Code' %>
<%= f.text_field :zipcode %>
</p>