<p>
	Billing Address:
</p>

<table>
  <tr>
    <td colspan="3">
      <%= f.label :line1, 'Street' %><br/>
      <%= f.text_field :line1, :size=>60 %><br/>
      <%= f.text_field :line2, :size=>60 %><br/>
    </td>
  </tr>
  <tr>
    <td>
        <%= f.text_field :city, :size=>29 %><br/>
      <%= f.label :city, 'City' %>

    </td>
    <td>
      <%= f.text_field :state, :size=>4 %><br/>
      <%= f.label :state, 'State' %>
    </td>
    <td>
      <%= f.text_field :zipcode, :size=>14 %><br/>
      <%= f.label :zipcode, 'ZIP/Postal' %>

    </td>
  </tr>
</table>

<p>
    <%= f.label :add_to_email_list, 'Add to email list?' %>
    <%= f.check_box :add_to_mail_list, :checked=>1 %>
</p>
