%div.row
  %fieldset
    %legend
      Billing Address
    %div.small-12.columns
      = f.input :line1, :label=>'Street'
      = f.input_field :line2
    %div.small-12.medium-6.columns
      = f.input :city, :label=>'City'
    %div.small-6.medium-3.columns
      = f.input :state, :label=>'State'
    %div.small-6.medium-3.columns
      = f.input :zipcode, :label=>"Zip/Postal"

