%fieldset.fieldset
  %legend
    Billing Address
  .grid-x.grid-padding-x
    .cell
      = f.input :line1, :label=>'Street'
      = f.input_field :line2
    .small-12.medium-6.cell
      = f.input :city, :label=>'City'
    .small-6.medium-3.cell
      = f.input :state, :label=>'State'
    .small-6.medium-3.cell
      = f.input :zipcode, :label=>"Zip/Postal"
