<p>
First Name:
<%=h address.first_name %>
</p>
<p>
Last name:
<%=h address.last_name %>
</p>
<p>
Email:
<%=h address.email %>
</p>
<p>
Billing Address:
</p>
<p>
Address Line1:
<%=h address.line1 %>
</p>
<p>
Address Line2:
<%=h address.line2 %>
</p>
<p>
City:
<%=h address.city %>
</p>
<p>
State/Province/Region:
<%=h address.state %>
</p>
<p>
ZIP/Postal Code:
<%=h address.zipcode %>
</p>
