= order_form.input :payment_type, :label=>"Pay using", :include_blank=>false, :as=>:select, :collection=>payment_types(order_form.object, (defined? allowed_payment_types?) ? allowed_payment_types : nil), :input_html=>{:class=>'payment_type_choice'}

%div#payment_forms
  %div#credit_card_payment_form
    = render '/admin/orders/credit_card_payment_form', :f => order_form
  %div#cash_payment_form
    = render '/admin/orders/cash_payment_form', :f => order_form
  %div#flex_pass_payment_form
    = render '/orders/flex_pass_payment_form', :f => order_form
  %div#membership_payment_form
    = render '/orders/membership_payment_form', :f => order_form
  %div#check_payment_form
    = render '/orders/check_payment_form', :f => order_form
