<%= f.inputs do %>
    <%= f.input :credit_card_type, :label=>"Card Type", :required=>true,  :include_blank=>false, :as=>:radio, :collection=>ActiveRecord::Validations::ClassMethods::DEFAULT_CREDIT_CARD_TYPES.values.sort - ['invalid'] %>
    <%= f.input :credit_card_number, :required=>true, :input_html => { :maxlength=>16 } %>
    <span style="float: left; margin-left: 25%">
      <%= f.label :credit_card_expiration_month, "MM "%>
         <%= f.text_field :credit_card_expiration_month, :cols=>2, :maxlength=>2 %>

     <%= f.label :credit_card_expiration_year, "YY "%>
    <%= f.text_field :credit_card_expiration_year, :cols=>2, :maxlength=>2 %>
    <%= f.label :credit_card_verification_number, "CVV*" %>
    <%= f.text_field :credit_card_verification_number, :size=>4, :label =>"CVV" %>
    <%= f.label :credit_card_swipe, "Swipe" %>
    <%= f.password_field :credit_card_swipe, :size=>25, :label=>"Swipe" %>
    </span>
    <br clear="all"/>
    <li></li>
    <%- if backend_user? %>
        <%= f.input :credit_card_confirmation_code, :label=>'Manual authorization' %>
    <%- end -%>
<%- end -%>
