<% javascript :defaults, 'delegate', 'jquery-1.3.2.min', 'jquery.autocomplete', 'box_office_order' %>

<%= error_messages_for :order %>

<% form_for [:admin,@order] do |order_form| -%>

  <% content_for :jstemplates do -%>
  <%= "var line_item='#{generate_template(order_form, :ticket_line_items)}'" %>
  <% end -%>

  <p>
  <%= order_form.label :production_code %>
  <%= order_form.text_field :production_code, 
                   :class=>'autocomplete_prcode', 
                   :autocomplete_url=>autocomplete_production_code_admin_orders_path,
                   :size=>10 %>
  </p>
  <p>
  <%= order_form.label :performance_code %>
  <%= order_form.text_field :performance_code, 
                   :class=>'autocomplete_pcode', 
                   :autocomplete_url=>autocomplete_performance_code_admin_orders_path,
                   :size=>10 %>
  </p>
  <table id='ticket_line_items'>
    <thead>
      <th>Ticket Class</th>
      <th>Ticket Count</th>
      <th>Price Override</th>
      <th>Total</th>
    </thead>
  <% order_form.fields_for :ticket_line_items do |ticket_line_item_form| %>
  <%= render :partial => 'ticket_line_item_form', :locals => { :f => ticket_line_item_form } %>
  <% end %>
  </table>
  <%= link_to 'Add a line item', '#ticket_line_item', :class => "add_nested_item", :rel => "ticket_line_items" %>
<p>

<%= order_form.label :special_offer_code %> (optional)<br/>
<%= order_form.text_field :special_offer_code %>  

</p>
<p>
  
<% order_form.fields_for :address do |address_form| %>
<%= render :partial => 'address_form', :locals => { :f => address_form } %>
<% end %>

<%= order_form.label :payment_type %>
<%= order_form.select :payment_type, Order::PAYMENT_TYPES %>
<div id='payment_forms'>
<div id='credit_card_payment_form'>
<% order_form.fields_for :credit_card_payments do |credit_card_payment_form| %>
<%= render :partial => 'credit_card_payment_form', :locals => { :f => credit_card_payment_form } %>
<% end %>
</div>
<div id='cash_payment_form'>
<% order_form.fields_for :cash_payments do |cash_payment_form| %>
<%= render :partial => 'cash_payment_form', :locals => { :f => cash_payment_form } %>
<% end %>
</div>
</div>

<p>
	<%= order_form.label :referral_code %>
	<%= order_form.text_field :referral_code %>
</p>

<p>
	Order Status: <%=order_form.object.status || 'New' %>
</p>
<p>
  <%= order_form.label :notes %>
  <%= order_form.text_area :notes, :rows=>3 %>
<p>
<% if order_form.object.status.nil? || order_form.object.status == Order::HOLD%>
<p>
  <%= order_form.submit @order.new_record? ? 'Place Order' : 'Update', :disable_with => 'Processing...' %>
</p>
<% end %>
<% unless order_form.object.new_record? %>
<%= link_to 'Cancel Order', cancel_admin_order_path(order_form.object), :confirm => "Are you sure?", :method=>:post %>
<% end %>
</p>
<% end -%>

