= content_for :title do
  = order.id.nil? ? "New Order" : "Order \##{order.id}"
= content_for :breadcrumbs do
  %div.row.collapse
    %div.small-10.columns
      %ul.breadcrumbs
        %li
          = link_to 'Existing Orders', admin_orders_path
        %li.current
          %a{:href=>'#'}
            = order.id.nil? ? "New" : "Order \##{order.id}"
    %div.small-2.columns
      = render '/admin/orders/status_bar', :order=>order
