
= content_for :title do
  = order.id.nil? ? "New Order" : "Order \##{order.id}"
= content_for :breadcrumbs do
  .grid-x
    .small-10.cell
      = render "shared/components/breadcrumb", items: [{ label: 'Orders', path: admin_orders_path }, { label: (order.id.nil? ? "New Order" : "Order \##{order.id}") }]
    .small-2.cell
      = render '/admin/orders/status_bar', :order=>order
