
= content_for :title do
  = order.id.nil? ? "New Order" : "Order \##{order.id}"
= content_for :breadcrumbs do
  .grid-x
    .small-10.cell
      %ul.breadcrumbs
        %li
          = link_to 'Orders', admin_orders_path
        %li.current
          = order.id.nil? ? "New Order" : "Order \##{order.id}"
    .small-2.cell
      = render '/admin/orders/status_bar', :order=>order
