<tr class="line_item">
  <td>
  <%= f.text_field :performance_code, 
                   :class=>'autocomplete_pcode', 
                   :autocomplete_url=>autocomplete_performance_code_admin_orders_path,
                   :size=>10 %>
  </td>
  <td>
  <%= f.text_field :ticket_class_code, 
                   :class=>'autocomplete_tccode', 
                   :autocomplete_url=>autocomplete_ticket_class_code_admin_orders_path,
                   :dependent=>'previous_sibling',
                   :size=>10 %>
  </td>
  <td><%= f.text_field :ticket_count, :size => 4 %></td>
  <td><%= f.text_field :price_override, :size => 6 %></td>
  <td><%=h to_currency f.object.total%></td>
  <td><%= remove_link_unless_new_record(f) %></td>
</tr>