<p>
<table id="address_field">
  <tr>
    <td>
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name %>
    </td>
    <td>
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </td>
    <td>
      <p>
        <%= f.label :phone %><br/>
        <%= f.text_field :phone %>
      </p>

    </td>
  </tr>
</table>
</p>
