<table width="100%">
  <tr>
    <td width="80%" valign="top"><%= render :partial => '/admin/addresses/address_contact_info', :locals=>{:address=>order.address, :link_to_address=>true} %>
    </td>
    <td align="right" valign="top" width="20%"><i>Order ID <%= h order.id %></i><br/><b><%= order.status %></b></td>
  </tr>
</table>

<%- if order.is_a? TicketOrder -%>
  <p>
    Performance:
    <%= h order.performance.to_s %>
  </p>
<%- end -%>

<%- if order.is_a? TicketOrder %>
<%= render :partial => '/admin/ticket_line_items/table', :locals=>{:order=>order} %>
<%- end %>

<%= render :partial => '/admin/flex_pass_line_items/table', :locals=>{:order=>order} %>

<%= render :partial => '/admin/donation_line_items/table', :locals=>{:order=>order} %>

<%= render :partial => '/admin/special_offer_line_items/table', :locals=>{:order=>order} %>

<%= render :partial => '/admin/orders/payments', :locals=>{:order=>order} %>

<%- if !order.referral_code.blank? %><p>
  Referral Code:
  <%= order.referral_code %>
  </p>
<%- end %>
<%- if !order.marketing_source.blank? %>
  <p>
    Heard about the show via <b><%= order.marketing_source %></b>
  </p>
<%- end %>
<%- if !order.notes.blank? -%>
  <p>
  <fieldset>
    <legend>Notes</legend>
    <%= order.notes %>
  </fieldset>
  </p>
<%- end -%>
