<tr class="line_item" price="<%=f.object.ticket_class.try(:ticket_price)%>" ticket_type="<%=f.object.ticket_class.try(:ticket_type)%>">
  <td>
  <%= f.text_field :ticket_class_code, 
                   :class=>'autocomplete_tccode', 
                   :autocomplete_url=>autocomplete_ticket_class_code_admin_orders_path,
                   :size=>10 %>
  </td>
  <td><%= f.text_field :ticket_count, :size => 4, :class=>'ticket_count' %></td>
  <td>
    <%= f.object.try(:ticket_class).try(:ticket_type)=='Donation' ? 
      f.text_field(:price_override, :class=>'price_override', :size => 6) :
      f.text_field(:price_override, :class=>'price_override', :size => 6, :disabled=>'disabled')
    %>
  </td>
  <td class='total' ><%=h to_currency f.object.total%></td>
  <td><%= remove_link_unless_new_record(f) %></td>
</tr>