<% javascript :defaults, 'delegate', 'jquery-1.4.2.min', 'jquery.autocomplete', 'box_office_order' %>

<%= error_messages_for :order %>


<%= semantic_form_for [:admin,@order] do |order_form| -%>
<%= order_form.inputs do %>

<table width="100%">
  <tr>
    <td valign="top" width="80%">
        <%- if @order.ticket_line_items.size > 0 -%>
	        <%= render :partial=>'/admin/orders/ticket_line_items_form', :locals=>{:order_form=>order_form}%>
        <%- end -%>

        <%- if @order.flex_pass_line_items.size > 0 -%>
	        <%= order_form.fields_for :flex_pass_line_items do |flex_pass_line_item_form| %>
		        <%= render :partial => '/admin/orders/flex_pass_line_item_form', :locals => { :f => flex_pass_line_item_form } %>
	        <%- end -%>
        <%- end -%>

    </td>
    <td valign="top" width="20%">
       <p align="right"><b><%= @order.status %></b></p>
    </td>
  </tr>
</table>


<%= render :partial => '/admin/orders/form', :locals=>{:order_form=>order_form} %>

<p>
  <%= order_form.submit 'Hold', :disable_with => 'Processing...' if order_form.object.status == Order::NEW || order_form.object.status == Order::HOLD %>
  <%= order_form.submit 'Place Order', :confirm => "Process this order?", :disable_with => 'Processing...' if order_form.object.status == Order::NEW || order_form.object.status == Order::HOLD %>
  <%= if order_form.object.status == Order::HOLD || order_form.object.status == Order::PROCESSING
        link_to 'Cancel Order', cancel_admin_order_path(order_form.object), :confirm => "Are you sure?", :method=>:post 
      end %>
</p>

<%= render :partial => '/admin/orders/audit_show', :locals=>{:order_form=>order_form} %>

<%- end -%>

<%- end -%>
