= content_for :title do
  Existing Orders
= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li.current
      %a{:href=>'#'} Orders

.row
  .small-12.columns
    %table#order-listing{:data=>{:source=>"#{raw admin_orders_path(format: :json)}"}}
      %thead
      
        %th ID
        %th Code
        %th Name
        %th Status
        %th Visits
        %th Total
        %th Description
      %tbody

= content_for :js do
  :javascript
    'use strict';
    
    $(document).ready(function() {
      var oListing;

      oListing = $('#order-listing').DataTable({
        "stateSave": true,
        "responsive": true,
        "processing": true,
        "serverSide": true,
        

        "ajax": $('#order-listing').data('source'),
        "lengthMenu": [10, 25, 50, 100],
        "language": {
          "lengthMenu" : "_MENU_",
        },
        "columns": [
          {data: 'id'},
          {data: 'code'},
          {data: 'name'},
          {data: 'status'},
          {data: 'visits'},
          {data: 'total'},
          {data: 'description'},
        ],
      });
    
      yadcf.init(oListing, [
        { column_number: 0, filter_type: "text", filter_delay: 500 },
        { column_number: 1, filter_type: "text", filter_delay: 500 },
        { column_number: 2, filter_type: "text", filter_delay: 500 },
        { column_number: 3, filter_type: "select", data: [#{raw Order::ORDER_STATUSES.map{|s| "'#{s}'"}.join(',')}], filter_default_label: "Any" },
      ]);

      $('#order-listing_filter').hide();

      var table = $('#example').DataTable();
       
      $('#order-listing tbody').on( 'click', 'tr', function () {
          $(this).toggleClass('selected');
      } );

      // @todo make these buttons
      
      $('#fulfill-button').click( function () {
          alert( table.rows('.selected').data().length +' row(s) selected' );
      } );

      $('#print-button').click( function () {
          alert( table.rows('.selected').data().length +' row(s) selected' );
      } );

      $('#unclaimed-button').click( function () {
          alert( table.rows('.selected').data().length +' row(s) selected' );
      } );




    });

    // Setup - add a text input to each footer cell

      // tableTools:{
      //   "aButtons": [ ],
      //   "searchable": true,
      //   "sRowSelect": "os",
      //   "fnRowSelected": function ( nodes ) {
      //     update_order_selection_buttons();
      //   },
      //   "fnRowDeselected": function ( nodes ) {
      //     rows = new $.fn.dataTable.TableTools( $('#orders-table').DataTable() ).fnGetSelected();
      //     update_order_selection_buttons();
      //   }
      // },
      //processing: true,
      //language: {
      //  "processing": '<div class="small-4 small-centered columns"><data-alert class="alert-box" //style="z-index:1000">Processing...</div></div>'
      //},
      //order: [[0, "desc"]],
      //ordering: true,
      //serverSide: true,
      //stateSave: true,
      //// ajax: $('#orders-table').data('data-source'),
      //pagingType: "foundation",
      //columns: [
      //  {searchable: true},
      //  null,
      //  null,
      //  null,
      //  {type:"numeric",
      //   className: "text-right",
      //   orderable: false,
      //   searchable: false},
      //  {type:"numeric_fmt",
      //   className: "text-right",
      //   orderable: false},
      //  {searchable: false,
      //   orderable: false},
      //  {visible:false}],
      //fnInitComplete:function() {
      //  // $("#orders-table").show();
      //  this.fnAdjustColumnSizing();
      //}


