= content_for :title do
  Existing Orders
= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li.current
      %a{:href=>'#'} Orders

.grid-x.grid-padding-x
  .small-12.cell
    %table#order-listing{:data=>{:source=>"#{raw admin_orders_path(format: :json)}"}}
      %thead
        %th ID
        %th Code
        %th Name
        %th Seats
        %th Status
        %th Visits
        %th Total
        %th Description
      %tbody

= content_for :js do
  :javascript
    'use strict';

    function update_order_selection_buttons() {
      rows = new $.fn.dataTable.TableTools( $('#orders-table').DataTable() ).fnGetSelected();
      if (rows.length == 0) {
        $('#print-tickets-button,#unclaimed-tickets-button').addClass('disabled');
      } else {
        $('#print-tickets-button,#unclaimed-tickets-button').removeClass('disabled');
      }
    }

    function update_buttons(table) {
      var selectedRows = table.rows( { selected: true } ).count();

      table.button( 0 ).enable( selectedRows > 0 );
    }

    $(document).ready(function() {
      var oListing = $('#order-listing').DataTable({
        "stateSave": true,
        "responsive": true,
        "processing": true,
        "serverSide": true,
        dom: 'lfrBtip',
        buttons: [
                {
                  text: 'Fulfill Selected',
                  action: function(e, dt, node, config) {
                    //console.log($.map(dt.grid-x.grid-padding-xs( {selected:true} ).data(), function(r) { return r.DT_RowId }))
                    //console.log('Fullfilling Selected');
                    var ids = $.map(dt.grid-x.grid-padding-xs({selected:true}).data(), function(r) {return r.DT_RowID })
                    //console.log(ids)
                    $.ajax({
                      url: '#{fulfill_selected_admin_orders_path}',
                      dataType: 'json',
                      data: {ids: ids},
                      type: "POST",
                      success: function(data) {
                       dt.grid-x.grid-padding-xs().invalidate();
                       dt.draw();
                      }
                    });
                    //dt.ajax.reload();

                  }
                }
            ],

        "ajax": $('#order-listing').data('source'),
        "select": true,
        "order": [[ 0, "desc" ]],
        "lengthMenu": [25, 50, 100],
        "language": {
          "lengthMenu" : "_MENU_",
          "processing": '<div class="small-4 small-centered columns"><data-alert class="alert-box" style="z-index:1000">Processing...</div></div>'
        },
        "columns": [
          {data: 'id'},
          {data: 'code'},
          {data: 'name'},
          {data: 'seats'},
          {data: 'status'},
          {data: 'visits'},
          {data: 'total'},
          {data: 'description'},
        ],
      });

      update_buttons(oListing);
      oListing.on( 'select deselect', function() {
        update_buttons(oListing)
      });

      yadcf.init(oListing, [
        { column_number: 0, filter_type: "text", filter_delay: 600 },
        { column_number: 1, filter_type: "text", filter_delay: 600 },
        { column_number: 2, filter_type: "text", filter_delay: 600 },
        { column_number: 3, filter_type: "text", filter_delay: 600 },
        { column_number: 4, filter_type: "select", data: [#{raw Order::ORDER_STATUSES.map{|s| "'#{s}'"}.join(',')}], filter_default_label: "Any" },
      ]);

      $('#order-listing_filter').hide();

      var table = $('#example').DataTable();

      // $('#order-listing tbody').on( 'click', 'tr', function () {
      //     $(this).toggleClass('selected');
      // } );

      // @todo make these buttons


      $('#print-button').click( function () {
          alert( table.grid-x.grid-padding-xs('.selected').data().length +' row(s) selected' );
      } );

      $('#unclaimed-button').click( function () {
          alert( table.grid-x.grid-padding-xs('.selected').data().length +' row(s) selected' );
      } );




    });

    // Setup - add a text input to each footer cell

      // tableTools:{
      //   "aButtons": [ ],
      //   "searchable": true,
      //   "sRowSelect": "os",
      //   "fnRowSelected": function ( nodes ) {
      //     update_order_selection_buttons();
      //   },
      //   "fnRowDeselected": function ( nodes ) {
      //     rows = new $.fn.dataTable.TableTools( $('#orders-table').DataTable() ).fnGetSelected();
      //     update_order_selection_buttons();
      //   }
      // },
      //processing: true,
      //language: {
      //  "processing": '<div class="small-4 small-centered columns"><data-alert class="alert-box" //style="z-index:1000">Processing...</div></div>'
      //},
      //order: [[0, "desc"]],
      //ordering: true,
      //serverSide: true,
      //stateSave: true,
      //// ajax: $('#orders-table').data('data-source'),
      //pagingType: "foundation",
      //columns: [
      //  {searchable: true},
      //  null,
      //  null,
      //  null,
      //  {type:"numeric",
      //   className: "text-right",
      //   orderable: false,
      //   searchable: false},
      //  {type:"numeric_fmt",
      //   className: "text-right",
      //   orderable: false},
      //  {searchable: false,
      //   orderable: false},
      //  {visible:false}],
      //fnInitComplete:function() {
      //  // $("#orders-table").show();
      //  this.fnAdjustColumnSizing();
      //}


