<% javascript :defaults, 'delegate', 'jquery' %>

<h1>Listing orders</h1>

<table>
  <tr>
	<th>Order number     </th>
	<th>Production Code  </th>
	<th>Performance Code </th>
	<th>Purchaser Last Name  </th>
	<th>Purchaser First Name </th>
	<th>Order Total      </th>
	<th>Order Status     </th>
	<th>Last-4.          </th>
    <th>Updated At</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
	<td><%=link_to order.id, order.editable? ? edit_admin_order_path(order) : admin_order_path(order) %></td>
	<td><%=h order.performance.production.production_code %></td>
	<td><%=h order.performance.performance_code %></td>
	<td><%=h order.last_name%></td>
	<td><%=h order.first_name%></td>
	<td><%=h to_currency order.total%></td>
	<td><%=h order.status%></td>
	<td><%=h order.card_last_four%></td>
	<td><%=h order.updated_at%></td>
  </tr>
<% end %>
</table>

<%= include_jquery_grid_javascript %>
<%= include_jquery_grid_css %>
<%= jquery_grid :admin_orders_index_grid, {:url => admin_orders_path } %>
<%= jquery_grid_table %>
<%= jquery_grid_pager %>
