<% content_for :title do %>Existing Orders<% end %>
<% content_for :breadcrumbs do %>
<ul class="breadcrumbs">
  <li class="current"><a href='#'>Orders</a></li>
</ul>
<% end %>

<div class="row">
  <div class="small-12 columns">

    <table id="orders-table", class="hide" data-source="<%= admin_orders_path(format: :json) %>">
      <thead>
        <tr>
          <th id="foot_ID" class="searchy"></th>
          <th id="footer-code" class="searchy"></th>
          <th id="footer-name" class="searchy"></th>
          <th id="status-search" class="option-search"></th>
          <th id="visits"></th>
          <th id="total"></th>
          <th id="description"></th>
          <th id="footer_hidden_id"></th>
        </tr>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Name</th>
          <th>Status</th>
          <th>Visits</th>
          <th>Total</th>
          <th>Description</th>
          <th>Hidden ID</th>
        </tr>

      </thead>
      <tbody>
      </tbody>

    </table>
  </div>
</div>


<% content_for :js do%>
<script type="text/javascript" class="init">
function update_order_selection_buttons() {
  rows = new $.fn.dataTable.TableTools( $('#orders-table').DataTable() ).fnGetSelected();
  if (rows.length == 0) {
    $('#print-tickets-button,#unclaimed-tickets-button').addClass('disabled');
  } else {
    $('#print-tickets-button,#unclaimed-tickets-button').removeClass('disabled');
  }
}

jQuery(document).ready(function() {


  // Setup - add a text input to each footer cell

  $('#orders-table').dataTable({
    dom: '<"top"<"right"<"toolbar">>>rtT<"bottom"lip><"clear">',
    tableTools:{
      "aButtons": [ ],
      "searchable": true,
      "sRowSelect": "os",
      "fnRowSelected": function ( nodes ) {
        update_order_selection_buttons();
      },
      "fnRowDeselected": function ( nodes ) {
        rows = new $.fn.dataTable.TableTools( $('#orders-table').DataTable() ).fnGetSelected();
        update_order_selection_buttons();
      }
    },
    processing: true,
    language: {
      "processing": '<div class="small-4 small-centered columns"><data-alert class="alert-box" style="z-index:1000">Processing...</div></div>'
    },
    order: [[0, "desc"]],
    ordering: true,
    serverSide: true,
    stateSave: true,
    ajax: $('#orders-table').data('source'),
    pagingType: "foundation",
    columns: [
      {searchable: true},
      null,
      null,
      null,
      {type:"numeric",
       className: "text-right",
       orderable: false,
       searchable: false},
      {type:"numeric_fmt",
       className: "text-right",
       orderable: false},
      {searchable: false,
       orderable: false},
      {visible:false}],
    fnInitComplete:function() {
      $("#orders-table").show();
      this.fnAdjustColumnSizing();
    }

  });

  <%  buttons =  '<a id="select-all-button" href="#" class="tiny button">Select all</a>'
      buttons += '<a id="print-tickets-button" href="#" class="tiny button disabled">Fulfill Orders</a>' if permitted_to?(:fulfill, :admin_orders)
      buttons += '<a id="unclaimed-tickets-button" href="#" class="tiny button disabled">Mark Unclaimed</a>' if permitted_to?(:unclaimed, :admin_orders) %>
  $("div.toolbar").html('<%= raw(buttons) %>');
  $('#orders-table thead th.searchy').each( function () {
      var title = $('#orders-table thead th').eq( $(this).index() ).text();
      $(this).html( '<input class = "orders-table-search" id="orders-table-search-' + $(this).index() + '" type="text" placeholder="Search '+title+'">' );
  } );

  var myTable = $('#orders-table').DataTable();

  var settings = $('#orders-table').dataTable().fnSettings();

  $("#foot_ID,#footer-code,#footer-name").each(function (colIdx) {
    this.value = settings.aoPreSearchCols[colIdx].sSearch;
    $(this).find('input').on('change', function() {
      myTable.column(colIdx).search(this.value).draw();
    })
  });

  //$("#foot_ID input").on('change', function() {
  //  table.column(0).search(this.value).draw();
  //});

  $("#status-search").each( function ( i ) {
        var select = $('<select><option value="any">Any</option><% Order::ORDER_STATUSES.each{|s| %><option value="<%= s%>"><%= s%></option><% } %></select>')
            .appendTo( $(this).empty() )
            .on( 'change', function () {
                myTable.column( 3 ) // index of orders
                    .search( $(this).val(), true, false )
                    .draw();
            } );
  });

  /* Now do the individual input values */


  var jqInputs = $('.searchy');
  for ( var i=0 ; i<settings.aoPreSearchCols.length ; i++ )
  {
    if(settings.aoPreSearchCols[i].sSearch!='')
    {
      if (typeof jqInputs[i] != 'undefined') {
        jqInputs[i].value = settings.aoPreSearchCols[i].sSearch;
      }
    }
  }

  if(settings.aoPreSearchCols[0].sSearch!='') {
    $('#foot_ID input').val(settings.aoPreSearchCols[0].sSearch);
  }

  if(settings.aoPreSearchCols[1].sSearch!='') {
    $('#footer-code input').val(settings.aoPreSearchCols[1].sSearch);
  }

  if(settings.aoPreSearchCols[2].sSearch!='') {
    $('#footer-name input').val(settings.aoPreSearchCols[2].sSearch);
  }

  if(settings.aoPreSearchCols[3].sSearch!='') {
    $('#status-search').val(settings.aoPreSearchCols[3].sSearch);
  }

  // Manage select all function
  $('#select-all-button').click( function () {
    var oTT = new $.fn.dataTable.TableTools( myTable )
    oTT.fnSelectAll(true);
  } );

  $('#print-tickets-button').click( function () {
    var oTT = new $.fn.dataTable.TableTools( myTable )
    var ids = $.map(oTT.fnGetSelectedData(), function(v,i) {
                    return v[7];
              });
    jQuery.post("<%= fulfill_selected_admin_orders_path %>", { 'ids[]':ids }, function(data) {
        jQuery.each(data, function(key, value) {
        if( !value['success'] ){
          alert("Order<" + key +"> can not be fulfilled. " + value['message']);
        }
      });

    });
    myTable.ajax.reload(null,false);
    myTable.draw(false);
    $('#print-tickets-button,#unclaimed-tickets-button').addClass('disabled');

  });

  $('#unclaimed-tickets-button').click( function () {
    var oTT = new $.fn.dataTable.TableTools( myTable )
    var ids = $.map(oTT.fnGetSelectedData(), function(v,i) {
                    return v[7];
              });
    jQuery.post("<%= unclaim_selected_admin_orders_path %>", { 'ids[]':ids }, function(data) {
        jQuery.each(data, function(key, value) {
        if( !value['success'] ){
          alert("Order<" + key +"> can not be fulfilled. " + value['message']);
        }
      });

    });
    myTable.ajax.reload(null,false);
    myTable.draw(false);
    $('#print-tickets-button,#unclaimed-tickets-button').addClass('disabled');

  });

});
</script>
<% end %>
