<p>ID: <%=h @order.id %></p>

<%= render :partial => 'address_show', :locals=>{:address=>@order.address } %>

<p>
Performance:
<%=h @order.performance.to_s %>
</p>

<table id='line_items'>
	<thead>
	<th>Ticket Class</th>
	<th>Ticket Count</th>
	</thead>
<% @order.line_items.each do |line_item| %>
<% if line_item.ticket? then %><tr>
	<td><%=h line_item.ticket_class.to_s %></td>
	<td><%=h line_item.ticket_count %></td>
	</tr><% end %>
<% end %>
  <tr>
    <td></td>
    <td><%= @order.line_items.map{|li|li.ticket? ? li.ticket_count : 0}.sum %> -- Total Tickets</td>
  </tr>
</table>

<table id='payments'>
  <thead>
   <th>id                      </th>
   <th>Amount                  </th>
   <th>Card Info              </th>
   <th>Confirmation       </th>
   <th>Linked?              </th>
   <th>type                    </th>
   <th>note              </th>
  </thead>
  <% @order.payments.sort! { |a,b| a.created_at <=> b.created_at } %>
  <% @order.payments.each do |payment| %>
  <tr>
  <td><%=h payment.id                      %></td>
  <td><%=h to_currency(payment.amount)     %></td>
  <td><%=h payment.card_type.nil? ? "" : payment.card_type + (payment.card_last_four.nil? ? "" : "-" + payment.card_last_four.to_s)         %></td>
   <td><%=h payment.confirmation_code       %></td>
  <td><%=h payment.payment_id              %></td>
  <td><%=h payment.type                    %></td>
  <td><%=h payment.note              %></td>
  </tr>
  <% end %>
</table>
<p>
	Order Status: 
	<%=h @order.status %>
</p>
<p>
	Confirmation Code:
	<%=h @order.payments.first.nil? ? "" : @order.payments.first.confirmation_code %>
</p>
<p>
	Referral Code:
	<%=h @order.referral_code %>
</p>
<p>
	Notes:
	<%=h @order.notes %>
</p>
<p>
	<% if @order.status == 'Processed' %>
	<%= link_to 'Refund Order', new_admin_order_refund_order_path(@order) %>
	<%= link_to 'Exchange Order', new_admin_order_exchange_order_path(@order) %>
	<%= link_to 'Fulfill Order', fulfill_admin_order_path(@order), :confirm => "Are you sure?", :method=>:post  %>
	<% end %>
	<% if @order.status == 'Processing' %>
	<%= link_to 'Cancel Order', cancel_admin_order_path(@order), :confirm => "Are you sure?", :method=>:post %>
	<% end %>
</p>