<p>
First Name:
<%=h @order.address.first_name %>
</p>
<p>
Last name:
<%=h @order.address.last_name %>
</p>
<p>
Email:
<%=h @order.address.email %>
</p>
<p>
Billing Address:
</p>
<p>
Address Line1:
<%=h @order.address.line1 %>
</p>
<p>
Address Line2:
<%=h @order.address.line2 %>
</p>
<p>
City:
<%=h @order.address.city %>
</p>
<p>
State/Province/Region:
<%=h @order.address.state %>
</p>
<p>
ZIP/Postal Code:
<%=h @order.address.zipcode %>
</p>
<p>
Card number:
*<%=h @order.payments.first.card_last_four %>
</p>
<p>
Card type:
<%=h @order.payments.first.card_type %>
</p>
<p>
Performance:
<%=h @order.performance.to_s %>
</p>

<table id='line_items'>
	<thead>
	<th>Ticket Class</th>
	<th>Ticket Count</th>
	<th>Price Override</th>
	<th>Total</th>
	</thead>
<% @order.line_items.each do |line_item| %>
	<tr>
	<td><%=h line_item.ticket_class.to_s %></td>
	<td><%=h line_item.ticket_count %></td>
	<td><%=h to_currency line_item.price_override %></td>
  	<td><%=h to_currency line_item.total%></td>
	</tr>
<% end %>
</table>
<p>
	Order Status: <%=h @order.status || 'New' %>
</p>
<p>
	Confirmation Code:
	<%=h @order.payments.first.confirmation_code %>
</p>
<p>
	Referral Code:
	<%=h @order.referral_code %>
</p>
<p>
	Notes:
	<%=h @order.notes %>
</p>
<p>
	<% if @order.status == 'Processed' %>
	<%= link_to 'Refund Order', refund_admin_order_path(@order), :confirm => "Are you sure?", :method=>:post %>
	<%= link_to 'Exchange Order', exchange_admin_order_path(@order) %>
	<%= link_to 'Fulfill Order', fulfill_admin_order_path(@order), :confirm => "Are you sure?", :method=>:post  %>
	<% end %>
	<% if @order.status == 'Processing' %>
	<%= link_to 'Cancel Order', cancel_admin_order_path(@order), :confirm => "Are you sure?", :method=>:post %>
	<% end %>
</p>