<%= render :partial => 'order_detail', :locals=>{:order=>@order } %>


<p>
	<%= link_to 'Refund Order', new_admin_order_refund_order_path(@order) if @order.refundable? %>
	<%= link_to 'Exchange Order', new_admin_order_exchange_order_path(@order) if @order.exchangeable? %>
	<%= link_to 'Fulfill Order', fulfill_admin_order_path(@order) if @order.fulfillable?  %>
	<% if @order.status == 'Processing' || @order.status == 'Hold' || @order.status == Order::NEW %>
	<%= link_to 'Cancel Order', cancel_admin_order_path(@order), :confirm => "Are you sure?", :method=>:post %>
	<% end %>
</p>

<%= render :partial => '/admin/orders/audit_show', :locals=>{:order_form=>@order} %>

