<%= render :partial => 'address_show', :locals=>{:address=>@order.address } %>
<%= render :partial => 'payments_show', :locals=>{:payments=>@order.payments } %>
<p>
Performance:
<%=h @order.performance.to_s %>
</p>

<table id='line_items'>
	<thead>
	<th>Ticket Class</th>
	<th>Ticket Count</th>
	</thead>
<% @order.line_items.each do |line_item| %>
	<tr>
	<td><%=h line_item.ticket_class.to_s %></td>
	<td><%=h line_item.ticket_count %></td>
	</tr>
<% end %>
  <tr>
    <td></td>
    <td><%= @order.line_items.map{|li|li.ticket_count}.sum %> -- Total Tickets</td>
  </tr>
</table>

<table id='payments'>
  <thead>
   <th>id                      </th>
   <th>amount                  </th>
   <th>last_four          </th>
   <th>card               </th>
   <th>exp year    </th>
   <th>exp month   </th>
   <th>conf code       </th>
   <th>linked id              </th>
   <th>type                    </th>
   <th>created              </th>
  </thead>
  <% @order.payments.each do |payment| %>
  <tr>
  <td><%= payment.id                      %></td>
  <td><%= payment.amount                  %></td>
  <td><%= payment.card_last_four          %></td>
  <td><%= payment.card_type               %></td>
  <td><%= payment.card_expiration_year    %></td>
  <td><%= payment.card_expiration_month   %></td>
  <td><%= payment.confirmation_code       %></td>
  <td><%= payment.payment_id              %></td>
  <td><%= payment.type                    %></td>
  <td><%= payment.created_at              %></td>
  </tr>
  <% end %>
</table>
<p>
	Order Status: <%=h @order.status || 'New' %>
</p>
<p>
	Confirmation Code:
	<%=h @order.payments.first.confirmation_code %>
</p>
<p>
	Referral Code:
	<%=h @order.referral_code %>
</p>
<p>
	Notes:
	<%=h @order.notes %>
</p>
<p>
	<% if @order.status == 'Processed' %>
	<%= link_to 'Refund Order', refund_admin_order_path(@order), :confirm => "Are you sure?", :method=>:post %>
	<%= link_to 'Exchange Order', exchange_admin_order_path(@order) %>
	<%= link_to 'Fulfill Order', fulfill_admin_order_path(@order), :confirm => "Are you sure?", :method=>:post  %>
	<% end %>
	<% if @order.status == 'Processing' %>
	<%= link_to 'Cancel Order', cancel_admin_order_path(@order), :confirm => "Are you sure?", :method=>:post %>
	<% end %>
</p>