= content_for :title do
  Imports
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: 'Imports'}]

.grid-x.grid-padding-x
  .small-12.cell
    %fieldset.fieldset
      %legend Import TRGarts Order File
      = form_for @trg_basic_import, :url=> admin_imports_path, :html=>{:multipart=>true} do |form|
        .grid-x.grid-padding-x
          .small-3.cell
            = label_tag :production, 'Update attendees', :class=>'left inline'
          .small-9.cell
            = collection_select :production, :production_id, @productions, :id, :name, :include_blank=>true

        .grid-x.grid-padding-x
          .small-3.cell
            =label_tag :datafile, 'From file', :class=>'left inline'
          .small-9.cell
            = form.file_field :datafile, :label=>"From File", as: :file, direct_upload: true, input_html: { data: { direct_upload_url: rails_direct_uploads_url } }

        %br
        = submit_tag "Import Attendees", :class=>'button'

 
    %br
    %fieldset.fieldset
      %legend Import Mailing List Signup Cards
      = form_for @card_basic_import, :url=> mailing_cards_admin_imports_path, :html=>{:multipart=>true} do |form|
        .grid-x.grid-padding-x
          .small-3.cell
            = label_tag :production, 'Update attendees', :class=>'left inline'
          .small-9.cell
            = collection_select :production, :production_id, @productions, :id, :name
        .grid-x.grid-padding-x
          .small-3.cell
            = label_tag :datafile, 'From file', :class=>'left inline'
          .small-9.cell
            = form.file_field :datafile
        = submit_tag "Import Mailing List", :class=>'button'

    %br
    %fieldset.fieldset
      %legend Import External Address Data
      = form_for @card_basic_import, :url=> external_contacts_admin_imports_path, :html=>{:multipart=>true} do |form|
        .grid-x.grid-padding-x
          .small-3.cell
            = label_tag :theater, 'Associate to Theater', :class=>'left inline'
          .small-9.cell
            = collection_select :theater, :theater_id, @theaters, :id, :name
        .grid-x.grid-padding-x
          .small-3.cell
            = label_tag :datafile, 'From file', :class=>'left inline'
          .small-9.cell
            = form.file_field :datafile
        = submit_tag "Import Mailing List", :class=>'button'

    %fieldset.fieldset
      %legend Import Donor Levels from LGL
      =form_for @donor_import, url: donation_levels_admin_imports_path, html: {multipart: true} do |form|
        .grid-x.grid-padding-x
          .small-3.cell
            = label_tag :datafile, 'From file', :class=>'left inline'
          .small-9.cell
            = form.file_field :datafile
        = submit_tag "Import Donor levels", :class=>'button'
    %fieldset.fieldset
      %legend Import Bulk Orders
      = form_for @bulk_orders_import, :url=> bulk_orders_admin_imports_path, :html=>{:multipart=>true} do |form|
        .grid-x.grid-padding-x
          .small-3.cell
            = label_tag :theater, 'Associate to Theater', :class=>'left inline'
          .small-9.cell
            = collection_select :theater, :theater_id, @theaters, :id, :name
        .grid-x.grid-padding-x
          .small-3.cell
            = label_tag :payment_type, 'Use Payment Type', :class=>'left inline'
          .small-4.cell
            = collection_select :payment_type, :payment_type_id, @payment_types, :id, :display_name, :include_blank=>"None"
          .small-5.cell
            = check_box_tag :add_to_email_list, '1', true
            = label_tag :add_to_email_list, "Add to email lists (unless season seating)",  :class=>'left inline'
           
        .grid-x.grid-padding-x
          .small-3.cell
            = label_tag :datafile, 'From file', :class=>'left inline'
          .small-9.cell
            = form.file_field :datafile
        = submit_tag "Import Orders", :class=>'button'
    %fieldset.fieldset
      %legend Import Flex Pass Orders
      = form_for @bulk_flex_pass_orders_import, :url=> bulk_flex_pass_orders_admin_imports_path, :html=>{:multipart=>true} do |form|
        .grid-x.grid-padding-x
          .small-3.cell
            = label_tag :theater, 'Associate to Theater', :class=>'left inline'
          .small-9.cell
            = collection_select :theater, :theater_id, @theaters, :id, :name
        .grid-x.grid-padding-x
          .small-3.cell
            = label_tag :payment_type, 'Use Payment Type', :class=>'left inline'
          .small-9.cell
            = collection_select :payment_type, :payment_type_id, @payment_types, :id, :display_name, :include_blank=>"None"
        .grid-x.grid-padding-x
          .small-3.cell
            = label_tag :datafile, 'From file', :class=>'left inline'
          .small-9.cell
            = form.file_field :datafile, :label=>"From file", as: :file, direct_upload: true, input_html: { data: { direct_upload_url: rails_direct_uploads_url } }
        = submit_tag "Import Flex Pass Orders", :class=>'button'

    = render '/file_stores/current_files', :file_stores=>@imports
