 <h1>Imports</h1>

  <fieldset>
    <legend>Import TRGarts Order File</legend>
  <%= form_for @trg_basic_import, :url=> admin_imports_path, :html=>{:multipart=>true} do |form| %>
    Update <%= collection_select(:production, :production_id, @productions, :id, :name, :include_blank=>true) %> attendees from file
    <%= form.file_field :data %>
    <br/>
    <%= submit_tag "Import Attendees" %>
  <% end %>
  </fieldset>
  <br/>
  <%= render :partial=>'/file_stores/current_files', :locals=>{:file_stores=>@imports} %>
