<h1>Edit User</h1>

<%= form_for @user, :url => account_path do |f| %>
	<%= f.error_messages %>
	<p>
		Email: <%= @user.email %>
	</p>
	<%= f.submit "Update" %>
<% end %>

<br /><%= link_to "My Profile", account_path %>
