- festival = band.festival
.festival-band{:id=>"festival-#{festival.id}"}
  .grid-x.grid-padding-x
    .small-12.cell
      .festival-band__header
        - if festival.box_office_image.attached?
          = image_tag festival.decorate.box_office_image_url(Production::LARGE), :class=>"festival-band__image", :alt=>festival.name
        %h3.festival-band__name= festival.name
        - if festival.formatted_date_range
          %p.festival-band__dates= festival.formatted_date_range
        - unless festival.description.blank?
          .festival-band__description= festival.description
  = render :partial=>'list_in_row', :locals=>{:productions=>band.productions, :across=>6, :cell_classes=>'small-6 medium-2'}
