<a name="production<%= production.id %>"></a>
<%- if !production.best_image_url_available(:medium).blank? then %>
  <img class="production_logo" src="<%= production.best_image_url_available(:medium) %>" width="250"/>
<%- end %>
<div class="production_information <%= (defined? layout_style) ? layout_style : '' %>">

  <% if production.theater.class_display != '' then %>
    <p><span class="company_class"><%= production.theater.class_display %></span> -
      <span class="company_header"><%= production.theater.name %></span></p>
  <% else %>
    <p><span class="company_class"><%= production.theater.name %></span></p>
  <% end %>
  <span class="production_name"><%= production.name %></span><br/>
  <span class="production_credits"><%= raw production.credit_lines %></span><br/>

  <p class="production_dates">
    <%- if production.status != Production::PRESALE %>
      <%= h "#{production.first_preview_at.strftime('%B %d, %Y')} #{'through ' + production.closing_at.strftime('%B %d, %Y ') unless production.first_preview_at == production.closing_at}" %>
    <%- else %>
      <%= "#{soft_date(production.first_preview_at)} #{'through ' + soft_date(production.closing_at) unless soft_date(production.first_preview_at) == soft_date(production.closing_at)}" %>
    <%- end %>
  </p>

  <div class="production_description">
    <p>
      <%= raw production.show_description %>
    </p>
    <%- if !production.running_time.blank? then -%>
      <p class="running_time">Running
        Time: <%= production.running_time > 95 ? distance_of_time_in_words(production.running_time*60) : "#{production.running_time} minutes" %><%= " with intermission" if production.intermission? %></p>
    <%- end -%>
    <% if !production.additional_information_link.blank? then %>
      <p class="additional_information">For more information, click
        <a href="<%= production.additional_information_link %>" target="_blank">here</a>.</p>
    <% end %>
    <br clear="all"/>
  </div>


</div>