<div class="row">
  <div class="small-12 columns">
    <a name="production<%= production.id %>"></a>
    <%- if production.best_image_url_available(:medium).blank? then %>
      <img class="production_logo" src="<%= production.best_image_url_available(:medium) %>" width="250"/>
    <%- end %>
    <div class="production_information <%= (defined? layout_style) ? layout_style : '' %>">
      <% if production.theater.class_display != '' then %>
        <span class="company_class"><%= production.theater.class_display %></span>
        <span class="company_header"><%= production.theater.name %></span>
      <% else %>
        <span class="company_class"><%= production.theater.name %></span>
      <% end %>
      <span class="production_name"><%= production.name %></span><br/>
      <span class="production_credits"><%= raw production.credit_lines %></span><br/>

      <%= render :partial=>'/productions/production_dates', :locals=>{:production=>production} %>
      <div class="production_description">
        <p>
          <%= raw $MARKDOWN.render(production.show_description) %>
        </p>
        <%- if !production.running_time.blank? then
          hour = "#{(production.running_time / 60).to_i} hour#{(production.running_time/60).to_i > 1 ? 's' : ''}"
          hour = hour + " #{production.running_time % 60} minute#{(production.running_time % 60 > 1) ? 's' : ''}" if (production.running_time % 60) != 0-%>
          <br>
          <p class="running_time">Running
            Time: <%= hour %> with <%= "no " unless production.intermission? %>intermission</p>
        <%- end -%>
        <%- unless production.additional_information_link.blank?  %>
          <p>
    		<a href="<%= production.additional_information_link %>" <%= "target=\"_blank\"" unless production.theater.is_default? %>>
    			For more information, click here
    		</a>
    	  </p>
        <%- end %>
        <br clear="all"/>

      </div>
    </div>
  </div>
</div>
