<p>
  <b>Name:</b>
  <%=h @production.name %>
</p>

<p>
  <b>Credit lines:</b>
  <%=h @production.credit_lines %>
</p>

<p>
  <b>First preview at:</b>
  <%=h @production.first_preview_at %>
</p>

<p>
  <b>Press opening at:</b>
  <%=h @production.press_opening_at %>
</p>

<p>
  <b>Opening at:</b>
  <%=h @production.opening_at %>
</p>

<p>
  <b>Closing at:</b>
  <%=h @production.closing_at %>
</p>

<p>
  <b>Show description:</b>
  <%=h @production.show_description %>
</p>

<p>
  <b>Capacity:</b>
  <%=h @production.capacity %>
</p>

<p>
  <b>Additional information link:</b>
  <%=h @production.additional_information_link %>
</p>

<p>
  <b>Status:</b>
  <%=h @production.status %>
</p>

<p>
  <b>Performances:</b>
  <%= link_to 'Show', theater_production_performances_path(@production.theater, @production) %>
</p>


<%= link_to 'Edit', edit_theater_production_path(@production.theater, @production) %> |
<%= link_to 'Back', theater_productions_path(@production.theater) %>