<%= javascript :defaults, 'delegate', 'jquery-1.4.2.min', 'jquery.autocomplete', 'membership_order' %>

<h1><%= @order.membership_offer.name %></h1>

<%- if !@order.membership_offer.html_description.blank? %>
  <p><%= raw @order.membership_offer.html_description %></p>
<%- end %>
<%= semantic_form_for @order do |order_form| %>
  <%= order_form.error_messages %>
  <%= order_form.inputs :class=>"order" do %>
    <%= order_form.semantic_fields_for :membership_line_items do |mlif| %>
      <% mlif.inputs do %>
        <%= mlif.input :membership_offer_id, :as=>:hidden %>
      <%- end %>
    <%- end %>
    <%= order_form.check_box :add_to_email_list, :checked=>1 %>
    </span>
    <%= order_form.hidden_field :status %>
    <%= render :partial=>'/orders/address', :locals=>{:order_form=>order_form} %>
    <table>
      <tr>
        <td width="25%">&nbsp;</td>
        <td valign="top">
          <%= order_form.check_box :add_to_email_list, :checked=>1 %>
        <td>
          Join our mailing list to take full advantage of your membership.
          <br/><span style="font-size: 11px">.  We'll send you company news,
          special offers, building schedule and more delivered twice monthly. Your email
                will not be shared. :) </span>
        </td>
      </tr>
    </table>
  <%- end %>
  <%= order_form.submit "Checkout", :action=>:confirm, :disable_with => 'Processing...' if order_form.object.status == Order::NEW %>
<%- end %>
