<%= order_form.semantic_fields_for :address do |address_form| %>
  <%= address_form.inputs do %>
    <%= address_form.input :full_name, :label=>"Name", :required=>true %>
    <%= address_form.input :email, :required=>true %>
    <%= address_form.input :line1, :label=>"Billing Address" %>
    <li>
      <label>&nbsp;</label>

      <div class="inline">

        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <%= address_form.text_field :city %>
              <br/><%= address_form.label :city %> </td>
            <td>
              <%= address_form.text_field :state, :size=>3 %>
              <br/><%= address_form.label :state, 'State' %>
            </td>
            <td>
              <%= address_form.text_field :zipcode, :size=>11 %>
              <br/> <%= address_form.label :zipcode, 'Zip' %>

            </td>
          </tr>
        </table>
      </div>
    </li>
    <%= address_form.input :phone %>
  <%- end %>
<% end %>