.grid-x.grid-padding-x
  .small-12.cell
    - t = order_form.object.performance.production.theater unless order_form.object.performance.nil?
    - default_text = t.blank? || t.theater_class == 'Default'
    - unless t.name.eql?('Remy Bumppo Theatre Company')
      %fieldset.panel
        %legend
          - if default_text
            I wish to offer additional support
          - else
            Make a donation to Theater Wit
        %p.inline
          - if t.producing?
            Yes! I love
            = "#{t.name}."
            Please add a tax-deductible contribution to this order of $
            = order_form.input_field :additional_donation, :size => 7, :style=>"display:inline; width:auto"
          - else
            In addition to its own award-winning programming, Theater Wit subsidizes facilities and  support for groups like
            = "#{t.name.strip}."
            Help us bring theater, laughter and debate to our community. Please add a tax-deductible contribution to this order of $
            = order_form.input_field :additional_donation, :size=>8, :style=>"display:inline; width:auto"

