.grid-x.grid-padding-x
  - t = order_form.object.performance.production.theater
  - unless t.is_default? || t.is_copro?
    .small-12.cell
      %fieldset.panel.fieldset
        %legend
          Donate to
          =t.name
        %p.inline
          Yes! I love
          = "#{t.name}."
          Please add a tax-deductible contribution to this order of $
          = order_form.input_field :additional_donation_for_other, :size => 8, :style=>"display:inline; width:auto"
  .small-12.cell
    - default_text = t.blank? || t.is_default?
    %fieldset.panel.fieldset
      %legend
        - if default_text
          I wish to offer additional support
        - else
          Make a donation to
          = t.is_copro? ? t.name : Theater.default_theater.name
      %p.inline
        - if t.producing?
          Yes! I love
          = "#{t.name}."
          Please add a tax-deductible contribution to this order of $
          = order_form.input_field :additional_donation, :size => 8, :style=>"display:inline; width:auto"
        - else
          In addition to its own award-winning programming,
          = Theater.default_theater.name
          subsidizes facilities and support for groups like
          = "#{t.name.strip}."
          Help us bring theater, laughter and debate to our community. Please add a tax-deductible contribution to this order of $
          = order_form.input_field :additional_donation, :size=>8, :style=>"display:inline; width:auto"
