<%= order_form.label :payment_type %>
<%= order_form.select :payment_type, payment_types_for(order_form.object) %>
<div id='payment_forms'>
  <%= render :partial => '/orders/special_offer_form', :locals => { :f => order_form } %>
	<div id='credit_card_payment_form'>
		<%= render :partial => '/orders/credit_card_payment_form', :locals => { :f => order_form } %>
	</div>
	<div id='cash_payment_form'>
		<%= render :partial => '/orders/cash_payment_form', :locals => { :f => order_form } %>
	</div>
	<div id='flex_pass_payment_form'>
		<%= render :partial => '/orders/flex_pass_payment_form', :locals => { :f => order_form } %>
	</div>
</div>
