    <%= order_form.input :payment_type, :label=>"Pay using", :include_blank=> false, :as=>:select, :collection=>((defined? allowed_payment_types).nil? ? payment_types_for(order_form.object) : allowed_payment_types) %>

    <div id='payment_forms'>
        <div id='credit_card_payment_form'>
		    <%= render :partial => '/orders/credit_card_payment_form', :locals => { :f => order_form } %>
	    </div>
	    <div id='cash_payment_form'>
		    <%= render :partial => '/orders/cash_payment_form', :locals => { :f => order_form } %>
	    </div>
	    <div id='flex_pass_payment_form'>
		    <%= render :partial => '/orders/flex_pass_payment_form', :locals => { :f => order_form } %>
	    </div>
    </div>
    <%= render :partial => '/orders/special_offer_form', :locals => { :f => order_form } %>
