<% ordering_flex_pass =  (@order.line_items.select{|li|li.is_a? FlexPassLineItem}+@order.flex_pass_line_items).size > 0 %>
<%= order_form.label :payment_type %>
<%= order_form.select :payment_type, ordering_flex_pass ? payment_types - ['FlexPass'] : payment_types %>
<div id='payment_forms'>
	<div id='credit_card_payment_form'>
		<%= render :partial => '/orders/credit_card_payment_form', :locals => { :f => order_form } %>
	</div>
	<div id='cash_payment_form'>
		<%= render :partial => '/orders/cash_payment_form', :locals => { :f => order_form } %>
	</div>
	<div id='flex_pass_payment_form'>
		<%= render :partial => '/orders/flex_pass_payment_form', :locals => { :f => order_form } %>
	</div>
</div>
