.grid-x.grid-padding-x.ticket_line_item.line_item{:price=>f.object.ticket_class.try(:ticket_price), :ticket_type=>f.object.ticket_class.try(:ticket_type)}
  .small-6.cell.vertical-center
    = f.hidden_field :ticket_class_id
    = f.object.ticket_class.class_name
  .small-6.medium-3.cell
    - max_per_order = Rails.configuration.x.server_config[:max_ticket_dropdown] || 20
    - if f.object.ticket_class.holds_seats?
      - number_left = performance.number_of_seats_left
      -# Cap the quantity selector at max_per_order even when more seats are available
      - max_count = [f.object.ticket_class.number_left(performance), number_left, max_per_order].min
      -# Near-capacity: pull the final seats off self-service and route to the box office.
      -# Same gate as the calendar listing (Performance#near_capacity? / restrict_sales_due_to_capacity_at),
      -# so a direct link to a low-inventory performance is suspended the same way the calendar is.
      - if performance.near_capacity?
        = f.hidden_field :ticket_count
        - if number_left == 0
          Sold Out
        - else
          Call
      - else
        = f.input_field :ticket_count, collection: 0.upto(max_count).map{|x| x}, include_blank:false, :class=>'ticket_count'
    - else
      = f.input_field :ticket_count, collection: 0.upto(max_per_order).map{|x| x}, include_blank:false, :class=>'ticket_count'
  .small-12.medium-3.cell
    - if f.object.ticket_class.ticket_type == 'Donation'
      = f.input_field :price_override, :class=>'price_override', :placeholder=>"Suggested #{number_to_currency(f.object.ticket_class.ticket_price)}"
      = f.hidden_field :default_price_override, :class=>'default_price_override', value: f.object.ticket_class.ticket_price
    -else
      - if f.object.ticket_class.software_managed? || f.object.ticket_class.hide_pricing?
        n/a
      -else
        %span.ticket_price= number_to_currency(f.object.ticket_class.ticket_price)
  - unless f.object.ticket_class.purchase_page_annotation.blank?
    .small-12.cell.ticket_class_annotation
      = display_markdown(f.object.ticket_class.purchase_page_annotation)
