.row.ticket_line_item.line_item{:price=>f.object.ticket_class.try(:ticket_price), :ticket_type=>f.object.ticket_class.try(:ticket_type)}
  .small-6.columns.vertical-center
    = f.hidden_field :ticket_class_id
    = f.object.ticket_class.class_name
  .small-6.medium-3.columns
    - if f.object.ticket_class.holds_seats?
      - number_left = f.object.ticket_class.number_left(performance)
      - if number_left <= 9
        = f.hidden_field :ticket_count
        - if number_left == 0
          Sold Out
        - elsif number_left <= 9
          Call
      - else
        = f.input_field :ticket_count, collection: 0.upto(20).map{|x| x}, include_blank:false, :class=>'ticket_count'
    - else
      = f.input_field :ticket_count, collection: 0.upto(20).map{|x| x}, include_blank:false, :class=>'ticket_count'
  .small-12.medium-3.columns
    - if f.object.ticket_class.ticket_type == 'Donation'
      = f.input_field :price_override, :class=>'price_override', :placeholder=>"Suggested #{number_to_currency(f.object.ticket_class.ticket_price)}"
      = f.hidden_field :default_price_override, :class=>'default_price_override', value: f.object.ticket_class.ticket_price
    -else
      - if f.object.ticket_class.software_managed? || f.object.ticket_class.hide_pricing?
        n/a
      -else
        %span.ticket_price= number_to_currency(f.object.ticket_class.ticket_price)
  - unless f.object.ticket_class.purchase_page_annotation.blank?
    .small-12.columns.ticket_class_annotation
      = display_markdown(f.object.ticket_class.purchase_page_annotation)
