<p>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
</p>
<p>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
</p>
<p>
<%= f.label :email %>
<%= f.text_field :email %>
</p>
<p>
	Billing Address:
</p>
<p>
<%= f.label :billing_address_line1, 'Address Line1' %>
<%= f.text_field :billing_address_line1 %>
</p>
<p>
<%= f.label :billing_address_line2, 'Address Line2' %>
<%= f.text_field :billing_address_line2 %>
</p>
<p>
<%= f.label :billing_address_city, 'City' %>
<%= f.text_field :billing_address_city %>
</p>
<p>
<%= f.label :billing_address_state, 'State/Province/Region' %>
<%= f.text_field :billing_address_state %>
</p>
<p>
<%= f.label :billing_address_zipcode, 'ZIP/Postal Code' %>
<%= f.text_field :billing_address_zipcode %>
</p>
