<h1><%=@order.new_record? ? 'New' : 'Continue'%> order</h1>

<% form_for([@production,@performance,@order]) do |f| %>
<%= f.error_messages %>
<%= f.hidden_field :production_code %>
<%= f.hidden_field :performance_code %>
<%= f.hidden_field :status %>
<%= f.hidden_field :wizard_stage %>
<%= render :partial=>"wizard_stage_#{@order.wizard_stage}", :locals=>{:f=>f}%>
  <p>
    <%= f.submit @order.new_record? ? 'Create' : 'Update' %>
  </p>
<% end %>