<% if @available_ticket_classes.nil? || @available_ticket_classes.empty? %>
  No Web Available Tickets
<% else %>
<%=@order.new_record? ? 'New' : 'Continue'%> reservation for <%=@production.name%> on <%= @performance.performance_date.to_formatted_s(:long_ordinal) %> at <%=  @performance.performance_time.to_formatted_s(:hour_min)%></h1>

<% form_for([@production,@performance,@order]) do |f| %>
<%= f.error_messages %>
<%= f.hidden_field :production_code %>
<%= f.hidden_field :performance_code %>
<%= f.hidden_field :status %>
<%= render :partial=>"wizard_stage_2", :locals=>{:f=>f}%>
<%= render :partial=>"wizard_stage_1", :locals=>{:f=>f}%>
<%= render :partial=>"wizard_stage_3", :locals=>{:f=>f}%>
<p>
  <%= f.label :referral_code %> (optional)<br/>
  <%= f.text_field :referral_code %>  
</p>
  <p>
    <%= f.submit @order.new_record? ? 'Order tickets' : 'Update' %>
  </p>
<% end %>
<% end %>