<%- if @order.ticket_line_items.count > 0 -%>
<p>Thanks!  Your ticket reservation has been made and your credit card has been charged <%= number_to_currency( @order.total) %>.  Your order is
  #<%= @order.id %>, and your tickets will be available for pickup under your name at our box office at 1229 W Belmont ninety minutes before curtain. 
We will see you at the show on <%= @order.performance.performance_date.to_formatted_s(:long_ordinal) %> at 
<%= @order.performance.performance_time.to_formatted_s(:hour_min) %>. Seating is general admission. If you have any questions, please 
don't hesitate to call us at 773-975-8150 or email us at boxoffice@theaterwit.org.  Thanks for your support and we'll see 
you at the theatre.  Enjoy the show!
</p>
<%- elsif @order.flex_pass_line_items.count > 0 -%>
<%= render :partial=>'/line_items/flex_pass_confirmation', :locals=>{:flex_pass_offer=>@order.flex_pass_line_items[0].flex_pass_offer, :flex_passes=>@order.flex_pass_line_items[0].flex_passes} %>
<%- elsif @order.donation_line_items.count > 0 -%>
<p>
  Thanks!  You are 100% awesome.  And probably 100% adorable.  We've charged your credit card for <%= number_to_currency( @order.total) %> today for your
  donation.  We'll also be sending you both an email and regular ol' snail mail message for your tax records.  Please don't hesitate to call us at the
  theater (773-975-8150) or drop by next time you're in.  We'd love to say hi.
</p>
  <p>
    Thanks again, <br/>
    Jeremy Wechsler<br/>
    Artistic Director,<br/>
    Theater Wit
  </p>
<%- end -%>
