<div class="show-listing background-<%= background %>" style="width: <%= slice %>%">
  <p class="venue"><%= production.venue.name %></p>
  <%= if production.promo.attached?
        image_url = 
        link_to(production.decorate.promo(Production::THUMB), production_performances_path(production.id), id:"nowplaying_thumb_#{production.id}") %>
      else
        ''
      end
  <p>
          <span class="production_name"><%=
              if (defined? new_window_link) && new_window_link
                link_to production.name, production_performances_path(production.id), :target=>'_blank'
              else
                link_to(production.name, production_performances_path(production.id, :anchor=>"top"))
              end %></span>
            <br/><%= "presented by #{production.theater.name}" if !production.theater.is_default? %>
  </p>
  <%- if !production.theater.is_default? %>
    <p class="company_class"><%= production.theater.theater_class %></p>
  <%- end %>

</div>