<style type="text/css" scoped>
  #nowplaying_thumb_<%= production.id %> {
    background: url(<%= production.best_image_url_available(:thumb)%>) no-repeat center center;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    text-indent:100%;
    height: 186px;
  }
  </style>
<div class="show-listing background-<%= background %>" style="width: <%= slice %>%">
  <p class="venue"><%= production.venue.name %></p>
  <%= image_url = production.best_image_url_available(:thumb)
      link_to("showtitle", production_performances_path(production.id, :anchor=>"top"), id:"nowplaying_thumb_#{production.id}") unless image_url.nil? %>
  <p>
          <span class="production_name"><%=
              if (defined? new_window_link) && new_window_link
                link_to production.name, production_performances_path(production.id), :target=>'_blank'
              else
                link_to(production.name, production_performances_path(production.id, :anchor=>"top"))
              end %></span>
            <br/><%= "presented by #{production.theater.name}" if !production.theater.is_default? %>
  </p>
  <%- if !production.theater.is_default? %>
    <p class="company_class"><%= production.theater.theater_class %></p>
  <%- end %>

</div>