<%- unless @now_playing_productions.empty? && @offtime_productions.empty? %>
  <div class="production_list" id="now_playing_shows_by_venue">
    <%- num_pieces = (@now_playing_productions.size + (@offtime_productions.empty? ? 0 : 1))
        row_count = (num_pieces > @max_pieces) ? @max_pieces : num_pieces
        slice = 100 / row_count %>
    <%- @now_playing_productions.each do |venue_production| %>
      <%- if row_count == 0 then
            num_pieces -= @max_pieces
            row_count = (num_pieces > @max_pieces) ? @max_pieces : num_pieces
            slice = 100 / row_count %>
        <br style="clear: both"/>
      <%- end %>
      <%= render :partial=>"show_thumb", :locals=>{:slice=>slice,:production=>venue_production, :background=>@background} %>
      <%- row_count -= 1 %>
    <%- end %>
    <%- if !@offtime_productions.empty? %>
      <p class="background-<%= @background %>">Plus:</p>
      <%- @offtime_productions.each do |production| %>
        <div class="show-listing background-<%= @background %>" style="width: <%= slice %>%">
          <p class="production_name"><%= link_to production.name, production_performances_path(production.id), :anchor=>"top" %><br/><%= "presented by #{production.theater.name}" if !production.theater.is_default? %></p>
        </div>
      <%- end %>
    <%- end %>
  </div>
<%- end %>
