<% title "Admin/Venues" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for venue in @venues %>
    <tr>
      <td><%= venue.name %></td>
      <td><%= link_to "Show", [:admin, venue] %></td>
      <td><%= link_to "Edit", edit_admin_venue_path(venue) %></td>
      <td><%= link_to "Destroy", [:admin, venue], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Venue", new_admin_venue_path %></p>
