= content_for :title do
  Venue
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: "Venues", path: admin_venues_path }, { label: @venue.name }]

- if @venue.external?
  = render "shared/components/callout", variant: "primary" do
    %strong External Venue

.grid-x.grid-padding-x
  .cell.small-12
    %h3 Seat Maps
    = render partial: 'seat_maps'
    = link_to("New Seat Map", [:new, :admin, @venue, :seat_map], class:'small button')
