<%= error_messages_for :membership_order %>

<!-- Initialize the reader -->
<script type="text/javascript">
    jQuery(function () {
        // Create a new reader instance
        var reader = new CardReader();

        // Feed it an object to observe (this could also be a textbox)
        reader.observe($("#ticket_order_credit_card_swipe"));

        // Errback in case of a reading error
        reader.cardError(function () {
            alert("A read error occurred");
        });

        // Callback in case of a successful reading operation
        reader.cardRead(function (value) {
            $('#ticket_order_credit_card_swipe').val(value);
            $('from').submit();
        });
    });
</script>

<h1><%= @membership_order.membership_offer.name %></h1>

<%- if !@membership_order.membership_offer.html_description.blank? %>
  <p><%= raw @membership_order.membership_offer.html_description %></p>
<%- end %>
<%= semantic_form_for [:admin, @membership_order] do |order_form| %>
  <%= order_form.error_messages %>
  <%= order_form.inputs :class=>"order" do %>
    <%= order_form.fields_for :address do |address_form| %>
      <%= render :partial=>'/admin/orders/name_form', :locals => {:f => address_form} %>
    <% end %>

    <%= order_form.semantic_fields_for :membership_line_items do |mlif| %>
      <% mlif.inputs do %>
        <%= mlif.input :membership_offer_id, :as=>:hidden %>
      <%- end %>
    <%- end %>
    <%= order_form.hidden_field :status %>
    <%= render :partial=>'/admin/orders/billing_form', :locals=>{:order_form=>order_form} %>
    <%= order_form.fields_for :address do |address_form| %>
      <%= render :partial => '/admin/orders/address_form', :locals => {:f => address_form} %>
    <% end %>
    <%= order_form.input :gift, :label=>"Third Party Recipient?" %>
    <div id='gift_information'>
      <%= render :partial=>'/orders/gift_recipient', :locals=>{:f=>order_form, :offer=>@membership_order.membership_offer} %>
    </div>
    <table>
      <tr>
        <td valign="top">
          <%= order_form.check_box :add_to_email_list, :checked=>true %>
        </td>
        <td>
          Join our mailing list to take full advantage of your membership.
          <br/><span style="font-size: 11px">We'll send you company news,
          special offers, building schedule and more delivered twice monthly. Your email
                will not be shared. :) </span>
        </td>
      </tr>
    </table>
  <%- end %>
  <%= order_form.submit "Checkout", :action=>:create, :disable_with => 'Processing...' if [Order::NEW, Order::PROCESSING].include?(order_form.object.status)%>
<%- end %>