= simple_form_for [:admin, @membership_order], :html=>{:id=>'admin_membership_order_form'} do |order_form|
  = order_form.error_messages

  %div.row
    %div.columns.small-12.medium-8
      = order_form.simple_fields_for :membership_line_items do |mlif|
        = mlif.input :membership_offer_id, :as=>:hidden
        %h3= mlif.object.membership_offer.name
      = render :partial=>'/membership_orders/preferred_seating', :locals=>{:f => order_form}
    %div.columns.small-12.medium-4
      = render '/admin/addresses/quick_lookup', :f=>order_form
  %div.row
    %div.columns.small-12
      = render :partial=>'/admin/orders/form', :locals=>{:order_form=>order_form}
