<%= render :partial=>'/admin/orders/header', :locals=>{:order=>@order} %>

<fieldset>
  <legend>Membership Information</legend>
  Current Status: <%= @order.membership.status %><br/>
  Member ID: <%= @order.membership.member_code %><br/>
  Member Since: <%= @order.membership.member_since %>
</fieldset>

<%= render :partial=>'/admin/orders/payments', :locals=>{:order=>@order} %>

<p>
  Referral Code:
  <%= order.referral_code %>
</p>

<%= render :partial=>'/admin/orders/notes', :locals=>{:order=>@order} %>
