<%= render :partial=>'/admin/orders/header', :locals=>{:order=>@order} %>

<fieldset>
  <legend>Membership Information</legend>
  <%= render :partial=>'/admin/memberships/detail', :locals=>{:membership=>@order.membership} %>
  
</fieldset>

<%= render :partial=>'/admin/orders/payments', :locals=>{:order=>@order} %>

<p>
  Referral Code:
  <%= order.referral_code %>
</p>

<%= render :partial=>'/admin/orders/notes', :locals=>{:order=>@order} %>
