= content_for :title do
  Edit Membership Order
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: 'Membership Offers', path: admin_membership_offers_path }]
    %li.current= link_to "Order #{@membership_order.id}", admin_membership_offers_path(@membership_order)

= render '/admin/membership_orders/form'
