<% title "Admin/Membership Orders" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for membership_order in @membership_orders %>
    <tr>
      <td><%= membership_order.name %></td>
      <td><%= link_to "Show", [:admin, membership_order] %></td>
      <td><%= link_to "Edit", edit_admin_membership_order_path(membership_order) %></td>
      <td><%= link_to "Destroy", [:admin, membership_order], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Membership Order", new_admin_membership_order_path %></p>
