<% content_for :title do %>Edit <%= @performance.performance_code %><% end %>
<% content_for :breadcrumbs do %>
<ul class="breadcrumbs">
  <li><%= link_to 'Theaters', admin_theaters_path %></li>
  <li><%= link_to @performance.production.theater.name, admin_theater_path(@performance.production.theater) %></li>
  <li><%= link_to @performance.production.name, admin_theater_production_path(@performance.production.theater, @performance.production) %></li>
  <li class="current"><a href="#">Edit <%= @performance.performance_code %></a></li>
</ul>
<% end %>

<%= render :partial => 'form', :locals=>{:performance=>@performance}%>
