<h1>Listing performances</h1>

<table>
  <tr>
    <th>On</th>
    <th>At</th>
    <th>Production</th>
  </tr>

<% @performances.each do |performance| %>
  <tr>
    <td><%=h performance.performance_date %></td>
    <td><%=h performance.performance_time %></td>
    <td><%=h performance.production %></td>
    <td><%= link_to 'Show', [performance.production.theater, performance.production, performance] %></td>
    <td><%= link_to('Edit', edit_theater_production_performance_path(performance.production.theater, performance.production, performance)) if permitted_to(:edit,:performance) %></td>
    <td><%= link_to('Destroy', [performance.production.theater, performance.production, performance], :confirm => 'Are you sure?', :method => :delete) if can?(:delete,Performance) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New performance', new_theater_production_performance_path(@production.theater, @production) %>
