<h1>New performance</h1>

<% form_for([:admin,@performance.production.theater,@performance.production,@performance]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :performance_date %><br />
    <%= f.date_select :performance_date %>
  </p>
  <p>
    <%= f.label :performance_time %><br />
    <%= f.time_select :performance_time %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.select(:status, Performance::PERFORMANCE_STATUSES) %>
  </p>
  <p>
    <%= f.label :performance_code %><br />
    <%= f.text_field :performance_code %>
  </p>
  <%= f.hidden_field :production_id %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_theater_production_performances_path(@performance.production.theater,@performance.production) %>