<h2>
  <i><%= @performance.production.name %></i>
  on <%= @performance.performance_date %> at <%= @performance.performance_time.to_s(:hour_min) %>
</h2>
<br/>
Performance Code: <%= @performance.performance_code %><br/>
<br/>
Status: <%= @performance.status %><br/>
<%- unless @performance.special_features.empty? %>
Special Features: <%= @performance.special_features.map {|f| f.short_name}.join(',') %><br/>
<%- end %>
<h3>Available ticket classes</h3>
<fieldset><legend>On Sale to Public</legend>
  <%= allocations = @performance.ticket_class_allocations.select{|tca|
                                        tca.available? && tca.ticket_class.web_visible? }.sort{
                                          |a,b| a.ticket_class.class_code <=> b.ticket_class.class_code }
        render partial: 'ticket_class_allocations', locals: {allocations: allocations} %>
</fieldset>
<fieldset><legend>Backend</legend>
      <%= allocations = @performance.ticket_class_allocations.select{|tca|
                                        tca.available? && !tca.ticket_class.web_visible? }.sort{
                                          |a,b| a.ticket_class.class_code <=> b.ticket_class.class_code }
        render partial: 'ticket_class_allocations', locals: {allocations: allocations} %>
</fieldset>