= content_for :title do
  = "Edit Default Ticket Class #{@default_ticket_class.class_code}"
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: 'Default Ticket Classes', path: admin_default_ticket_classes_path }, { label: @default_ticket_class.class_code }]

= render 'form'
