= content_for :title do
  = "Edit Default Ticket Class #{@default_ticket_class.class_code}"
= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li= link_to 'Default Ticket Classes', admin_default_ticket_classes_path
    %li.current= link_to @default_ticket_class.class_code, admin_default_ticket_classes_path(@default_ticket_class)

= render 'form'
