  <%- unless @order.performance.production.follow_up_message_2.blank? %>
  <table class="w410" width="410" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td class="w410" width="410">
          <div align="left" class="article-content">
            <%= raw @markdown_renderer.render(@order.performance.production.follow_up_message_2) %>
          </div>
        </td>
      </tr>
      <tr><td class="w410" width="410" height="10"></td></tr>
    </tbody>
  </table>
<%- end %>

<table class="w410" width="410" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td class="w410" width="410">
        <p align="left" class="article-title">
          Tell us about it
        </p>
        <div align="left" class="article-content">
          <p>
            I always want to hear from you about your experience in our home here at Theater Wit. I hope you will feel free to
            email me at any time (<a href="mailto:jeremy@theaterwit.org">jeremy@theaterwit.org</a>) to tell me about it.  If you
            like a bit of structure, you can also <a href="<%= survey_link(@order.performance.production) %>"><b>fill out a brief survey</b></a>.
          </p>
        </div>
      </td>
    </tr>
  <tbody>
</table>
<table class="w410" width="410" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td class="w410" width="410">
        <p align="left" class="article-title">
          Stay in touch
        </p>
        <div align="left" class="article-content">
  <p>
    You can check in at our <a href="http://www.theaterwit.org">website<a>,
  on <a href="http://www.facebook.com/theaterwit">Facebook page</a>, or <a href="http://twitter.com/theaterwit">Twitter</a> for current news.  And, while this is
  <b>the last email</b> you'll get from your ticket order, there's always our <a href="<%= mailing_list_link(@order.performance.production) %>">mailing list if you're afraid you'll miss us</a>.
  I hope you had a great evening at the theater. </p>
  <p>
    <% if @order.address.productions.count >= 2 %>
      I see you've attended <%= pluralize @order.address.productions.count, 'production' %> at the Wit.
    <% end %>
    I'm very proud of what we've been able to accomplish on the theater scene here in Chicago since our founding in 2003. We've grown into a key cultural center for bold and intimate theater and there's always a ton of cool things round the turnpike.
    <% if @order.address.productions.count >= 2 %>
       If Theater Wit has been important to you, I'd like to invite you to
      <a href="http://www.theaterwit.org/donate">support the theater and our mission</a>
      or give me a call at 773-975-8150. I always love talking about our schemes. :)
    <% end %>
  </p>
  <br/>
  See you at the theater!<br/>
  <%= image_tag "http://www.theaterwit.org/static/img/mail/jmwsignature.png" -%><br clear="all"/>
  Jeremy Wechsler<br/>
  Artistic Director,<br/>
  Theater Wit</br>
        </div>
      </td>
    </tr>
    <tr><td class="w410" width="410" height="10"></td></tr>
  </tbody>
</table>


