<% content_for :email_title do %>
  See you <%= Date::DAYNAMES[order.performance.performance_date.wday] %>
<% end %>
  <p>Just a reminder, you have <%= order.number_of_seats %> ticket<%= "s" unless order.number_of_seats == 1 %> at
      <%= order.performance.performance_time.strftime('%l:%M %p') %> this <%= Date::DAYNAMES[order.performance.performance_date.wday] %>.  We look forward to seeing you!
    <%- unless order.performance.production.allow_late_seating %>
    <b>
      Please note, there is no late seating available for this performance.  Latecomers will be issued a voucher to attend a subsequent performance, if available.
    </b>
  <%- end %>

  </p>

<%= render :partial=>"ticket_annotations", :locals=>{:order=>order} %>
<%= render :partial=>"special_features", :locals=>{:order=>order} %>

<%= render :partial=>"transportation_instructions", :locals=>{:order=>order} %>

<% render :partial=>"dining_recommendations", :locals=>{order: order} %>
<% render :partial=>"seating_policy", :locals=>{order: order} %>

<h3>Bar</h3>
<p>Theater Wit has a full cocktail, beer, wine and snack bar.  We feature handmade chocolates by local artisans and a variety of top-shelf liquors, including local micro brews. All drinks may be taken into the performance.</p>

<h3>And The Obligatory Legal Speak at the End of Emails</h3>
<p>Please remember that your tickets are NON-REFUNDABLE and NON-EXCHANGEABLE.  We will do our best to accommodate last-minute changes but we reserve the right to let your seats wither on the vine, as it were.</p>

<p><i>See you at the theater!</i></p>
