
= render :partial=>"confirmation_ticket_details", :locals=>{:order=>order}

%h4 Handy stuff you'll want to know

- unless order.performance.production.venue.eql?("Cervantes Institute")
  = render :partial=>"transportation_instructions", :locals=>{:order=>order}

= render :partial=>"dining_recommendations", :locals=>{order: order}
= render :partial=>"seating_policy", :locals=>{order: order}

%h5 Bar

%p
  Theater Wit has a full cocktail, wine and beer bar. Killer cocktails and a variety of top-shelf liquors, including local micro brews.

%h6 And The Obligatory Legal Speak at the End of Emails
= render :partial=>'refunds_and_exchanges', locals: {order: order}
