- content_for :email_title do
  See you
  = Date::DAYNAMES[order.performance.performance_date.wday]
%p
  Just a reminder, you have
  = "#{order.number_of_seats} #{order.number_of_seats == 1 ? 'ticket' : 'tickets'}"
  at
  = order.performance.performance_time.strftime('%l:%M %p')
  this
  = "#{Date::DAYNAMES[order.performance.performance_date.wday]}."
  - unless order.performance.production.production_class.eql?(Production::EXTERNAL) || order.performance.production.production_class.eql?(Production::CONFERENCE)
    We look forward to seeing you! Your tickets will be waiting at the box office under
    = order.hold_under.blank? ? 'your name' : order.hold_under
- unless order.performance.production.allow_late_seating
  %p
    Please note, there is no late seating available for this performance.

= render partial: 'performance_info', locals: {order: order}

%p
  %i
    - unless order.performance.production.production_class.eql?(Production::EXTERNAL) || order.performance.production.production_class.eql?(Production::CONFERENCE)
      See you at the theater!
