<h2>Unfulfilled Flex Pass orders</h2>
<table border="1">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Name</th>
      <th>Flex Pass Code</th>
    </tr>
  </thead>
  <%- @flex_pass_orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.address.first_name %> <%= order.address.last_name %>
        <br/>
        <%= order.address.line1 %>
        <br/>
        <%- unless order.address.line2.blank? %>
          <%= order.address.line2 %>
          <br/>
        <%- end %>
        <%= order.address.city %>, <%= order.address.state %>  <%= order.address.zipcode %>
      </td>

      <td><%= FlexPass.find_by_order_id(order.id).code %></td>
    </tr>
  <%- end %>

</table>