<h2>Unfulfilled Flex Pass orders</h2>
<table>
  <thead>Order ID</thead>
  <thead>Name</thead>
  <thead>Address</thead>
  <thead>Flex Pass Code</thead>
  <%- @flex_pass_orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.address.first_name %> <%= order.address.last_name %></td>
      <td><%= order.address.line1 %>
        <br/>
        <%- unless order.address.line2.blank? %>
          <%= order.address.line2 %>
          <br/>
        <%- end %>
        <%= order.address.city %>, <%= order.address.state %>  <%= order.address.zipcode %>
      </td>
      <td><%= FlexPass.find_by_order_id(order.id).code %></td>
    </tr>
  <%- end %>

</table>