  <h3>See you <%= Date::DAYNAMES[@order.performance.performance_date.wday] %></h3>
  <p>Just a reminder, you have <%= @order.ticket_quantity %> ticket<%= "s" unless @order.ticket_quantity == 1 %> reserved for the
      <%= @order.performance.performance_time.strftime('%l:%M %p') %> performance this <%= Date::DAYNAMES[@order.performance.performance_date.wday] %>.  We look forward to seeing you!
  </p>
<h3>Getting Here</h3>
<p>Theater Wit is located at 1229 W Belmont, between Southport and Racine.  We are accessible by "L" at the Belmont stop for the red, brown and purple lines four blocks east of us.  The 77 CTA bus also drops you on our doorstep.  If you will be driving, there is often street parking, and we offer valet service for many performances. If our valet is not working that day, you may park for free in our large lot behind Cooper's restaurant, directly across the street.</p>
<h3>
Pre-show Dining Recommendations
</h3>
<p><a href="http://www.cooperschicago.com/">Cooper's</a> (773.929.2667) is directly across the street, and features an excellent bbq and sandwich menu, along with some tasty vegetarian options.  Valet parking is complementary if you dine at Cooper's.</p>
<p><a href="http://lagondolachicago.com">La Gondola</a> (773.935.9011) is also across the street, and has a very good country Italian food and Chicago-style Pizza.</p>
  <h3>Seating and Admission</h3>
<p>All seating is general admission.  Each show opens it's doors 25 minutes before curtain time. Our houses are intimate with excellent sightlines, but if you are concerned, you may want to show up on the earlier side for your pick of seats.  If you have any special seating needs (handicapped/wheelchair accessible, groups over 15), please call us at 773-975-8150 and we'll make sure you're taken care of.
<i>Please note that late seating is often <b>not available</b> for shows.</i> Please make plans to be at the theater at least ten minutes before curtain to avoid tears and recriminations.
</p>

  <h3>Bar</h3>
<p>Theater Wit has a full cocktail wine and chocolate bar.  We feature handmade chocolates by local artisans and a variety of top-shelf liquors, including local artisinal brews. All drinks may be taken into the performance.</p>

<h3>And The Obligatory Legal Speak at the End of Emails</h3>
<p>Please remember that your tickets are NON-REFUNDABLE and NON-EXCHANGEABLE.  We will do our best to accommodate last-minute changes but we reserve the right to let your seats wither on the vine, as it were.</p>

<p><i>See you at the theater!</i></p>
