- if order.ticket_line_items.size > 0
	- if order.performance.production.has_reserved_seating? && order.exchangeable?
		#change-seats.reveal.large(data-reveal)
			= render partial: "/seat_assignments/seating_config", locals: {performance_id: order.performance_id, order_uuid: order.uuid }

			.grid-x.grid-padding-x
				.cell.small-12
					%h3 Change Seating
				.cell.medium-3.hide-for-small-only
					%h4 Original
					%span#number-of-tickets.hide= order.number_of_tickets
					%p
						%span#original-seat-list= order.seat_assignments([SeatAssignment::ASSIGNED,SeatAssignment::RELEASING])
					%h4 New
					%span#updated-seat-list= order.seat_assignments([SeatAssignment::ASSIGNED, SeatAssignment::TEMPORARY])
				.cell.small-12.medium-6
					=render partial:'/admin/ticket_orders/seatmap', locals:{ticket_order:order}
					%p.text-center
						%a.disabled.button#finalize-seating Reseat
				.cell.medium-3.hide-for-small-only
					&nbsp;
			
	%div.grid-x.grid-padding-x
		%div.small-12.cell
			%fieldset.fieldset
				%legend Tickets
				%table{:id=>'ticket_line_items_display',:width=>"100%"}
					%thead
						%th Class
						%th Count
						%th Face Value
					%tbody
						= render :partial=> order.ticket_line_items
					%tfoot
						%tr
							%td
								%i Total
							%td.float-right
								%i= order.ticket_line_items.sum(:ticket_count)
				- if order.performance.production.has_reserved_seating? && order.exchangeable?
					.grid-x.grid-padding-x
						.cell.small-8
							Reserved Seating:
							%span#seatinglist
								= order.seats.map{|sa| sa.seat.location}.sort.join(',')
						.cell.small-4
						- unless order.exchanging?
							= content_for :js do
								= javascript_include_tag 'reseating'
							%a#seating-control.button.tiny{:href => "#"} Update seating
