<%- if report_body.size == 0 %>
  <h2>No data found</h2>
<%- else %>
  <%- if !headers.nil? && headers.size > 0 then %>
    <thead>
  <%- headers.each { |h| %>
    <th><%= if h.is_a?(Symbol) then
              h.to_s.titlecase.gsub(/_/, ' ')
            else
              h
            end %></th>
  <%- } %>
  </thead>
  <%- odd_row = false
      report_body.each { |row|
  %>
    <tr class="<%= 'odd' if odd_row %> <%= row[:display_class] if !row[:display_class].nil? %>">
      <%- odd_row = !odd_row
          headers.each { |h| %>
        <td class="<%= if row[h].is_a?(Money)
            'currency'
          elsif row[h].is_a?(Integer) || row[h].is_a?(Float)
            'numeric'
          elsif row[h].is_a?(TrueClass) || row[h].is_a?(FalseClass)
            'boolean'
          end %>">
          <%= if row[h].is_a?(Money)
                row[h].formatted_with_symbol
              elsif row[h].is_a?(Time)
                row[h].to_s(:hour_min)
              elsif row[h].is_a?(TrueClass) || row[h].is_a?(FalseClass)
                raw "&#x2717" if row[h]
              elsif row[h].is_a?(String)
                raw(Rails.configuration.x.trusted_markdown.render(row[h]))
              else
                row[h]
              end %></td>
      <%- } %>
    </tr>

  <%- } %>
  <%- end %>
<%- end %>