-# Path: app/views/admin/reports/flexpass_sales.html.haml
.grid-x.grid-padding-x
  .small-12.cell
    %h3
      = @flex_pass_offer_name || "FlexPass"
      Usage:  
      = @starting_date.to_s(:long)
      through
      = @ending_date.to_s(:long)
    %table#flexpass_usage.report
      %caption
        %i
          FlexPass Usage by Month, generated at
          = Time.now.to_s(:hour_min)
          on
          = Time.now
      = render :partial=>"generic", :locals=>{:headers=>@headers, :report_body=>@report_data, :summary=>@totals}

