 <%=javascript :defaults, 'jquery.min', 'jquery_ujs' %>
 <h1>Available reports</h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Report</th>
    <th></th>
  </tr>
  <tr>
    <td><span class="report_title">Production Sales By Performance</span><br/>
      <span class="help_text">Returns ticket counts and revenue by performance for specified productions.<br/>Downloadable version [production_totals.csv] includes counts by ticket class.</span>
    </td>
    <td>
      <%= form_tag(production_sales_by_performance_admin_reports_path, :method=>"post") do %>
        <%= collection_select(:report, :production_id, @productions, :id, :name) %>
        <%= submit_tag "Show" %>
        <%= submit_tag "Download", :name=>'download_csv' %>
      <%- end -%>
    </td>
  </tr>
  <%- if !@flex_pass_offers.nil? && @flex_pass_offers.size > 0 then %>
    <tr>
      <td><span class="report_title">FlexPass Redemptions</span><br/>
      <span class="help_text">Returns Sales Info for specified FlexPass offer.<br/>
      Downloadable version [flexpass_sales.csv] includes contact information for pass holders</span>
      </td>
      <td>
        <%= form_tag(flexpass_sales_admin_reports_path, :method=>"post") do %>
          <%= collection_select(:report, :flex_pass_offer_id, @flex_pass_offers, :id, :name) %>
          <%= submit_tag "Show" %>
          <%= submit_tag "Download", :name=>'download_csv' %>
        <%- end %>
      </td>
    </tr>
  <%- end %>
  <tr>
    <td>
      <span class="report_title">Production Attendees</span><br/>
      <span class="help_text">Download a copy of all orders with attendee contact information as production_attendee.csv.
      <%- if permitted_to?(:view_email, :admin_addresses) %><br/><strong>Warning: confidential email records included. DO NOT DISTRIBUTE.</strong><%- end -%></span>
    </td>
    <td>
      <%= form_tag(order_dump_admin_reports_path, :method=>"post") do %>
        <%= collection_select(:report, :production_id, @productions, :id, :name) %>
        <%= submit_tag "Download", :name=>'download_csv' %>
      <%- end -%>
    </td>
  </tr>
  <%- if permitted_to? :box_office_reports, :admin_reports then %>
    <tr>
      <td>
        <span class="report_title">Weekly Box Office</span><br/>
        <span class="help_text">Returns aggregate numbers for performance sales during specified week</span>
      </td>
      <td>
        <%= form_tag(weekly_box_office_admin_reports_path, :method=>"post") do %>
          <%= collection_select(:report, :week_ending, select_week_of, :display, :value) %>
          <%= submit_tag "Show" %>
          <%= submit_tag "Download", :name=>'download_csv' %>

        <%- end %>
      </td>
    </tr>
  <%- end %>
  <%- if permitted_to? :fulfill, :admin_orders then %>
    <tr>
      <td>
        <span class="report_title">Fulfill Tickets</span>
        <span class="help_text">Returns label file for all unfulfilled orders, fulfilling them at the same time</span>
      </td>
      <td>
        <%= form_tag(fulfill_tickets_admin_reports_path, :method=>"post") do %>
          Through: <%= date_select(:report, :through_day, :default=>Time.now, :end_year=>Time.now.year) %>
          <%= submit_tag "Download", :name=>'download_csv', :confirm =>"This will download labels for tickets and mark those orders as 'Fulfilled'.  Are you sure?" %>
        <%- end %>
      </td>
    </tr>
  <%- end %>
  <%- if permitted_to? :reconciliation_reports, :admin_reports then %>
    <tr>
      <td>
        <span class="report_title">Daily Receipts</span><br/>
        <span class="help_text">Returns daily sales for specified range.  Order information included in download version</span>
      </td>
      <td>
        <%= form_tag(daily_box_office_receipts_admin_reports_path, :method=>"post") do %>
          From: <%= date_select(:report, :start_day, :default=>Time.now, :end_year=>Time.now.year) %>
          To: <%= date_select(:report, :end_day, :default=>Time.now, :end_year=>Time.now.year) %>

          <%= submit_tag "Show" %>
          <%= submit_tag "Download", :name=>'download_csv' %>
        <%- end %>
      </td>
    </tr>
  <%- end %>
   <%- if permitted_to? :membership_reports, :admin_reports then %>
    <tr>
      <td>
        <span class="report_title">Membership Usage</span><br/>
        <span class="help_text">Returns membership usage data by member.</span>
      </td>
      <td>
        <%= form_tag(membership_usage_admin_reports_path, :method=>"post") do %>
          From: <%=  date_select(:report, :start_day, :default=>Time.now.beginning_of_month) %>
          To: <%=  date_select(:report, :end_day, :default=>Time.now.end_of_month) %>
          <%= submit_tag "Show" %>
          <%= submit_tag "Download", :name=>'download_csv' %>
        <%- end %>
      </td>
    </tr>
  <%- end %>
  <%- if permitted_to? :mine_customer_data, :admin_reports then %>
      <tr>
      <td valign="top">
        <span class="report_title">Mine Customer Data</span><br/>
        <span class="help_text">Download a copy of customers with tracking and aggregate criteria
      </td>
      <td>
        <%= form_tag(mine_customer_data_admin_reports_path, :method=>"post") do %>
          Activity After: <%= date_select(:report, :from_day, :default=>Time.now, :end_year=>Time.now.year) %><br/>
          Minimum Revenue: <%= number_field_tag(:minimum_revenue, 0)  %><br/>
          Minimum Performances: <%= number_field_tag(:minimum_attended, 0) %><br/>
          Must have attended: <%= select_tag(:required_theaters,  options_from_collection_for_select(Theater.all(:order=>:name), "id", "name"), :multiple=>true) %><br/>


          <%= submit_tag "Download", :name=>'download_csv' %>
        <%- end -%>
      </td>
    </tr>
    <%- end %>
  <%- if permitted_to? :fulfill_donations, :admin_reports then %>
    <tr>
    <td>
      <span class="report_title">Fulfill Donors</span><br/>
      <span class="help_text">Download a copy of all donations with contact information as donations.csv.
      <%- if permitted_to?(:view_email, :admin_addresses) %><br/><strong>This is a merge list for letters and will mark the selected orders as fulfilled</strong><%- end -%></span>
    </td>
    <td>
      <%= form_tag(donations_dump_admin_reports_path, :method=>"post") do %>
        From: <%= date_select(:report, :start_day, :default=>Time.now, :end_year=>Time.now.year) %>
        To: <%= date_select(:report, :end_day, :default=>Time.now, :end_year=>Time.now.year) %>
        <%= submit_tag "Download", :name=>'download_csv' %>
      <%- end -%>
    </td>
  </tr>
  <%- end %>
</table>

<br/>

<%= link_to 'New Report', new_admin_report_path %>
