= content_for :title do
  Reports
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: 'Reports'}]

.grid-x.grid-padding-x
  .small-4.cell
    %span.report_title Production Sales By Performance
    %span.help_text
      Returns ticket counts and revenue by performance for specified productions.
      %br
      Downloadable version [production_totals.csv] includes counts by ticket class.
  .small-8.cell
    = form_tag(production_sales_by_performance_admin_reports_path, :method=>"post") do
      .grid-x.grid-padding-x.collapse
        .small-8.cell
          = render 'shared/components/production_multi_picker', field_name: 'report[production_ids]', scope: :reports
        .small-4.cell
          = submit_tag "Show", :class=>'tiny button postfix'
          &nbsp;
          = submit_tag "Download", :name=>'download_csv', :class=>'tiny button postfix'

.grid-x.grid-padding-x
  .small-12.cell
    &nbsp;
  .small-4.cell
    %span.report_title Royalty Report
    %span.help_text
      Royalty calculation by performance using royalty pricing.
      %br
      Ticket classes with zero sales are excluded.
  .small-8.cell
    = form_tag(royalty_report_admin_reports_path, :method=>"post") do
      .grid-x.grid-padding-x.collapse
        .small-8.cell
          = render 'shared/components/production_picker', field_name: 'report[production_id]', scope: :reports, required: true
        .small-4.cell
          = submit_tag "Show", :class=>'tiny button postfix'
          &nbsp;
          = submit_tag "Download", :name=>'download_csv', :class=>'tiny button postfix'

.grid-x.grid-padding-x
  .small-12.cell
    &nbsp;
  .small-4.cell
    %span.report_title Production Attendees
    %span.help_text
      Download a copy of all orders with attendee contact information as production_attendee.csv. Includes email opt-in information.
      - if can?(:view_email, Address)
        %br
        %strong Warning: confidential email records included. DO NOT DISTRIBUTE.
  .small-8.cell
    = form_tag(order_dump_admin_reports_path, :method=>"post") do
      .grid-x.grid-padding-x.collapse
        .small-8.cell
          = render 'shared/components/production_multi_picker', field_name: 'report[production_ids]', scope: :reports
        .small-4.cell
          = submit_tag "Download", :name=>'download_csv', :class=>'tiny button'

- if can? :attended_dump, Report
  .grid-x.grid-padding-x
    .small-12.cell
      &nbsp;  
    .small-4.cell
      %span.report_title
        TRGArts Production Export
      %span.help_text
        Download a copy of all attendees contact information for import into TRGArts. 
        - if can?(:view_email, Address)
          %br
          %strong Warning: confidential email records included. DO NOT DISTRIBUTE.
    .small-8.cell
      = form_tag(trg_dump_admin_reports_path, :method=>"post") do
        .grid-x.grid-padding-x.collapse
          .cell.small-8
            = render 'shared/components/production_picker', field_name: 'report[production_id]', scope: :reports, required: true
          .cell.small-4
            = submit_tag "Generate", :name=>'generate_csv', :class=>'tiny button'

  .grid-x.grid-padding-x
    .small-12.cell
      &nbsp;
    .small-4.cell
      %span.report_title
        TRGArts Export by Performance Date
      %span.help_text
        Download buyers contact information by date attended for import into TRGArts.
        - if can?(:view_email, Address)
          %br
          %strong Warning: confidential email records included. DO NOT DISTRIBUTE.
    .small-8.cell
      = form_tag(attended_dump_admin_reports_path, :method=>"post") do
        .grid-x.grid-padding-x
          .small-4.cell
            %label{:for=>:starting_date} On or after
            = text_field_tag( :starting_date, Date.today, :default=>Date.today-7.days, :class=>'date_picker')
          .small-4.cell
            %label{:for=>:ending_date} On or before
            = text_field_tag( :ending_date, Date.today, :default=>Date.today, :class=>'date_picker')
          .small-4.cell
            %br
            = submit_tag "Generate", :name=>'generate_csv', :class=>'tiny button'

- if can? :donation_dump, Report
  .grid-x.grid-padding-x
    .small-12.cell
      &nbsp;  
    .small-4.cell
      %span.report_title
        Donor export
      %span.help_text
        Download donors contact information by date given for import into external systems.
        %strong Warning: confidential email records included.
    .small-8.cell
      = form_tag(donation_dump_admin_reports_path, :method=>"post") do
        .grid-x.grid-padding-x
          .small-6.cell
            %label{:for=>:starting_date_donor} Gave On or after
            = text_field_tag(:starting_date_donor, Date.today.at_beginning_of_month, :class=>'date_picker')
          .small-6.cell
            %label{:for=>:ending_date_donor} Gave Before or on
            = text_field_tag( :ending_date_donor, Date.today, :default=>Date.today, :class=>'date_picker')
          .small-12.cell
            %label{:for=>:theater_id} Theater 
            = select_tag(:theater_id, options_from_collection_for_select(current_user.allowed_theaters.order(:name), :id, :name))
          .small-12.cell
            = submit_tag "Generate", :name=>'generate_csv', :class=>'tiny button'

- if can? :donations_total, Report
  .grid-x.grid-padding-x
    .small-12.cell
      &nbsp;  
    .small-4.cell
      %span.report_title
        Donation Totals
      %span.help_text
        Download donation totals by theater for a time period
    .small-8.cell
      = form_tag(donations_total_admin_reports_path, method: "post") do
        .grid-x.grid-padding-x
          .small-4.cell
            %label{:for=>:start_day} On or after
            = text_field_tag(:start_day, (Date.today-1.month).at_beginning_of_month, :class=>'date_picker')
          .small-4.cell
            %label{:for=>:end_day} On or before
            = text_field_tag(:end_day, (Date.today-1.month).at_end_of_month, :class=>'date_picker')
          .small-4.cell
            %br
            = submit_tag "Show", :class=>'tiny button'

- if can? :reconciliation_reports, Report
  .grid-x.grid-padding-x
    .small-12.cell
      &nbsp;  
    .small-4.cell
      %span.report_title
        Membership Usage
      %span.help_text
        View membership counts and income for selected range by month
    .small-8.cell
      = form_tag(membership_usage_admin_reports_path, :method=>"post") do
        .grid-x.grid-padding-x
          .small-4.cell
            %label{:for=>:starting_date} On or after
            = text_field_tag(:starting_date, (Date.today-1.month).at_beginning_of_month, :class=>'date_picker')
          .small-4.cell
            %label{:for=>:ending_date} On or before
            = text_field_tag( :ending_date, (Date.today-1.month).at_end_of_month, :default=>Date.today.at_end_of_month, :class=>'date_picker')
          .small-4.cell
            %br
            = submit_tag "Show", :name=>'show', :class=>'tiny button'
            = submit_tag "Download", :name=>'download', :class=>'tiny button'
          .small-8.cell
            = render 'shared/components/offer_picker', field_name: 'membership_offer_ids',
              search_url: search_admin_membership_offers_path,
              resolve_url: resolve_group_admin_membership_offers_path

- if can? :membership_export, Report
  .grid-x.grid-padding-x
    .small-12.cell
      &nbsp;  
    .small-4.cell
      %span.report_title
        Membership Orders
      %span.help_text
        Download membership order information for specified time range
    .small-8.cell
      = form_tag(membership_export_admin_reports_path, method: "post") do
        .grid-x.grid-padding-x
          .small-8.cell
            .grid-x.grid-padding-x
              .small-4.cell
                %label{:for=>:starting_date} On or after
                = text_field_tag(:starting_date, (Date.today-1.month).at_beginning_of_month, :class=>'date_picker')
              .small-4.cell
                %label{:for=>:ending_date} On or before
                = text_field_tag(:ending_date, (Date.today-1.month).at_end_of_month, :class=>'date_picker')
              .small-4.cell
                %label{:for=>:trg_lists} Include TRG lists
                = check_box_tag(:trg_lists)
          .small-4.cell
            %br
            = submit_tag "Generate", :name=>'generate_csv', :class=>'tiny button'
          .small-8.cell
            = render 'shared/components/offer_picker', field_name: 'membership_offer_ids',
              search_url: search_admin_membership_offers_path,
              resolve_url: resolve_group_admin_membership_offers_path


- if can? :reconciliation_reports, Report then
  .grid-x.grid-padding-x
    .small-12.cell
      &nbsp;  
    .small-4.cell
      %span.report_title FlexPass Sales
      %span.help_text
        Flex Pass Usage by Month
    .small-8.cell
      = form_tag(flexpass_sales_admin_reports_path, :method=>"post") do
        .grid-x.grid-padding-x
          .small-4.cell
            %label{:for=>:starting_date} On or after
            = text_field_tag(:starting_date, (Date.today-1.month).at_beginning_of_month, :class=>'date_picker')
          .small-4.cell
            %label{:for=>:ending_date} On or before
            = text_field_tag( :ending_date, (Date.today-1.month).at_end_of_month, :default=>Date.today.at_end_of_month, :class=>'date_picker')
          .small-4.cell
            %br
            = submit_tag "Show", :name=>'show', :class=>'tiny button'
            = submit_tag "Download", :name=>'download', :class=>'tiny button'
          .small-8.cell
            = render 'shared/components/offer_picker', field_name: 'flex_pass_offer_ids',
              search_url: search_admin_flex_pass_offers_path,
              resolve_url: resolve_group_admin_flex_pass_offers_path,
              placeholder: 'Type an offer name, tag, or theater...'

  .grid-x.grid-padding-x
    .small-12.cell
      &nbsp;  
    .small-4.cell
      %span.report_title FlexPass Patron Report
      %span.help_text
        Download FlexPass order information between two dates including patron details, flexpass codes, expiration dates, and remaining admissions
    .small-8.cell
      = form_tag(flex_pass_patron_report_admin_reports_path, :method=>"post") do
        .grid-x.grid-padding-x
          .small-4.cell
            %label{:for=>:starting_date} On or after
            = text_field_tag(:starting_date, (Date.today-1.month), :class=>'date_picker')
          .small-4.cell
            %label{:for=>:ending_date} On or before
            = text_field_tag(:ending_date, Date.today, :class=>'date_picker')
          .small-4.cell
            %br
            = submit_tag "Show", :class=>'tiny button'
            = submit_tag "Download", :name=>'download', :class=>'tiny button'
          .small-8.cell
            = render 'shared/components/offer_picker', field_name: 'flex_pass_offer_ids',
              search_url: search_admin_flex_pass_offers_path,
              resolve_url: resolve_group_admin_flex_pass_offers_path,
              placeholder: 'Type an offer name, tag, or theater...'

- if can? :house_management_reports, Report then
  .grid-x.grid-padding-x
    .small-12.cell
      &nbsp;  
    .small-4.cell
      %span.report_title House Management Seating Report
      %span.help_text House management requests for special seating
    .small-8.cell
      = form_tag(house_management_seating_admin_reports_path, :method=>"post") do
        .grid-x.grid-padding-x.collapse
          .small-8.cell
            = text_field_tag( :performance_day, Date.today, :default=>Time.now.end_of_month, :class=>'date_picker')
          .small-4.cell
            = submit_tag "Show", :class=>'tiny button postfix action'

- if can? :box_office_reports, Report then
  .grid-x.grid-padding-x
    .small-12.cell
      &nbsp;  

    .small-4.cell
      %span.report_title Weekly Box Office
      %span.help_text Returns aggregate numbers for performance sales during specified week
    .small-8.cell
      = form_tag(weekly_box_office_admin_reports_path, :method=>"post") do
        .grid-x.grid-padding-x.collapse
          .small-8.cell= collection_select(:report, :week_ending, select_week_of, :display, :value)
          .small-4.cell
            = submit_tag "Show", :class=>'tiny button postfix'
            = submit_tag "Download", :name=>'download_csv', :class=>'tiny button postfix'

- if can?(:fulfill, TicketOrder) && !Rails.configuration.x.tktprint['service'].blank? then
  .grid-x.grid-padding-x
    .small-12.cell
      &nbsp;  
    .small-4.cell
      %span.report_title
        Print Tickets
      %span.help_text
        Print all unfulfilled tickets through specified date
    .small-8.cell
      = form_tag(fulfill_tickets_admin_reports_path, :method=>"post") do
        .grid-x.grid-padding-x.collapse
          .small-8.cell
            = text_field_tag(:through_day, Date.today, :default=>Time.now, :class=>'date_picker')
          .small-4.cell
            = submit_tag "Print", :confirm =>"This will fulfill tickets.  Are you sure?", :class=>'tiny button postfix'

- if can? :reconciliation_reports, Report then
  .grid-x.grid-padding-x
    .small-12.cell
      &nbsp;  

    .small-4.cell
      %span.report_title Daily Receipts
      %span.help_text Returns daily sales for specified range.  Order information included in download version
    .small-8.cell
      = form_tag(daily_box_office_receipts_admin_reports_path, :method=>"post") do
        =render 'date_range_picker', :default_start=>Date.today, :default_end=>Date.today
- if can? :mine_customer_data, Report then
  .grid-x.grid-padding-x
    .small-12.cell
      &nbsp;  
    .small-4.cell{:valign=>'top'}
      %span.report_title Mine Customer Data
      %span.help_text Download a copy of customers with tracking and aggregate criteria
    .small-8.cell
      = form_tag(mine_customer_data_admin_reports_path, :method=>"post") do
        .grid-x.grid-padding-x.collapse
          .small-4.cell
            %label{:for=>:from_day} Activity After
            = text_field_tag(:from_day, nil, :default=>Time.now, :end_year=>Time.now.year, :class=>'date_picker')
          .small-4.cell
            %label{:for=>:minimum_revenue} Min. Revenue
            = number_field_tag(:minimum_revenue, 0)
          .small-4.cell
            %label{:for=>:minimum_attended} Min. Perf.
            = number_field_tag(:minimum_attended, 0)
        .grid-x.grid-padding-x
          .small-12.cell
            %label{:for=>:required_theaters} Must have attended
            = select_tag(:required_theaters,  options_from_collection_for_select(Theater.all.order(:name), "id", "name"), :multiple=>true, :size=>8)
            = submit_tag "Download", :name=>'download_csv', :class=>'tiny button postfix'

#report-overlay{style: 'display:none; position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.45); z-index:2000;'}
  .callout{style: 'position:absolute; top:40%; left:50%; transform:translate(-50%,-50%); padding:2rem 3rem; text-align:center;'}
    %h4 Report requested
    %p.help_text Your report is being generated&hellip;

:javascript
  // True while the overlay covers the page. Lives in the closure, so it
  // is frozen into the bfcache snapshot along with the visible overlay.
  var reportOverlayShown = false;

  $(document).ready(function() {
    // Buttons named for a download or async export respond without leaving
    // the page, so their overlay dismisses itself; inline "Show" reports
    // keep it up until the response replaces the page.
    var TRANSIENT_SUBMITS = ['download_csv', 'generate_csv', 'download'];

    $('input[type="submit"]').prop('disabled', false);
    $('form').on('submit', function(e) {
      var $buttons = $(this).find('input[type="submit"]');
      setTimeout(function() { $buttons.prop('disabled', false); }, 1000);

      if (e.isDefaultPrevented()) return; // e.g. production picker guard

      var submitter = e.originalEvent && e.originalEvent.submitter;
      $('#report-overlay').show();
      reportOverlayShown = true;
      if (submitter && TRANSIENT_SUBMITS.indexOf(submitter.name) !== -1) {
        setTimeout(function() {
          $('#report-overlay').hide();
          reportOverlayShown = false;
        }, 2000);
      }
    });
  });

  // bfcache: the browser Back button can restore this page as a frozen
  // snapshot with the overlay still up; ready() does not re-fire then.
  // Browsers that fire pageshow on the restore (Chrome, Firefox) get an
  // immediate reload; fresh loads re-run this script with the flag false,
  // so normal Back navigation never reloads.
  window.addEventListener('pageshow', function() {
    if (reportOverlayShown) location.reload();
  });

  // Safari (verified via safaridriver, 2026-07) restores this page from
  // the bfcache WITHOUT dispatching pagehide, pageshow, visibilitychange,
  // or focus — and ignores both Cache-Control: no-store and beforeunload
  // handlers as cache blockers — so no event above ever runs there. But
  // suspended timers do resume on restore, so a heartbeat that sees a
  // large gap knows the page was frozen and restored; reset the overlay.
  var HEARTBEAT_MS = 300, FROZEN_GAP_MS = 1200;
  var lastHeartbeat = Date.now();
  setInterval(function() {
    var now = Date.now();
    if (now - lastHeartbeat > FROZEN_GAP_MS && reportOverlayShown) {
      $('#report-overlay').hide();
      $('input[type="submit"]').prop('disabled', false);
      reportOverlayShown = false;
    }
    lastHeartbeat = now;
  }, HEARTBEAT_MS);

-if @generated_reports.size > 0
  .grid-x.grid-padding-x
    .small-12.cell
      %fieldset.fieldset
        %legend Generated reports
        = render '/file_stores/current_files', :file_stores=>@generated_reports
