</br.><h1><%= @production.theater.name %></h1>
<h2><%= @production.name %></h2>

<table id="production_revenue_by_performance" class="report">
  <caption>
    <i><%= @production.name %></i> sales counts as of <%= Time.now.to_s(:hour_min) %> on <%= Time.now %>
  </caption>
  <thead>
  <%- @headers.each { |h| %>
    <th><%= if h.is_a?(Symbol) then
              h.to_s.titlecase.gsub(/_/,' ')
            else
              h
            end %></th>
  <%- } %>
  </thead>
  <%- odd_row = false
      @report_data.each { |row|
  %>
    <tr class="<%= 'odd' if odd_row %>">
      <%- odd_row = !odd_row
          @headers.each { |h| %>
        <td class="<%= 'currency' if row[h].is_a?(Money)%> <%= 'numeric' if row[h].is_a?(Fixnum) %>">
          <%= if row[h].is_a?(Money)
                number_to_currency(row[h])
              elsif row[h].is_a?(Time)
                row[h].to_s(:hour_min)
              else
                row[h]
              end %></td>
      <%- } %>
    </tr>

  <%- } %>
  <tr class="report_summary_row <%= 'odd' if odd_row %>">
    <%- @headers.each { |h| %>
      <td><%= @totals[h] %></td>
    <%- } %>
  </tr>
</table>
