<h1><%= @production.theater.name %></h1>
<h2><%= @production.name %></h2>
<h3>Production Sales Report as of <%= Time.now.to_s(:hour_min) %> on <%= Time.now %></h3>

<%-
  ticket_classes = @production.ticket_classes.sort{|t1,t2| t2.ticket_price <=> t1.ticket_price }
%>
<table id="production_revenue_by_performance" class="report" border="1">
  <thead>
    <th>Code</th>
    <th>Date</th>
    <th>Time</th>
    <%- ticket_classes.each{|tc| %>
        <th><%= tc.class_code %></th>
    <%- } -%>
    <th>Reserved</th>
    <th>House Holds</th>

    <th>Gross</th>
    <th>Facility</th>
    <th>Processing</th>
    <th>Net</th>
  </thead>
  <%- @production.performances.sort{|x,y|
                                    (x.performance_date == y.performance_date) ?
                                        x.performance_time <=>y.performance_time :
                                        x.performance_date <=> y.performance_date }.each {|perf|
    paid_orders = perf.orders.select{|o| o.paid? }
    held_orders = perf.orders.select{|o| o.held? }
    ticketing_fee = 0
    credit_card_processing_fee = 0
    %>

  <tr>
    <td><%= perf.performance_code %></td>
    <td><%= perf.performance_date %></td>
    <td><%= perf.performance_time.to_s(:hour_min)%></td>
    <%- ticket_classes.each{|tc| %>
      <td class="numeric"><%= paid_orders.sum{|o| o.ticket_quantity_by_class(tc.class_code) } %></td>
      <%- } %>
    <td class="numeric"><%= paid_orders.sum{|o| o.ticket_quantity } %></td>
    <td class="numeric"><%= held_orders.sum{|o| o.ticket_quantity } %></td>
    <%- gross = paid_orders.sum{|o| o.total }
        ticketing_fee = paid_orders.sum{|o| o.ticketing_fee}
        credit_card_processing_fee = paid_orders.sum{|o| o.credit_card_processing_fee}

    %>
    <td class="currency"><%= number_to_currency(gross) %></td>
    <td class="currency"><%= number_to_currency(ticketing_fee ) %></td>
    <td class="currency"><%= number_to_currency(credit_card_processing_fee) %></td>
    <td class="currency"><%= number_to_currency(gross - (ticketing_fee + credit_card_processing_fee )) %></td>
  </tr>

  <%- } %><tr>

  </tr>
</table>