= order_form.input :payment_type_id, :as=>:hidden, :input_html=>{:value=>order_form.object.payment_type_id}
= order_form.input :credit_card_number, :as=>:hidden, :input_html=>{:value=>order_form.object.credit_card_number }
= order_form.input :credit_card_type, :as=>:hidden, :input_html=>{:value=>order_form.object.credit_card_type }
= order_form.input :credit_card_expiration_year, :as=>:hidden, :input_html=>{:value=>order_form.object.credit_card_expiration_year }
= order_form.input :credit_card_expiration_month, :as=>:hidden, :input_html=>{:value=>order_form.object.credit_card_expiration_month }
= order_form.input :credit_card_verification_number, :as=>:hidden, :input_html=>{:value=>order_form.object.credit_card_verification_number }
= order_form.input :flex_pass_code, :as=>:hidden, :input_html=>{:value=>order_form.object.flex_pass_code}
= order_form.input :member_code, :as=>:hidden, :input_html=>{:value=>order_form.object.member_code }
= order_form.input :status, :as=>:hidden, :input_html=>{:value=>order_form.object.status }
= order_form.input :special_offer_code, :as=>:hidden, :input_html=>{:value=>order_form.object.special_offer_code }
= order_form.input :additional_donation, :as=>:hidden, :input_html=>{:value=>order_form.object.additional_donation }
= order_form.input :add_to_email_list, :as=>:hidden, :input_html=>{:value=>order_form.object.add_to_email_list }
