.row
  .small-12.columns
    %h4
      Selected Seats
      %span#seatlocations
        = order_form.object.seat_assignments unless order_form.object.nil?
    .row{:style=>'margin-bottom: 8px'}
      .small-7.columns
        %strong Type
      .small-2.columns
        %strong Qty
      .small-3.columns
        %strong Price/ticket
    = order_form.simple_fields_for :ticket_line_items do |line_item_form|
      - unless line_item_form.object.ticket_class.software_managed || line_item_form.object.ticket_class.hide_pricing? || !line_item_form.object.ticket_class.web_visible?
        = render :partial => '/ticket_orders/ticket_line_item_ro', :locals => {:f => line_item_form,}
    .row{:style=>'margin-bottom: 8px'}
      .small-6.columns
        %strong.right Total
      .small-3.columns
        %strong.right
          %span#ticket_quantity
            = order_form.object.number_of_tickets
      .small-3.columns
        %strong
          %span#order_total
            = number_to_currency(order_form.object.total_ticket_face_value)
