.row
  .small-12.columns.order
    = simple_form_for @ticket_order, :html=>{:name=>"confirm_form"} do |order_form|
      - total = Money.new(0)

      %h2= "#{@ticket_order.address.first_name}, please confirm your ticket reservation"

      %h3
        You are purchasing the following tickets for
        %span.production_name= @ticket_order.performance.production.name
        = @ticket_order.performance.performance_date.to_formatted_s(:long_ordinal)
        at
        = "#{@ticket_order.performance.performance_time.to_formatted_s(:hour_min)}."

      %table{:style=>"background:none;width:100%"}
        %thead
          %tr
            %td Qty
            %td Type
            %td Price
        %tbody
          - qty = 0
          - old_items = Array.new
          - new_items = Array.new
          - unless @ticket_order.special_offer_line_item.nil?

            - new2, old2 = @ticket_order.special_offer_line_item.special_offer.modified_line_items_in_order(@ticket_order)
            - old_items += old2
            - new_items += new2

          - tickets = @ticket_order.ticket_line_items.to_a
          - tickets -= old_items
          - tickets += new_items
          - tickets.each do |tli|
            - qty += tli.ticket_count
            - total += tli.receipt_total.to_money unless tli.ticket_class.software_managed
            %tr
              %td= tli.ticket_count
              %td= tli.ticket_class.class_name
              %td= "$ #{tli.receipt_total.to_money}" unless tli.ticket_class.software_managed

          - unless @ticket_order.special_offer_line_item.nil?
            - discount = (-1*@ticket_order.special_offer_line_item.special_offer.calculate_discount(@ticket_order)).to_money
            - total -= discount
            %tr
              %td= @ticket_order.special_offer_line_item.special_offer.code.upcase
              %td= @ticket_order.special_offer_line_item.special_offer.description(@ticket_order)
              %td
                = "$ #{discount}" unless @ticket_order.special_offer_line_item.special_offer.is_a? TicketClassSpecialOffer

          - unless @ticket_order.additional_donation.blank?
            - donation = @ticket_order.additional_donation.to_f.to_money
            - total += donation
            %tr
              %td
              %td Additional donation to Theater Wit (yay!)
              %td= donation
          %tr.total
            %td
            %td
              %strong.right Total Charge
            %td.currency
              $
              = total
          %td
            %td
            %td
            %td
              %a.tiny.button.right{:href=>"javascript: submitForm()"} Edit your order
      - if @ticket_order.performance.production.has_reserved_seating?
        .row
          .small-12.columns
            = render partial: '/ticket_orders/seating', locals: {ticket_order: @ticket_order}
      = render partial: '/ticket_orders/pass_through_fields', locals:{order_form: order_form}
      %p
        = payment_text_for @ticket_order if total > 0
        Please note that all ticket purchases are
        %strong NON-REFUNDABLE
        and
        %strong NON-EXCHANGEABLE.
        When you are ready to purchase your tickets, click "Order Tickets".

      .row
        .small-3.small-centered.columns
          = order_form.button :submit, 'Order Tickets', id:'place-order-button'

      .row
        .small-12.columns
          %p
            %strong
              PLEASE NOTE: Processing your order can take a minute.  Once you order your tickets, please don't refresh your browser or use the back button or you may be charged twice.
          %p.text-center
            Problems? Give us a call at 773-975-8150.

:javascript
  function submitForm() {
    document.forms["confirm_form"].submit();
  }
