.grid-x.grid-padding-x
  .small-12.cell.order
    = simple_form_for @ticket_order, :html=>{:name=>"confirm_form"} do |order_form|
      - total = Money.new(0)

      %h2= "#{@ticket_order.address.first_name}, please confirm your ticket reservation"

      %h3
        You are purchasing the following tickets for
        %span.production_name= @ticket_order.performance.production.name
        = @ticket_order.performance.performance_date.to_formatted_s(:long_ordinal)
        at
        = "#{@ticket_order.performance.performance_time.to_formatted_s(:hour_min)}."

      %table{:style=>"background:none;width:100%"}
        %thead
          %tr
            %td Qty
            %td Type
            %td Price
        %tbody
          - qty = 0
          - old_items = Array.new
          - new_items = Array.new
          - unless @ticket_order.special_offer_line_item.nil?

            - new2, old2 = @ticket_order.special_offer_line_item.special_offer.modified_line_items_in_order(@ticket_order)
            - old_items += old2
            - new_items += new2

          - tickets = @ticket_order.ticket_line_items.select{|tli| tli.ticket_count > 0}.to_a
          - tickets -= old_items
          - tickets += new_items
          - tickets.each do |tli|
            - qty += tli.ticket_count
            - total += tli.receipt_total.to_money unless tli.ticket_class.hide_pricing?
            %tr
              %td= tli.ticket_count
              %td= tli.ticket_class.class_name
              %td.currency= number_to_currency(tli.receipt_total) unless tli.ticket_class.hide_pricing?

          - unless @ticket_order.special_offer_line_item.nil?
            - discount = (-1*@ticket_order.special_offer_line_item.special_offer.calculate_discount(@ticket_order)).to_money
            - total -= discount
            %tr
              %td= @ticket_order.special_offer_line_item.special_offer.code.upcase
              %td= @ticket_order.special_offer_line_item.special_offer.description(@ticket_order)
              %td.currency
                = number_to_currency(discount) unless @ticket_order.special_offer_line_item.special_offer.is_a? TicketClassSpecialOffer

          - unless @ticket_order.theater.is_default? || @ticket_order.theater.is_copro? || @ticket_order.additional_donation_for_other.blank?
            - donation2 = @ticket_order.additional_donation_for_other.to_f.to_money
            - total += donation2
            %tr
              %td
              %td Additional donation to #{@ticket_order.theater.name} (yay!)
              %td.currency= number_to_currency(donation2)
              
          - unless @ticket_order.additional_donation.blank?
            - donation = @ticket_order.additional_donation.to_f.to_money
            - total += donation
            %tr
              %td
              %td Additional donation to #{@ticket_order.theater.is_copro? ? @ticket_order.theater.name : Theater.default_theater.name} (yay!)
              %td.currency= number_to_currency(donation)
          
          -unless @ticket_order.service_line_items.empty?
            - slis = @ticket_order.service_line_items.select{|sli| !sli.suppress_for_pass_payments? || (sli.suppress_for_pass_payments? && !@ticket_order.payment_type.is_a?(PassPaymentType))}
            - keys = slis.map{|sli| sli.description}.uniq
            - aggregate_service = Hash[keys.map {|k| [k,0]}]
            - slis.each {|sli| aggregate_service[sli.description] += sli.amount}
            - aggregate_service.each do |description,amt|
              %tr
                %td
                %td= description
                %td.currency= number_to_currency(amt)
                - total += amt.to_money

          %tr.total
            %td
            %td
              %strong.right Total Charge
            %td.currency= number_to_currency(total)
      = render partial: '/ticket_orders/pass_through_fields', locals:{order_form: order_form}
      #submit-control
        %p
          Please note that all ticket purchases are
          - unless @ticket_order.contains_exchangeable_tickets?
            %strong NON-EXCHANGEABLE and
          %strong NON-REFUNDABLE.

          When you are ready to purchase your tickets, click "Order Tickets".

        .grid-x.grid-padding-x
          .small-3.small-centered.cell
            = order_form.button :submit, 'Order Tickets', id:'place-order-button'
        .grid-x.grid-padding-x
          .small-12.cell
            %p
              %strong
                PLEASE NOTE: Processing your order can take a minute.  Once you order your tickets, please don't refresh your browser or use the back button or you may be charged twice.
            %p.text-center
              Problems? Give us a call at 773-975-8150.

:javascript
  function submitForm() {
    document.forms["confirm_form"].submit();
  }


