
<% if !@order.updated_at.nil? && @order.updated_at < Time.now - 10.minutes %>
  This order has been inactive for more than 10 minutes.  For privacy protection, you'll have to <%= link_to("restart",new_production_performance_order_path(@order.performance.production.id,@order.performance.id)) %> it.  Sorry!
<% else -%>
<a name="top" style="text-decoration:none;"><h3><%= raw @order_for_to_s %>&nbsp;</h3></a>
<%- @order.performance.special_features.each do |feature| %>
  <div class="special_feature"><%= feature.description %><br/></div>
<% end %>

<%= semantic_form_for @order do |order_form| %>
  <%= order_form.inputs :class=>"order" do %>
    <%= order_form.hidden_field :status, :value=>(order_form.object.status.blank? ? Order::NEW : order_form.object.status ) %>
    <%= render :partial => '/orders/address', :locals => {:order_form => order_form} %>
    <%- @submit_text = "Review Order" -%>
    <%= order_form.hidden_field :production_code %>
    <%= order_form.hidden_field :performance_code %>
    <%= render :partial => '/ticket_orders/tickets', :locals => {:order_form => order_form, :order => @order} %>
    <%= render :partial => '/orders/additional_donation', :locals => {:order_form => order_form, :order => @order} %>

    <%= render :partial=>'/orders/billing_form', :locals=>{:order_form=>order_form} %>
    <%= render :partial => '/orders/special_offer_form', :locals => {:f => order_form, :special_offer_code=>@order.special_offer_code} %>
    <%= order_form.input :marketing_source, :collection=>Order::REFERRALS, :label=>"How did you hear about the show?" %>
    <%- label_value = "Join the Theater Wit "
              if @order.performance.production.theater.id != 1
                label_value += "and #{@order.performance.production.theater.name} mailing lists"
              else
                label_value += "mailing list"
              end
              label_value += ".<br/> Get company news, special offers, ticket discounts and more delivered twice monthly. Your email
                will not be shared. :) "%>
    <%= order_form.input :add_to_email_list, :as=>:boolean, :label=>raw(label_value) %>

  <%- end -%>

  <p style="text-align:center;"><%= order_form.submit @submit_text, :action=>:confirm, :disable_with => 'Processing...' if (order_form.object.status.blank? || [Order::NEW, Order::HOLD, Order::PROCESSING].include?(order_form.object.status)) %></p>
<%- end -%>
  <%- end %>
<br clear="all"/>
<p>If you are having any troubles, please call our box office at 773-975-8150 and we'll help you out!</p>
<p clear="all">&nbsp;</p>
