.grid-x.grid-padding-x
  .small-12.cell
    = content_for(:head) do
      = raw(@ticket_order.performance.production.conversion_pixel_code) unless @ticket_order.performance.production.conversion_pixel_code.blank?
    %p
      Thanks!  Your ticket reservation has been
      - member_payments = @ticket_order.membership_payments
      - if member_payments.size > 0
        made with your
        = "#{member_payments.first.membership.membership_offer.name}."
      - elsif (@ticket_order.customer_visible_total > 0) && (@ticket_order.paid_with_currency?)
        made and your credit card has been charged
        = number_to_currency( @ticket_order.customer_visible_total)
        for those tickets.  
        - if (!@ticket_order.additional_donation.blank? || !@ticket_order.additional_donation_for_other.blank?)
          %strong
            And thank you for your donation of
            = "$#{((@ticket_order.additional_donation.blank? ? 0.00 : @ticket_order.additional_donation.to_f) + (@ticket_order.additional_donation_for_other.blank? ? 0.00 : @ticket_order.additional_donation_for_other.to_f)).to_money}."
          Look for a separate email with our thanks.
      - elsif @ticket_order.paid_with_flexpass?
        made and your FlexPass has
        = pluralize(@ticket_order.paid_with_flexpass.uses_remaining,'ticket')
        remaining.
      - else
        made.  You were not charged any money for this order.
      Your order id is
      = "#{@ticket_order.id},"
      and your tickets will be available for pickup under your name at our box office at 1229 W Belmont
      ninety minutes before curtain. A confirmation email will be sent shortly.
    %p
      We will see you at the show on
      = @ticket_order.performance.performance_date.to_formatted_s(:long_ordinal)
      at
      = "#{@ticket_order.performance.performance_time.to_formatted_s(:hour_min)}."
      - unless @ticket_order.performance.production.has_reserved_seating?
        Seating is general admission.
      If you have any questions, please don't hesitate to call us at 773-975-8150 or email us at
      %a{href:"mailto:boxoffice@theaterwit.org"} boxoffice@theaterwit.org.
      Thanks for your support and we'll see you at the theatre.  Enjoy the show!

=content_for :js do
  :javascript
    adroll_segments = "4d58f175";
