<%= simple_form_for [:admin, @special_feature] do |f| %>
<div class="grid-x grid-padding-x">
  <div class="small-6 cell">
    <%= f.input :short_name, :hint=>'Quick selection label' %>
    <%= f.input :status, :as=>:select, :collection=>SpecialFeature::SPECIAL_FEATURE_STATUSES, :include_blank=>false %>
  </div><div class="small-6 cell">
    <%= f.input :description, :hint=>'Markdown enabled display of special feature for web site / emails' %>
  </div>
  <%= f.button :submit %>
</div>
<% end %>
