<%= content_for :title do %>Edit Special Feature<% end %>
<% content_for :breadcrumbs do %>
  <%= render "shared/components/breadcrumb", items: [{ label: 'Special Features', path: admin_special_features_path }, { label: "Edit" }] %>
<% end %>

<%= render 'form' %>

<p>
  <%= link_to "Show", [:admin, @special_feature] %> |
  <%= link_to "View All", admin_special_features_path %>
</p>
