<%= content_for :title do %>Edit Special Feature<% end %>
<% content_for :breadcrumbs do %>
<ul class="breadcrumbs">
  <li><%= link_to 'Special Features', admin_special_features_path%></li>
  <li class="current"><a href='#'>Edit</a></li>
</ul>
<% end %>

<%= render 'form' %>

<p>
  <%= link_to "Show", [:admin, @special_feature] %> |
  <%= link_to "View All", admin_special_features_path %>
</p>
