= content_for :title do
  Special Features
= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li.current
      %a{:href=>'#'} Special Features

.grid-x.grid-padding-x
  .small-12.cell
    %table#special-feature-listing{:data=>{:source=>"#{admin_special_features_path(format: :json)}"}}
      %thead
        %tr
          %th Name
          %th Description
          %th Status
          %th Actions

.grid-x.grid-padding-x
  .small-12.cell
    = link_to "New Special Feature", new_admin_special_feature_path, class: 'small button right'

= content_for :js do
  :javascript
    $(document).ready(function() {
      $('#special-feature-listing').dataTable({
          "processing": true,
          "serverSide": true,
          "stateSave": true,
          "ajax": $('#theater-listing').data('source'),
          "pagingType": 'full_numbers',
          "language": {
            "lengthMenu" : "_MENU_",
            "search": "_INPUT_"
          },
          columns: [
            {data: 'name'},
            {data: 'description'},
            {data: 'status'},
            {data: 'actions'},
          ],
          "order": [ [0, "asc"], [2, "asc"]],
        });
      });

      // setupActiveSwitchOnDataTable('#special-feature-listing',2)

