<%= content_for :title do %>Special Features<% end %>
<% content_for :breadcrumbs do %>
<ul class="breadcrumbs">
  <li class="current"><a href='#'>Special Features</a></li>
</ul>
<% end %>
<div class="row">
  <div class="small-12 columns">

    <table id="special-feature-listing" class="hide display">
      <thead>
        <tr>
          <th width="20%">Short&nbsp;Name</th>
          <th>Description</th>
          <th>Status</th>
          <th width="200"></th>
        </tr>
      </thead>
      <tbody>
        <% for special_feature in @special_features.sort_by{|s| s.short_name} %>
          <tr>
            <td><%= link_to special_feature.short_name, [:admin, special_feature] %></td>
            <td><%= special_feature.description %></td>
            <td><%= special_feature.status %></td>
            <td>
              <ul class="button-group right">
                <li><%= link_to "Destroy", [:admin, special_feature], :confirm => 'Are you sure?', :method => :delete, class: 'alert tiny button' %></li>
                <li><%= link_to "Edit", edit_admin_special_feature_path(special_feature), class: 'button tiny' %></li>
              </ul>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br/>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= link_to "New Special Feature", new_admin_special_feature_path, class: 'small button right' %>
  </div>
</div>

<%= content_for :js do %>
<script type="text/javascript">

  $(document).ready(function() {
    $('#special-feature-listing').dataTable({

      dom: 'lf<"toolbar-buttons">rtip',
      stateSave: true,
      pagingType: "foundation",
      columnDefs: [

        {targets: "1,2,3", orderable:false},
        {targets: "2,3", searchable:false},
           ],
      fnInitComplete:function() {
        $("#special-feature-listing").show();
        this.fnAdjustColumnSizing();
      },
    });
    setupActiveSwitchOnDataTable('#special-feature-listing',2)


  });

  </script>
<% end %>
