.festival-band{:id=>"festival-#{@festival.id}"}
  .grid-x.grid-padding-x
    .small-12.cell
      .festival-band__header
        - if @festival.box_office_image.attached?
          = image_tag @festival.decorate.box_office_image_url(Production::LARGE), :class=>"festival-band__image", :alt=>@festival.name
        %h1.festival-band__name= @festival.name
        - if @festival.formatted_date_range
          %p.festival-band__dates= @festival.formatted_date_range
        - unless @festival.description.blank?
          .festival-band__description= display_markdown(@festival.description)

      - festival_offer = @festival.flex_pass_offers.detect(&:on_sale_to_public?)
      - if festival_offer
        .festival-pass-callout
          %h2.festival-pass-callout__name= festival_offer.name
          - unless festival_offer.short_description.blank?
            %p.festival-pass-callout__description= festival_offer.short_description
          %p.festival-pass-callout__actions
            = link_to "Buy a #{festival_offer.name} — #{festival_offer.formatted_price}", new_flex_pass_offer_order_path(festival_offer), class: 'button'
            %span.festival-pass-callout__alt or purchase tickets to an individual show below

  = render :partial=>'productions/list_in_row', :locals=>{:productions=>@festival.public_productions, :across=>3}
