= content_for :title do
  Seat Map
= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li
      %a{:href=>"#{admin_venues_path}"} Venues
    %li
      %a{:href=>"#{admin_venue_path(@venue)}"}= @venue.name
    %li.current
      %a{:href=>'#'} New Seat Map

.grid-x.grid-padding-x
  .cell.small-12
    = simple_form_for [:admin, @venue, @seat_map] do |f|
      = render partial:"form", :locals => {:f => f}
