= content_for :title do
  Seat Map
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: "Venues", path: admin_venues_path }, { label: @venue.name, path: admin_venue_path(@venue) }, { label: "New Seat Map" }]

.grid-x.grid-padding-x
  .cell.small-12
    = simple_form_for [:admin, @venue, @seat_map] do |f|
      = token_tag
      = render partial:"form", :locals => {:f => f}
