= content_for :title do
  Seat Map
= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li
      %a{:href=>"#{admin_venues_path}"} Venues
    %li
      %a{:href=>"#{admin_venue_path(@venue)}"}= @seat_map.venue.name
    %li.current
      %a{:href=>'#'}= "Seat Map #{@seat_map.label}"

.grid-x.grid-padding-x
  .cell.small-12
    %h4 Seating Geometry
    %img{:src=>"#{root_url}#{@seat_map.base_image_map.url}", :alt => "", :usemap=> '#seatingmap', :class=>'seatingmap'}
    %map{name:'seatingmap', id:'seatingmap'}
      - @seat_map.seats.each do |seat|
        %area{shape:"circle", coords:"#{seat.origin_x},#{seat.origin_y},#{seat.width}", id:"sa-#{seat.id}", href:"#?id=#{seat.location}",alt:"#{seat.location}", 'data-location':"#{seat.location}", 'data-status': "available", 'data-assignment-id':"#{seat.id}", 'data-key':"#{seat.id}"}

= content_for :js do
  = javascript_include_tag 'seat_map'
