= content_for :title do
  Seat Map
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: "Venues", path: admin_venues_path }, { label: @seat_map.venue.name, path: admin_venue_path(@venue) }, { label: "Seat Map #{@seat_map.label}" }]

.grid-x.grid-padding-x
  .cell.small-12
    %h4 Seating Geometry
    %p
      = link_to 'Open Seat Map Editor', editor_admin_venue_seat_map_path(@venue, @seat_map), class: 'button small'
    - if @seat_map.base_image_map.attached?
      %figure#seatingmap
        %svg{:version=>"1.1", :xmlns=>"http://www.w3.org/2000/svg", 'xmlns:xlink'=>"http://www.w3.org/1999/xlink", viewBox: "0 0 #{@seat_map.original_width} #{@seat_map.original_height}", preserveAspectRatio: "xMinYMin meet"}
          %image{width: "#{@seat_map.original_width}", height: "#{@seat_map.original_height}", 'xlink:href': "#{@seat_map.decorate.base_image_map_url}"}
          - @seat_map.seats.each do |seat|
            %a{"xlink:href":"#?id=#{seat.location}"}
              %circle{:class=>"seat available", :cx=>"#{seat.origin_x}", :cy=>"#{seat.origin_y}", :r=>"#{seat.width}", 'data-status': "available", 'data-assignment-id':"#{seat.id}", 'data-accessible':"#{seat.accessible?}", 'data-location':"#{seat.location}", 'data-zone':"#{seat.zone}", style: (@seat_map.present_as_zoned ? zone_stroke_style(seat.zone, @seat_map) : nil)}
    - else
      %p No base image attached.

= content_for :js do
  = javascript_include_tag 'seat_map'
