
= simple_form_for [:admin, membership_offer] do |f|
  = token_tag
  .grid-x.grid-padding-x
    .small-12.medium-6.cell
      = f.input :name
      %h5 Tags
      = render 'admin/tags/tag_input', f: f, autocomplete_url: autocomplete_tag_admin_membership_offers_path
    .small-12.medium-6.cell
      .grid-x.grid-padding-x
        .small-6.cell
          = f.input :status, :as=>:select, :collection=>MembershipOffer::OFFER_STATUSES, :include_blank=>false
        .small-6.cell
          = f.label :on_sale, "On sale to public"
          = f.input_field :on_sale
  .grid-x.grid-padding-x
    .small-12.cell
      %fieldset.fieldset
        %legend Membership Details
        .grid-x.grid-padding-x
          .small-6.medium-3.cell
            = f.input :price_id, :label=>"Price ID"
          .small-6.medium-3.cell
            = f.input :tickets_per_performance
          .small-6.medium-3.cell
            = f.input :use_ticket_class_code, :as=>:select, :collection=>DefaultTicketClass.all.map{|tc| tc.class_code}
          .small-6.medium-3.cell
            = f.input :use_member_friend_code, :as=>:select, :collection=>DefaultTicketClass.all.map{|tc| tc.class_code}
        .grid-x.grid-padding-x
          .small-6.medium-3.cell
            = f.label :restricted_to_first_time, "First time members only"
            = f.input_field :restricted_to_first_time
          .small-6.medium-3.cell
            = f.input :max_cycles_if_gift, :hint => "Number of billing cycles before gift membership expires", :label=>"Gift duration"
  .grid-x.grid-padding-x
    .small-12.cell
      %fieldset.fieldset
        %legend Notification/Display
        .grid-x.grid-padding-x
          .small-12.cell
            = f.input :html_description
            = f.input :email_html
        .grid-x.grid-padding-x
          .small-6.cell
            = f.input :myemma_group, :label=>"MyEmma Group ID"
          .small-6.cell
            = f.input :billing_agreement
  = f.submit :class=>'button'

