= content_for :title do
  = @membership_offer.name
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: 'Membership Offers', path: admin_membership_offers_path }, { label: @membership_offer.name }]

= render 'form', :membership_offer=>@membership_offer
