= content_for :title do
  Membership Offers
= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li.current
      %a{:href=>'#'} Membership Offers
.row
  .small-12.columns
    %table#membership-offer-listing{:data=>{:source=>"#{admin_membership_offers_path(format: :json)}"}}
      %thead
        %tr
          %th Name
          %th Recurring Cost
          %th On Sale
          %th.hide Status
          %th
      %tbody

    = link_to "New Membership Offer", new_admin_membership_offer_path, :class=>'button' if can? :create, MembershipOffer

= content_for :js do
  :javascript
    $(document).ready(function() {
      $('#membership-offer-listing').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": $('#membership-offer-listing').data('source'),
        "pagingType": 'full_numbers',
        "language": {
          "lengthMenu" : "_MENU_ entries"
        },
        columns: [
          {data: 'name'},
          {data: 'cost'},
          {data: 'on_sale'},
          {data: 'status'},
        ]
      });


    });

