= content_for :title do
  Membership Offers
= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li.current
      %a{:href=>'#'} Membership Offers
.row
  .small-12.columns
    %table#membership-offer-listing.hide.display
      %thead
        %tr
          %th Name
          %th Recurring Cost
          %th On Sale
          %th.hide Status
          %th
      %tbody
        - @membership_offers.each do |membership_offer|
          %tr
            %td= link_to membership_offer.name, [:admin, membership_offer]
            %td.currency= number_to_currency(membership_offer.recurring_cost)
            %td= membership_offer.on_sale
            %td.hide= membership_offer.status
            %td
              .button-bar
                %ul.button-group
                  %li= link_to("Edit", edit_admin_membership_offer_path(membership_offer), :class=>"tiny button") if can? :edit, MembershipOffer
                  %li= link_to("Destroy", [:admin, membership_offer], :confirm => 'Are you sure?', :method => :delete, :class=>"tiny alert button") if can? :delete, MembershipOffer
                %ul.button-group
                  - if membership_offer.active?
                    = link_to "Create Order", new_admin_membership_offer_order_path(membership_offer), :class=>'tiny button'
                  - else
                    %a.tiny.button.disabled{:href=>'#'} Create Order
    = link_to "New Membership Offer", new_admin_membership_offer_path, :class=>'button' if can? :create, MembershipOffer

= content_for :js do
  :javascript
    $(document).ready(function() {
      $('#membership-offer-listing').dataTable({

        dom: 'lf<"toolbar-buttons">rtip',
        stateSave: true,
        pageLength: 25,
        order: [[3, "asc"],[0, 'asc']],
        pagingType: "foundation",
        columnDefs: [
          {targets: "_all", orderable:false},
          {targets: [1,2], searchable:false},
             ],
        fnInitComplete:function() {
          $("#membership-offer-listing").show();
          this.fnAdjustColumnSizing();
        },
      });

      setupActiveSwitchOnDataTable('#membership-offer-listing',3)

    });