= content_for :title do
  = @membership_offer.name
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: 'Membership Offers', path: admin_membership_offers_path }, { label: @membership_offer.name }]

.grid-x.grid-padding-x
  .small-12.medium-6.cell
    = render '/membership_offers/info', :membership_offer=>@membership_offer
  .small-12.medium-6.cell
    = ui_label((@membership_offer.on_sale? ? 'On Sale' : 'Private'), variant: nil, class: 'float-right')
    = ui_label(@membership_offer.status, variant: :alert, class: 'float-right') 
        

    %ul.tabs#offertab(data-tabs)
      %li.tabs-title.is-active
        %a{:href=>"#mo-panel-1", 'aria-selected'=>"true"} Offer Details
      -unless @membership_offer.email_html.blank?
        %li.tabs-title
          %a{:href=>'#mo-panel-2', 'data-tabs-target'=>'mo-panel-2'} Notification
    .tabs-content
      #mo-panel-1.tabs-panel.is-active
        .grid-x.grid-padding-x
          .small-12.cell
            %p
              %strong Price ID:
              %a{:href=>PaymentProcessing.product_url(@membership_offer.price_id)}
                =@membership_offer.price_id
            %p
              %strong Tickets/performance:
              = @membership_offer.tickets_per_performance
          .small-6.cell
            %p
              %strong Use Ticket Class
              %br
              = @membership_offer.use_ticket_class_code
          .small-6.cell
            %p
              %strong Use Friend Class
              %br
              = @membership_offer.use_member_friend_code
        .grid-x.grid-padding-x
          .small-12.cell
            - if @membership_offer.restricted_to_first_time?
              %p
                %i Available to first time members only
            - unless @membership_offer.max_cycles_if_gift.blank?
              %p
                %i= "#{@membership_offer.max_cycles_if_gift} months duration when given as gift"
      #mo-panel-2.tabs-panel
        .grid-x.grid-padding-x
          .small-12.cell
            = display_markdown @membership_offer.email_html

  .small-12.cell
    = link_to "Edit", edit_admin_membership_offer_path(@membership_offer), :class=>'button'