= content_for :title do
  @membership_offer.name
= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li= link_to 'Membership Offers', admin_membership_offers_path
    %li.current
      %a{:href=>'#'}=@membership_offer.name

.row
  .small-12.medium-6.columns
    = render '/membership_offers/info', :membership_offer=>@membership_offer
  .small-12.medium-6.columns
    .row
      .small-12.columns
        %span.label.right= @membership_offer.on_sale? ? 'On Sale' : 'Private'
        %span.label.right.alert= @membership_offer.status 
        
    .row
      .small-12.columns
        %ul.tabs{'data-tab'=>true}
          %li.tab-title.active
            %a{:href=>"#mo-panel-1"} Offer Details
          %li.tab-title
            %a{:href=>'#mo-panel-2'} Notification
        .tabs-content
          #mo-panel-1.content.active
            .row
              .small-12.columns
                %p
                  %strong Recurring Cost:
                  = "#{number_to_currency(@membership_offer.recurring_cost)}/month"
                  - unless @membership_offer.trial_period.blank? || @membership_offer.trial_period == 0
                    %br
                    ="(Trial Period: #{@membership_offer.trial_period} months @ #{@membership_offer.trial_price}/month"
                %p
                  %strong Tickets/performance:
                  = @membership_offer.tickets_per_performance
              .small-6.columns
                %p
                  %strong Use Ticket Class
                  %br
                  = @membership_offer.use_ticket_class_code
              .small-6.columns
                %p
                  %strong Use Friend Class
                  %br
                  = @membership_offer.use_member_friend_code
            .row
              .small-12.columns
                - if @membership_offer.restricted_to_first_time?
                  %p
                    %i Available to first time members only
                - unless @membership_offer.max_cycles_if_gift.blank?
                  %p
                    %i= "#{@membership_offer.max_cycles_if_gift} months duration when given as gift"
          #mo-panel-2.content
            .row
              .small-12.columns
                = display_markdown @membership_offeremail_html

.row
  .small-12.colunns
    = link_to "Edit", edit_admin_membership_offer_path(@membership_offer), :class=>'button'