<a name="top" style="text-decoration:none;"><h3>Support Theater Wit</h3></a>

<%= semantic_form_for @order do |order_form| %>
  <%= order_form.inputs :class=>"order" do %>
    <%= order_form.hidden_field :status %>
    <%= order_form.hidden_field :campaign %>
    <%= render :partial => '/orders/address', :locals => {:order_form => order_form} %>

    <% @submit_text = "Make a donation" -%>
    <% if @monthly_pledge %>
      <%= order_form.semantic_fields_for :pledge do |pledge| %>
        Pledge
      <% end %>
    <% else %>
      <%= order_form.semantic_fields_for :donation_line_items do |donation| %>
        <%= donation.inputs :class=>"donation" do %>
          <%= donation.input :donation_level, :as=>:radio, :collection=>@levels, :label=>"Contribution level:", :required=>false %>
          <%= donation.input :donation_amount, :label=>"... or other amount", :required=>false %>

        <%- end -%>

      <%- end -%>
    <% end %>
    <%= render :partial=>'/orders/billing_form', :locals=>{:order_form=>order_form} %>
    <%- label_value = "Join the Theater Wit mailing list.<br/>Get company news, special offers, ticket discounts and more delivered twice monthly. Your email will not be shared. :) " %>
    <%= order_form.input :add_to_email_list, :as=>:boolean, :label=>raw(label_value) %>


    <p style="text-align:center;"><%= order_form.submit "Make a donation", :disable_with => 'Processing...' if (order_form.object.status.blank? || [Order::NEW, Order::HOLD, Order::PROCESSING].include?(order_form.object.status)) %></p>

  <%- end %>
<%- end %>
<br clear="all"/>
<p id="tax_deductible_notice">
     Your donation is fully tax-deductible to the extent allowable by law under IRS code 501(c)(3).
   </p>


   <p id="contact_boxoffice_info">If you are having any troubles, please call our box office at 773-975-8150 and we 'll help you out!</p>
<p clear="all">&nbsp;</p>
