<h3>Original Order</h3>
<%= render :partial=>"/admin/addresses/address_contact_info", :locals=>{:address=>@original_order.address} %>

<div style='border:3px black solid'>
  <%= render :partial=>'/admin/ticket_orders/detail', :locals=>{:ticket_order=>@original_order} %>
</div>
<h3>Exchange Order</h3>
<div style='border:3px black solid'>

  <%= error_messages_for :order %>

  <%= semantic_form_for [:admin, @original_order, @exchange_order], :url=>admin_ticket_order_exchange_ticket_orders_path(@original_order) do |order_form| -%>
    <%= order_form.inputs do %>
      <%= render :partial=>'/admin/ticket_orders/ticket_line_items_form', :locals=>{:order_form=>order_form, :allow_internal=>true} %>
      <%= render :partial => '/orders/special_offer_form', :locals => {:f => order_form} %>

      <p>Billing information for any overages:</p>

      <%= render :partial=>'/orders/billing_form', :locals=>{:order_form=>order_form,
                                                             :allowed_payment_types=>@allowed_payment_types} %>
      <%= order_form.input :notes, :input_html => {:rows => 4} %>
      <p>
        <%= order_form.submit 'Hold', :disable_with => 'Processing...' if order_form.object.status == Order::NEW || order_form.object.status == Order::HOLD %>
        <%= order_form.submit 'Place Order', :disable_with => 'Processing...' if order_form.object.status == Order::NEW || order_form.object.status == Order::HOLD %>
      </p>
    <%- end -%>
  <% end -%>

</div>
