= content_for :title do
  Edit
  = @user.email
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: 'Users', path: admin_users_path }, { label: @user.email }]

= render 'form', :user=>@user

