<h1>Listing users</h1>

<table>
  <tr>
	<th>Email</th>
	<th>Last request</th>
	<th>Logins</th>
	<th>Failed Logins</th>
	<th>Administrator?</th>
  </tr>

<% @users.each do |user| %>
  <tr>
	<td><%= user.email %></td>
	<td><%= user.last_request_at %></th>
	<td><%= user.login_count %></th>
	<td><%= user.failed_login_count %></th>
	<td><%= user.is_administrator %></th>
    <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
    <td><%= link_to 'Destroy', [:admin, user], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_admin_user_path %>
