= simple_form_for [:admin, service_item_template] do |f|
  .grid-x.grid-padding-x
    .cell.small-8
      = f.input :name
    .cell.small-4
      = f.input :user_selectable
  .grid-x.grid-padding-x
    .cell.small-12
      = f.input :description
      = f.input :internal_description
  .grid-x.grid-padding-x
    .cell.medium-4.small-12
      = f.input :amount, hint: "Negative values allow back-end user to modify this value"
    .cell.medium-4.small-12
      = f.input :facility_fee


  = f.button :submit, :class=>'button'
