= content_for :title do
  New Service Item Template
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: 'Service Item Templates', path: admin_service_item_templates_path }, { label: @service_item_template.name }]

.grid-x.grid-padding-x
  .cell.small-12
    @service_item_template.name
    %br
    @service_item_template.description
.grid-x.grid-padding-x
  .cell.small-6
    Price
    = number_to_currency(@service_item_template.amount)
  .cell.small-6
    Facility Fee
    = number_to_currency(@service_item_template.facility_fee)