<p>
  <b>Performance:</b>
  <%=h @line_item.performance %>
</p>

<p>
  <b>Ticket class:</b>
  <%=h @line_item.ticket_class %>
</p>

<p>
  <b>Order:</b>
  <%=h @line_item.order %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>