<div class="row">
  <div class="12-small columns">
  <%= simple_form_for([:admin, theater], :html => { :multipart => true }) do |f| %>
    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-12 columns">
            <%= f.input :name %>
          </div>
          <div class="small-12 columns">
            <div class="row collapse">
              <div class="small-3 large-2 columns">
                <span class="prefix">http://</span>
              </div>
              <div class="small-9 large-10 columns">
                <%= f.input :url,  placeholder:"Enter a URL...", label:false  %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="small-6 columns">
      <%= f.input :logo %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
      <%= f.input :theater_class, :as => :select, :collection => Theater::THEATER_CLASSES %>
      </div>
      <div class="small-6 columns">
        <%= f.input :status, :as=>:select, :collection=>Theater::THEATER_STATUSES, :selected=>Theater::THEATER_STATUSES.first %>
      </div>
    </div>
    <br/>
    <%= f.button :submit %>
  <% end %>
  </div>
</div>




