<tr>
  <td><%=link_to theater.name, [:admin, theater] %></td>
  <td><%=h theater.url %></td>
  <td><%=image_tag theater.logo.url %></td>
  <td><%=h theater.theater_class %></td>
  <td><%=h theater.status %></td>
  <td><%= link_to 'Edit', edit_admin_theater_path(theater) %></td>
  <td><%= link_to 'Destroy', [:admin, theater], :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
