<tr>
  <td><%=link_to theater.name, [:admin, theater] %></td>
  <td><%=h theater.url %></td>
  <td><%=image_tag theater.logo.url(:thumb) if theater.logo? %></td>
  <td><%=h theater.theater_class %></td>
  <td><%=h theater.status %></td>
  <td><% permitted_to? :edit, :admin_theaters do %>
    <%= link_to 'Edit', edit_admin_theater_path(theater) %>
  <% end %></td>
  <td><% permitted_to? :destroy, :admin_theaters do %>
    <%= link_to 'Destroy', [:admin, theater], :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
  </td>
</tr>
