<h1>Editing theater</h1>

<% form_for(@theater, :html => { :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals=>{:f=>f} %>
<p>
  <%= f.submit 'Save' %>
</p>
<% end %>

<h1>Productions:</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Show description</th>
    <th>Capacity</th>
    <th>Status</th>
  </tr>
<%= render :partial => @theater.productions %>
</table>

<p>
  <%= link_to 'Add production', new_theater_production_path(@theater) %>
</p>

<%= link_to 'Back', theaters_path %>