<h1>Editing theater</h1>

<%= semantic_form_for(@theater, :html=>{ :multipart=>true }) do |f| %>
  <%= render :partial => 'form', :locals=>{:f=>f} %>
<p>
  <%= f.submit 'Save' %>
</p>
<% end %>

<%= render :partial => 'productions' %>

<p>
  <%= link_to 'Add production', new_theater_production_path(@theater) %>
</p>

<%= link_to 'Back', theaters_path %>
