<h1>Login</h1>

<%= simple_form_for @user_session, :as => :user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <%= f.input :email %>
  <br />
  <%= f.input :password %><br />
  <br />
  <%= f.input :remember_me, :as=>:boolean %>
  <br />
  <%= f.button :submit, :label=>"Login" %>
<% end %>
