= simple_form_for [:admin, payment_type], :as=>:payment_type, :url=>url do |f|
  = f.input :display_name
  .row
    .columns.small-12.medium-4
      = f.input :allow_for_public
    .columns.small-12.medium-4
      = f.input :allow_for_box_office
    .columns.small-12.medium-4
      = f.input :allow_theater_user_holds, :label=>"Expand theater user permissions", :hint=>"If checked, orders with this payment type can be placed on hold or exchanged"
  = f.input :report_as_sales_income
  = f.input :restrict_to_ticket_classes, :label=>"Only apply to ticket classes starting with"

  %fieldset
    %legend Order Task Suppressions
    = render 'order_task_suppressions', :f=>f
  = f.button :submit
