.nested-fields
  .row
    .small-5.columns
      .row.collapse
        .small-3.columns
          = f.label :task_type, 'Type', :class=>'left prefix'
        .small-9.columns.new_order_task_suppression_task_type
          = f.select :task_type, :collection=>['OutreachTask']
    .small-5.columns
      .row.collapse
        .small-3.columns
          = f.label :method_name, 'Method', :class=>'left prefix'
        .small-9.columns
          = f.select :method_name, :class=>'new_order_task_suppression_task_method'

    .small-2.columns
      = link_to_remove_association "remove", f, :class=>'tiny alert button'
