= render :partial=>'/productions/calendar_callout', :locals=>{production:@production}

- case
  - when @production.status == Production::PRESALE
    %p
      Tickets are not on sale yet for this event. Join our mailing list to be kept up to date on when tickets will be available.
  - when ((@production.performances.count{|p| p.visible?} > 1 || @production.performances.count{|p| !p.order_url_override.blank?} > 0))  && @production.effective_closing_at&.>=(Date.today)
    %table.performance_calendar
      %caption
        - if !@production.flex_pass_offer.blank?
          %div.special_offer_upsell
            = link_to @production.flex_pass_offer.short_description, new_flex_pass_offer_order_path(@production.flex_pass_offer) unless @production.flex_pass_offer.short_description.blank?
            or, purchase tickets for an individual show below
        - else
          %span.special_offer_upsell
            %a{:href=>"/boxoffice/membership"} Become a member and see everything at the Wit
            for one low monthly subscription, or purchase tickets for an individual show below

        %h3
          %span.month_navigation

            -if (@start_date-1.month >= @production.first_playing_date.beginning_of_month ) && (@start_date-1.month >= Date.today.beginning_of_month)
              = link_to raw("&laquo;#{Date::MONTHNAMES[(@start_date-1.month).month]}&nbsp;"), :action=>:index, :start_date=>@start_date.prev_month, :end_date=>@start_date-1
            -else
              = raw("#{Date::MONTHNAMES[(@start_date-1.month).month]}&nbsp;")

          = Date::MONTHNAMES[@start_date.month]
          %span.month_navigation
            -if @production.effective_closing_at && @start_date+1.month <= @production.effective_closing_at.end_of_month
              = link_to raw(Date::MONTHNAMES[(@start_date+1.month).month] + '&raquo;'), :action=>:index, :start_date=>@end_date+1, :end_date=>@end_date+1.week
            -else
              =Date::MONTHNAMES[(@start_date+1.month).month]
      %thead
        %tr
          %th{:scope=>"col",:abbr=>"Sunday",:title=>"Sunday"} Sun
          %th{:scope=>"col",:abbr=>"Monday",:title=>"Monday"} Mon
          %th{:scope=>"col",:abbr=>"Tuesday",:title=>"Tuesday"} Tue
          %th{:scope=>"col",:abbr=>"Wednesday",:title=>"Wednesday"} Wed
          %th{:scope=>"col",:abbr=>"Thursday",:title=>"Thursday"} Thu
          %th{:scope=>"col",:abbr=>"Friday",:title=>"Friday"} Fri
          %th{:scope=>"col",:abbr=>"Saturday",:title=>"Saturday"} Sat

      %tbody
        - found_sold_out = false
        - found_heatmap = false
        - current_week_start = @start_date.wday == 0 ? @start_date : @start_date.beginning_of_week - 1
        - while current_week_start.month != (@start_date.month % 12) + 1 do
          %tr
            - 0.upto(6).each do |day|
              - current_day = current_week_start + day

              - performances = @performances.select { |per| per.performance_date==current_day }
              - heatmap_levels = performances.map { |p| p.calendar_heatmap_level || 'open' }.uniq.sort
              - if heatmap_levels.length == 1
                - td_heatmap = heatmap_levels.first == 'open' ? nil : "heatmap-#{heatmap_levels.first}"
              - else
                - td_heatmap = "heatmap-stripe-#{heatmap_levels.join('-')}"
              %td{class: "min100px#{td_heatmap ? " #{td_heatmap}" : ''}"}
                .day-header
                  = raw current_day<@start_date || current_day > @end_date ? '&nbsp;' : current_day.strftime('%d')

                - performances.each do |performance|
                  - title = "#{performance.performance_time.to_s(:hour_min).lstrip}"
                  - title << special_feature_footnotes_for(performance,@footnotes)
                  - found_sold_out ||= performance.calendar_sold_out?
                  - perf_heatmap = performance.calendar_heatmap_level
                  - found_heatmap ||= !perf_heatmap.nil?
                  %span.vertical_center
                    %div{class: "show-info#{perf_heatmap ? " heatmap-#{perf_heatmap}" : ''}"}
                      =performance.decorate.order_link(title)
                      %br
                      = price_range(performance)
          - current_week_start = current_week_start + 7
      %tfoot
        - if found_heatmap
          %tr
            %td{:colspan=>"7"}
              .heatmap-legend
                %span.heatmap-legend-item.heatmap-warning Popular performance
                %span.heatmap-legend-item.heatmap-critical Near capacity
        %tr
          %td.boxoffice-message{:colspan=>"7"}  Problems? Call the box office at 773-975-8150 during business hours
        - if found_sold_out and !@production.allow_late_seating
          %tr
            %td.boxoffice-message{:colspan=>"7"}
              %i
                Sold out?!?
              We keep a waiting list at the door starting 90 minutes before showtime. Any
              available tickets will be released to the list at curtain.

        - unless @footnotes.empty?
          %tr
            %td{:colspan=>"7"}
              - index = 0
              - @footnotes.each do |note|
                - index += 1
                %p.text-right
                  - if note.start_with?("_custom")
                    = display_markdown("[#{index}] " + Performance.find(note.sub(/^_custom/, '')).special_feature_display_markdown)
                  - else
                    = display_markdown "\[#{index}\] #{SpecialFeature.find_by_short_name(note).description}"
  - when (@production.performances.count{|p| p.visible? && (p.performance_date >= Date.today) } == 1)

    = render :partial=>'/ticket_orders/edit', :locals=>{:order=>create_ticket_order_for_performance(@production.performances.select{|perf| perf.visible?}.first)}
  - else
    %p.centered
      This event has no performances available for sale.