.row
  .small-12.columns
    %table
      - performances.select{|p| p.visible? && p.performance_date >= Date.today}.sort_by{|p| [p.performance_date, p.performance_time]}.each do |p|

        %tr
          %td
            = p.performance_date.to_s(:long)
          %td
            = p.performance_time.to_s(:hour_min)
            = raw special_feature_footnotes_for(p, @footnotes)
          %td
            = price_range(p)
          %td
            .show-info
              - unless p.performance_date<Date.today
                - if p.sold_out?
                  - found_sold_out = true
                  %strong Sold out!

                - elsif p.happening_soon?
                  Tickets available at door
                - elsif p.near_capacity?
                  %strong Limited availability. Call box office
                - else
                  = link_to 'Buy Tickets', new_production_performance_order_path(p.production.id,p.id), :class=>'button tiny', :style=>'margin-bottom:0em'

    - unless @footnotes.empty?
      .row
        .small-12.columns
          - index = 0
          - @footnotes.each do |note|
            - index += 1
            %p.text-right
              - if note.start_with?("_custom")
                = display_markdown(Performance.find(note[7..10]).special_feature_display_markdown)
              - else
                %p= "[#{index}] #{SpecialFeature.find_by_short_name(note).description}"
