- require 'money'
- if @production.status == Production::PRESALE
  = render :partial=>'/productions/info', :locals=>{:production=>@production, :layout_style=>:production_information}
  %p
    Tickets are not yet on sale for this show. Subscribe to our
    %a{:href=>mailing_list_link(@production)} mailing list
    for up-to-date show listings and notifications
- else
  .grid-x.grid-padding-x
    = render layout: '/productions/show_detail_column', locals: {production: @production} do
      = render :partial=>'/productions/late_seating_notice', :locals=>{:production=>@production}
    .medium-8.cell.hide-for-small-only
      = render 'calendar', :production=>@production
    .small-12.cell.show-for-small-only
      = render 'list_by_date', :performances=>@list_performances, :footnotes=>@list_footnotes