<div id="performance_calendar_split" xmlns="http://www.w3.org/1999/html">
  <% if @production.status == Production::PRESALE %>
    <%= render :partial=>'/productions/info', :locals=>{:production=>@production, :layout_style=>:production_information} %>
    <p>Tickets are not yet on sale for this show. Subscribe to our
      <a href="http://www.theaterwit.org/join/mailing.php">mailing list</a> for up-to-date show listings and
      notifications</p>
  <%- else
    found_sold_out = false %>

    <div id="show_detail_column">
      <%= render :partial=>'/productions/info', :locals=>{:production=>@production, :layout_style=>:production_information_vertical} %>
      <%= render :partial=>'/productions/late_seating_notice', :locals=>{:production=>@production} %>
    </div>

    <% if @production.status == Production::PRESALE %>
      <table class="performance_calendar">
        <tr>
          <td style="text-align:center;">Tickets are not on sale yet for this show. Join our mailing list to be kept up
            to date on when tickets will be available.
          </td>
        </tr>
      </table>
    <%- else %>
      <table class="performance_calendar">
        <caption>
          <%- if !@production.flex_pass_offer.blank? -%>
            <span class="special_offer_upsell"><%= link_to @production.flex_pass_offer.short_description, new_flex_pass_offer_order_path(@production.flex_pass_offer) unless @production.flex_pass_offer.short_description.blank? %>
            </span>
            <br/>or, purchase tickets for an individual show below
            <br/>
            <br/>
          <%- else %>
            <span class="special_offer_upsell"><a href="/boxoffice/membership">Become a member and see everything at the Wit</a> for one low monthly subscription</span>
            <br/>or, purchase tickets for an individual show below
            <br/>
            <br/>
          <%- end -%>
          <%= link_to raw("&laquo;"), :action=>:index, :start_date=>@start_date.prev_month, :end_date=>@start_date-1 %> <%= Date::MONTHNAMES[@start_date.month] %> <%= link_to raw('&raquo;'), :action=>:index, :start_date=>@end_date+1, :end_date=>@end_date+1.week %>
        </caption>
        <tr>
          <th scope="col" abbr="Sunday" title="Sunday">Sun</th>
          <th scope="col" abbr="Monday" title="Monday">Mon</th>
          <th scope="col" abbr="Tuesday" title="Tuesday">Tue</th>
          <th scope="col" abbr="Wednesday" title="Wednesday">Wed</th>
          <th scope="col" abbr="Thursday" title="Thursday">Thu</th>
          <th scope="col" abbr="Friday" title="Friday">Fri</th>
          <th scope="col" abbr="Saturday" title="Saturday">Sat</th>
        </tr>
        <%- current_week_start = @start_date.wday == 0 ? @start_date : @start_date.beginning_of_week - 1 %>
        <%- while current_week_start.month != (@start_date.month % 12) + 1 do %>
          <tr>
            <%
               0.upto(6).each do |day|
                 current_day = current_week_start + day
            %>
              <!-- %= render :partial=>'performance_list_for_day', :locals=>{:date=>current_day, :performances=>@performances} % -->
              <td class="min100px">
                <div class='day-header'>
                  <%= raw current_day<@start_date || current_day > @end_date ? '&nbsp;' : current_day.strftime('%d') %>
                </div>
                <% performances = @performances.select { |per| per.performance_date==current_day }
                   performances.each { |performance|
                    title = "#{performance.performance_time.to_s(:hour_min)}"

                          performance.special_features.each {|feature|
                            title <<= raw "<sup>[#{@footnotes.find_index(feature.short_name)+1}]&nbsp;</sup>"
                          } unless performance.special_features.nil?

                          visible = performance.ticket_class_allocations.select { |tca|
                            tca.available? && tca.ticket_class.web_visible?
                          }
                          min_price = visible.first.ticket_class.ticket_price
                          max_price = min_price
                          visible.each { |tca| min_price = [tca.ticket_class.ticket_price, min_price].min
                            max_price = [max_price, tca.ticket_class.ticket_price].max
                          }
                          display_min = min_price.to_i
                          display_max = max_price.to_i
                          display_min = Money.from_numeric(min_price) unless min_price == display_min
                          display_max = Money.from_numeric(max_price) unless max_price == display_max

                          price_range = raw "<span class=\"price_range\">$#{display_min}"
                          price_range += raw "-$#{display_max}" unless max_price == min_price
                          price_range += raw "</span>"%>
                  <span class="vertical_center">
                    <div class="show-info">
                    <%= if performance.performance_date<Date.today
                      raw title
                    elsif performance.sold_out?
                      found_sold_out = true
                      raw "<del>#{title}</del><br/><font size=\"-2\">Sold out!</font>"
                    elsif performance.happening_soon?
                      raw "#{title}<br/>#{price_range}<br/><font size=\"-2\">Door only</font>"
                    elsif performance.near_capacity?
                      raw "#{title}<br/>#{price_range}<br/><font size=\"-2\">Call box office</font>"
                    else
                      raw "#{link_to raw(title), new_production_performance_order_path(performance.production.id,performance.id)}<br/>#{price_range}"
                    end %>
                    </div>

                  </span>
                <% } %>
                </span>
              </td>
            <% end %>
          </tr>
          <%- current_week_start = current_week_start + 7 %>
        <%- end %>
        <tr>
          <td class="boxoffice-message" colspan="7">Problems? Call the box office at 773-975-8150
          </td>
        </tr>
        <tr>
          <%- if found_sold_out and !@production.allow_late_seating %>

          <tr>
            <td class="boxoffice-message" colspan="7">
              <i>Sold out?!?</i> We keep a waiting list at the door starting 90 minutes before showtime. Any
              available tickets will be released to the list at curtain.
            </td>
          </tr>
        <%- end %>

        <%- unless @footnotes.empty? %>
          <tr>
            <td colspan="7">
              <%- index = 0
                  @footnotes.each do |note|
                    index += 1 %>
                <p align="right">
                  <%= "[#{index}] #{SpecialFeature.find_by_short_name(note).description}" %>
                </p>
              <%- end %>

            </td>
          </tr>
        <%- end %>
      </table>
    <%- end %>
    </div>
  <%- end %>
