<style>
.calendar
{
width:700px;
}
.calendar .day_list_nav
{
float:left;
margin:0;
padding:0;
background:#8080B2;
width:100%;
}
.day_list_nav a
{
color:#FFFFFF;
}
.day_list_nav .previous
{
float:left;
}
.day_list_nav .next
{
float:right;
}
.calendar ul
{
float:left;
margin:0;
padding:0;
border:1px solid #C9C9C9;
width:14%;
}
.calendar ul li
{
list-style:none;
padding:0px 10px;
}
.calendar ul li.day-header
{
background:#D9D9D9;
}
</style>
<h1><%=@production.name%></h1>
<h2><%=Date::MONTHNAMES[@start_date.month]%></h2>
<div class='calendar'>
<%= render :partial=>'day_list_navigation', :locals=>{:first_date=>@start_date,:last_date=>@end_date} %>
<%
current_week_start = @start_date.beginning_of_week
1.upto(7).each do |day|
current_day = @start_date.beginning_of_week+day-1
%>
<ul class='<%=Date::DAYNAMES[day%6]%>'>
<li class='day-header'><%=Date::DAYNAMES[day%6]%></li>
<%
while current_day < @end_date+day
	%><%= render :partial=>'performance_list_for_day', :locals=>{:date=>current_day,:performances=>@performances} %><%
	current_day = current_day+1.week
end 
%>
</ul>
<% end %>

<%= render :partial=>'day_list_navigation', :locals=>{:first_date=>@start_date,:last_date=>@end_date} %>
</div>