<p>
  <b>On:</b>
  <%=h @performance.on %>
</p>

<p>
  <b>At:</b>
  <%=h @performance.at %>
</p>

<p>
  <b>Production:</b>
  <%=h @performance.production %>
</p>


<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>