<table id="production-listing" class="hide display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Season</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @theater.productions.sort {|a,b|
      cmp = (b.season <=> a.season)
      (a.name <=> b.name) unless cmp
      cmp
    }.each do |production| %>
    <tr>
      <td><%= link_to production.name, admin_theater_production_path(production.theater, production) %></td>
      <td><%= production.season %></td>
      <td><%= production.status %></td>
      <td class='text-right' style='margin-top:150px'>
        <span style="padding-top:50px">
        <% permitted_to? :delete, :productions do %>
          <%= link_to 'Destroy', [:admin, @theater, production], :confirm=>'Are you sure?', :method=>:delete, :class=>'alert small button' %>
        <% end %>
        <%= link_to 'Edit', edit_admin_theater_production_path(production.theater, production), :class=> "small button" %>
        <%=link_to 'Ticket Classes', admin_theater_production_ticket_classes_path(production.theater, production), class: 'small button' %>
        </span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

  <% permitted_to? :make, :productions do %>
    <%= link_to 'Add production', new_admin_theater_production_path(@theater), class: 'button right small' %>
  <% end %>

<% content_for :js do %>
  <script type="text/javascript">

  $(document).ready(function() {
    $('#production-listing').dataTable({

      dom: 'lf<"toolbar-buttons">rtip',
      stateSave: true,
      pagingType: "foundation",
      columnDefs: [
        {targets: "_all", orderable:false},
        {targets: "1,2,3", searchable:false},
           ],
      fnInitComplete:function() {
        $("#production-listing").show();
        this.fnAdjustColumnSizing();
      },
    });

    setupActiveSwitchOnDataTable('#production-listing',2)

  });

  </script>
<% end %>