<!--- admin/theaters/index.html.erb -->
<% content_for :title do %>Theaters<% end %>
<% content_for :breadcrumbs do %>
<ul class="breadcrumbs">
  <li class="current"><a href='#'>Theaters</a></li>
</ul>
<% end %>

<table id="theater-listing" class="hide display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Home</th>
      <th>Theater class</th>
      <th>Status</th>
      <th>

      </th>
    </tr>
  <tbody>
    <% @theaters.each do |theater| %>
      <tr>
        <td><%=link_to theater.name, [:admin, theater], :class=>"#{'strike' if theater.inactive?}" %></td>
        <td><% unless theater.url.blank? %><a href="<%= theater.url %>" target="_blank">Web Site</a><% end %></td>
        <td><%=h theater.theater_class %></td>
        <td><%=h theater.status %></td>
        <td>
          <% permitted_to? :edit, :admin_theaters do %>
            <%= link_to 'Edit', edit_admin_theater_path(theater), :id=>"edit_#{theater.name.downcase.gsub(' ','_')}", class:'small button' %>
          <% end %>
          <% permitted_to? :destroy, :admin_theaters do %>
            <%= link_to 'Destroy', [:admin, theater], :confirm => 'Are you sure?', :method => :delete, class:'small button' %>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New theater', new_admin_theater_path, :class=>'small button right' %>

<% content_for :js do %>
  <script type="text/javascript">

  $(document).ready(function() {
    $('#theater-listing').dataTable({

      dom: 'lf<"toolbar-buttons">rtip',
      stateSave: true,
      pagingType: "foundation",
      columnDefs: [
        {targets: "_all", orderable:false},
        {targets: "1,2,4", searchable:false},
           ],
      fnInitComplete:function() {
        $("#theater-listing").show();
        this.fnAdjustColumnSizing();
      },
    });
    setupActiveSwitchOnDataTable('#theater-listing',3)


  });

  </script>
<% end %>