<div id="theater_show">
  <div class="main_column">
    <h1><%=h @theater.name %></h1>
    <h3><%=h @theater.theater_class %></h3>
        <%= if @theater.url.blank?
            raw "<i>Unknown URL</i>"
           else
              link_to @theater.url
           end %><br/>
  </div>
  <div class="secondary_column">
     <b><%= @theater.status%></b><br/>
    <%= @theater.logo.url.blank? ? (raw "<i>No logo</i>") : (image_tag @theater.logo.url) %>
  </div>
  <br clear="all"/>

<%= render :partial => '/theaters/productions' %>

<p>
  <%= link_to 'Add production', new_admin_theater_production_path(@theater) %>&nbsp;
</p>

<%= link_to 'Back', admin_theaters_path %> &nbsp; <%= link_to 'Edit', edit_admin_theater_path %>

</div>