= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li= link_to 'Theaters', admin_theaters_path
    %li.current
      %a{:href=>'#'}= @theater.name

.grid-x
  .small-10.cell.left
    .grid-x.grid-padding-x
      - if @theater.logo.attached?
        - colsize = 8
        .small-2.medium-2.cell.hide-for-small-only
          = @theater.decorate.logo(Theater::MEDIUM)

      - else
        - colsize = 10

      .small.cell{:class=>"small-#{colsize} medium-#{colsize}"}
        %h3= @theater.name
        = link_to(@theater.url, @theater.url) unless @theater.url.blank?



  .small-2.cell.right
    %span.secondary.label= @theater.theater_class
    %span.secondary.label= @theater.status

  .cell
    %h4 Productions
    = render :partial => 'production_listing'


  - if can? :create, Production then
    = link_to 'Add production', [:new, :admin, @theater, :production], class: 'button'
