<% content_for :breadcrumbs do %>
<ul class="breadcrumbs">
  <li><%= link_to 'Theaters', admin_theaters_path %></li>
  <li class="current"><a href='#'><%= @theater.name %></a></li>
</ul>
<% end %>

<div class="row">
  <div class='small-10 columns left'>
    <div class="row">
      <% if @theater.logo.exists?
         colsize = 8 %>
      <div class="small-2 medium-2 columns hide-for-small-only">
        <%= image_tag(@theater.logo.url(:thumbnail), style:"max-height:120px;") if @theater.logo.exists? %>
      </div>
      <% else
          colsize = 10
        end %>
      <div class="small-<%= colsize %> medium-<%= colsize %> columns">
        <h3><%=h @theater.name %></h3>
        <%= link_to(@theater.url, @theater.url) unless @theater.url.blank? %>
      </div>
    </div>
  </div>
  <div class="small-2 columns right">
    <span class="secondary label"><%= @theater.theater_class %></span>
    <span class="secondary label"><%= @theater.status %></span><br/>
  </div>
</div>

<h4>Productions</h4>
<%= render :partial => 'production_listing' %>
</h4>



<div class="row">
  <div class="small-12 columns">
    <ul class="button-group">
      <li><%= link_to 'Back', admin_theaters_path, class: 'button' %></li>
      <% permitted_to? :update, :theaters do %>
        <li><%= link_to 'Edit Theater', edit_admin_theater_path, class: 'button' %></li>
      <% end %>
    </ul>
  </div>
</div>