.top-bar.hide-for-print#app-menu
  .top-bar-left
    %ul.dropdown.menu(data-dropdown-menu)
      %li.menu-text
        =Rails.configuration.x.app_display_name
      %li
        - if current_user.is_theater_user? then  
          %a{:href=>"#"} Your Theaters
          %ul.menu.vertical
            - Theater.where("id in (?)",current_user.theater_ids).each do |t|
              %li
                =link_to t.name, admin_theater_path(t)
        - elsif can? :read, Theater then
          %li
            =link_to('Theaters',admin_theaters_path)
        - if can? :read, Production
          %li
            =link_to('Productions', admin_productions_path)
        - if (can? :read, Order) || (can? :read, FlexPassOrder) || (can? :read, MembershipOrder) || (can? :read, TicketOrder)
          %li
            =link_to('Orders', admin_orders_path)
        - if (can? :read, Address)
          %li
            =link_to('Customers', admin_addresses_path)
        - if can?(:read, MembershipOffer) || can?(:read, FlexPassOffer)
          %li.has-dropdown
            %a{:href=>"#"} Passes
            %ul.menu.vertical
              - if can? :read, MembershipOffer
                %li
                  =link_to('Membership Offers', admin_membership_offers_path)

              - if can? :read, FlexPassOffer
                %li
                  =link_to('Flex Pass Offers', admin_flex_pass_offers_path)
        %li
          =link_to('Reports', admin_reports_path)
        - if can? :perform_analysis, Analysis
          %li.show-for-medium
            =link_to('Analysis', admin_analysis_index_path)
        %li
          %a{:href=>"#"} Options
          %ul.menu.vertical
            - if can? :edit, SpecialOffer
              %li= link_to('Special Offers', admin_special_offers_path)
            - if can? :read, Festival
              %li= link_to('Festivals', admin_festivals_path)
            -if can? :read, FileStore 
              %li= link_to "Import data", admin_imports_path
            - if (can? :edit, User) || (can? :edit, SpecialFeature) || (can? :edit, DefaultTicketClass) || (can? :edit, PaymentType) || (can? :read, FileStore) || (can? :edit, Venue)
              %li
                %li.menu-text System Config
                %ul.nested.vertical.menu
                  - if can? :read, User
                    %li
                      =link_to('Administer Users', admin_users_path)
                  - if can? :read, SpecialFeature
                    %li
                      =link_to('Performance Features', admin_special_features_path)
                  - if can? :read, DefaultTicketClass
                    %li
                      =link_to 'Default Ticket Classes', admin_default_ticket_classes_path
                  - if can? :read, PaymentType
                    %li
                      =link_to "Manage Payment Types", admin_payment_types_path
                  - if (can? :edit, Venue) then
                    %li= link_to('Venues', admin_venues_path)
                  - if (can? :edit, ServiceItemTemplate) then
                    %li= link_to('Service Items', admin_service_item_templates_path)
                  - if can? :read, FileStore
                    %li.divider
                    
                  %li
                    = link_to 'Job Queue', resque_admin_path

        %li
          =link_to('My Account', current_user_account_path)
        %li
          =link_to('Logout',logout_path, :method => :delete, :confirm => "Are you sure you want to logout?")
  .top-bar-right
    %ul.menu
      %li
        =render partial:"/admin/ticket_orders/new_order_button"


