<div class="sticky">
<nav class="top-bar" data-topbar data-options="sticky_on: large">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">StageMgr</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="left">
      <% if current_user.is_theater_user? then %>
        <li class="has-dropdown"><a href="#">Your Theaters</a>
          <ul class="dropdown">
            <% Theater.all.select{|t| current_user.theater_ids.include?(t.id) }.each {|t| %>
              <li><%= link_to t.name, admin_theater_path(t) %></li>
            <% } %>
          </ul>
        </li>
      <% elsif permitted_to? :view, :admin_theaters then %>
        <li><%= link_to('Theaters',admin_theaters_path) %></li>
      <% end %>
      <%- permitted_to? :view, :admin_orders do -%>
      <li><%= link_to('Existing Orders', admin_orders_path) %></li>
      <%- end -%>
      <% if permitted_to?(:view,:admin_membership_offers) || permitted_to(:view,:admin_flex_pass_offers) %>
      <li class="has-dropdown"><a href="#">Passes</a>
        <ul class="dropdown">
          <%- permitted_to? :view, :admin_membership_offers do -%>
          <li><%= link_to('Membership Offers', admin_membership_offers_path) %></li>
          <%- end %>
          <%- permitted_to? :view, :admin_flex_pass_offers do %>
          <li><%= link_to('Flex Pass Offers', admin_flex_pass_offers_path) %></li>
          <% end %>
        </ul>
      </li>
      <% end %>
      <li><%= link_to('Reports', admin_reports_path) %></li>
      <li class="has-dropdown"><a href="#">Options</a>
        <ul class="dropdown">
          <li><%= link_to('Special Offers', admin_special_offers_path) %></li>
          <% permitted_to? :view, :system_options do %>
            <li><label>System Config</label></li>
            <% permitted_to? :manage, :admin_users do %>
            <li><%= link_to('Administer Users', admin_users_path) %></li>
            <% end %>
            <% permitted_to? :manage, :admin_special_features do %>
            <li><%= link_to('Performance Features', admin_special_features_path) %></li>
            <% end %>
            <% permitted_to? :view, :admin_default_ticket_classes do %>
              <li><%= link_to 'Default Ticket Classes', admin_default_ticket_classes_path %></li>
            <% end %>
            <li><%=link_to "Manage Payment Types", admin_payment_types_path %></li>

            <%- permitted_to? :view, :admin_imports do %>
              <li class="divider">
              <li><%= link_to "Import data", admin_imports_path %></li>
            <% end %>
          <% end %>

        </ul>
      </li>
      <li><%= link_to('My Account', current_user_account_path) %></li>
      <li><%= link_to('Logout',logout_path, :method => :delete, :confirm => "Are you sure you want to logout?") %></li>
    </ul>
    <ul class="right">
       <li class="has_form"><%= link_to('New Ticket Order', new_admin_ticket_order_path, class:"button") %></li>
    </ul>
  </section>
</nav>
</div>


