!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "StageMgr"

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "backend"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_pack_tag 'application'
    = javascript_include_tag 'admin_application'
    = csrf_meta_tag
    = yield(:head)
  %body
    = render "layouts/menu"
    .grid-padding-x
      .cell.small-12
        =h yield(:breadcrumbs)
      -unless flash.empty?
        .cell.small-12
          = render :partial=>'/flash_notice'
      .cell
        = yield
    = yield(:js)
