<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', controller_name %>
    <%= stylesheet_link_tag "formtastic" %>
    <%= stylesheet_link_tag "formtastic_changes" %>
    <%= javascript_include_tag 'application', controller_name %>
    <%= yield(:head) %>
    <%= csrf_meta_tag %>
    <%= javascript_tag do %>
      <%= yield(:jstemplates) %>
    <% end -%>
  </head>
  <body>
	<%= render :partial=>"layouts/menu" %>
    <div id="container">
			<%= render :partial=>'/flash_notice' %>


    <%- if show_title? -%>
      <h1><%=h yield(:title) %></h1>
    <%- end -%>

    <%= yield %>
  </div>
</body>
</html>

